*_thumb_full.png
*_thumb_small.png
*_thumb_medium.png
*_thumb_large.png
*_thumb_full-*.png
*_thumb_small-*.png
*_thumb_medium-*.png
*_thumb_large-*.png
histogramData_*_*.gnuplot.svg
rowMeanData_*_*.gnuplot.svg
colMeanData_*_*.gnuplot.svg
