{% extends "cosmicapp/base.html" %}

{% load static %}
{% load cosmicapp_extras %}

{% block extratitle %} - Audio Note {{audioNote.id}} {% endblock extratitle %}

{% block extrahead %}
{% endblock extrahead %}

{% block mainbody %}
<h2>Audio note {{audioNote.id}}</h2>
<p>
Uploaded By User: <a href="/user/{{audioNote.fileRecord.user}}/">{{audioNote.fileRecord.user}}</a>
<br>On: {{audioNote.fileRecord.uploadDateTime}} ({{audioNote.fileRecord.uploadDateTime|timesince}} ago)
<br>Length: {{audioNote.length}}
<br>
<br><audio controls style="width: 90%;" src="/audioNote/{{audioNote.id}}/audio/"></audio>
</p>

<h3>Transcriptions</h3>

<div style="margin: 0.5em;">
<form action="/audioNote/{{audioNote.id}}/" method=POST>
{% csrf_token %}

New Transcription:
<br><textarea rows=10 cols=50 name=transcriptionText>{{transcriptionText}}</textarea>
<br><input type=submit value="Create new transcription">
</form>
</div>

{% for transcription in transcriptions %}
    <div style="border: 2px solid lightgrey; margin: 0.5em;">
    Created by user: <a href="/user/{{transcription.user}}/">{{transcription.user}}</a>
    on {{transcription.dateTime}} ({{transcription.dateTime|timesince}} ago)&emsp;&emsp;
    <a href="/audioNote/{{audioNote.id}}/?transcriptionId={{transcription.pk}}">Edit</a>
    <br>
    <br>
    {{transcription.transcription|safe}}
    </div>
{% endfor %}

{% endblock mainbody %}

