{% extends "cosmicapp/base.html" %}

{% load static %}
{% load cosmicapp_extras %}

{% block extratitle %} - Audio Note {% endblock extratitle %}


{% block extrahead %}
{% include "./jquery.html" %}
<script src="/static/cosmicapp/opus-recorder/recorder.min.js"></script>
{% comment %}
<script src="/static/cosmicapp/search.js"></script>
{% if user.is_authenticated %}<script src="/static/cosmicapp/bookmark.js"></script>{% endif %}
<script src="/static/cosmicapp/imageTable.js"></script>
<script src="/static/cosmicapp/raDec.js"></script>
<script src="/static/cosmicapp/math.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/cosmicapp/bokeh-0.12.9.min.css">
<script src="/static/cosmicapp/bokeh-0.12.9.min.js"></script>
<script src="/static/cosmicapp/bokeh-api-0.12.9.min.js"></script>
{% endcomment %}


{% endblock extrahead %}

{% block mainbody %}
<h2>Audio Note Recorder</h2>

{% filter markdownParse %}
<font color=red>
Privacy Notice: Any audio notes that you record and upload on this page are intended to be
a public record and **will be shared** with all users of this website.  Please do not
record and upload anything you don't want stored, transcribed, and saved along with your
observing notes.
</font>

This page allows you to record audio notes right from your web browser, on a computer or a
phone, or wherever.  Click the *initialize* button below to set up the recorder with the desired
volume settings and then click *start* to start recording.  You can *pause* and *resume* as many
times as you like to make a long recording in multiple pieces or click stop to do each
piece separately.

After you have recorded some audio notes, you can listen to them right on
this page before they are uploaded and any notes which you want to discard can then be gotten
rid of by clicking the *delete this* button.  If you click the *download* button for a clip
you will download a copy to your computer (but the audio is not saved to the cosmic server
yet).  When you press *upload* the file will be saved to the cosmic server with a
timestamp and will be available to be transcribed into text.

{% endfilter %}

<h3>Options</h3>

<div>
<label>Monitor Gain (0 to 1):</label>
<input id="monitorGain" type="number" value="0.0" step="0.05" />
Echoes back the recorded audio as you record, make sure to use headphones if you enable this.
</div>

<div>
<label>Recording Gain (0 to 1):</label>
<input id="recordingGain" type="number" value="1" step="0.05" />
The volume level of the recording.
</div>

<button id="init">Setup recorder with options</button>

<h3>Observation details</h3>
<!--
<div id=searchResultsDiv style="float:right; margin: 1em; padding: .5em; width: 500px; border: 2px solid lightgrey;" hidden>
</div>
-->

Object Name: <input id=foo type=text name=object value="{{object}}">
<!--
&emsp;<a class=functionLink onclick="searchForObject()">(Search)</a>
-->
<br>Object RA (decimal deg): <input id=objectRA type=text name=objectRA value="{{objectRA}}">
<br>Object Dec (decimal deg): <input id=objectDec type=text name=objectDec value="{{objectDec}}">
<br>Observing location:
<select name=observatoryID>
    <option value="">Select observatory</option>

    {% if defaultObservatory %}
        <option value="{{defaultObservatory.pk}}" {% if defaultObservatory.pk == observatoryID %}selected="selected"{% endif %}>{{defaultObservatory.name}}
        ({{defaultObservatory.lat|floatformat:3}}
        {{defaultObservatory.lon|floatformat:3}})</option>
    {% endif %}

    {% for otherObservatory in otherObservatories %}
        <option value="{{otherObservatory.pk}}" {% if otherObservatory.pk == observatoryID %}selected="selected"{% endif %}>{{otherObservatory.name}}
        ({{otherObservatory.lat|floatformat:3}}
        {{otherObservatory.lon|floatformat:3}})</option>
    {% endfor %}
</select>

<br>Instrument Used:
<select name=instrumentID>
    <option value="">Select instrument</option>

    {% if defaultInstrument %}
        <option value="{{defaultInstrument.pk}}" {% if defaultInstrument.pk == instrumentID %}selected="selected"{% endif %}>{{defaultInstrument.name}}
        </option>
    {% endif %}

    {% for otherInstrument in otherInstruments %}
        <option value="{{otherInstrument.pk}}" {% if otherInstrument.pk == instrumentID %}selected="selected"{% endif %}>{{otherInstrument.name}}
        </option>
    {% endfor %}
</select>


<h3>Recorder Commands</h3>
<button id="start" disabled>start</button>
<button id="pause" disabled>pause</button>
<button id="resume" disabled>resume</button>
<button id="stopButton" disabled>stop</button>

<h3>Recordings</h3>
<ul id="recordingslist"></ul>

<h3>Log</h3>
<pre id="log"></pre>

<script>
function upload(blob, progressBar, clickedElement)
{
    var csrftoken = getCookie('csrftoken');

    var xhr = new XMLHttpRequest();
    xhr.open('POST', '', true);
    xhr.setRequestHeader("X-CSRFToken", csrftoken);
    xhr.setRequestHeader('object', document.getElementsByName('object')[0].value);
    xhr.setRequestHeader('objectRA', document.getElementsByName('objectRA')[0].value);
    xhr.setRequestHeader('objectDec', document.getElementsByName('objectDec')[0].value);
    xhr.setRequestHeader('observatoryID', document.getElementsByName('observatoryID')[0].value);
    xhr.setRequestHeader('instrumentID', document.getElementsByName('instrumentID')[0].value);

    var progressBar = $(clickedElement).parent().children('progress').get(0);
    //document.querySelector('progress');
    xhr.upload.onprogress = function(e)
    {
        if (e.lengthComputable)
        {
            progressBar.value = (e.loaded / e.total) * 100;
            progressBar.textContent = progressBar.value; // Fallback for unsupported browsers.
        }
    };

    xhr.upload.onload = function(e)
    {
        $(clickedElement).parent().parent().hide(1000, function(){$(this).remove()});
    };

    xhr.upload.onerror = function(e)
    {
        alert('Error: Upload failed.');
    };

    xhr.send(blob);
};

function screenLogger(text, data)
{
    log.innerHTML += "\n" + text + " " + (data || '');
}

if (!Recorder.isRecordingSupported())
{
    screenLogger("Recording features are not supported in your browser.");
}
else
{
    init.addEventListener( "click", function()
    {
        init.disabled = true;
        start.disabled = false;
        monitorGain.disabled = true;
        recordingGain.disabled = true;

        var recorder = new Recorder({
            monitorGain: parseFloat(monitorGain.value, 10),
            recordingGain: parseFloat(recordingGain.value, 10),
            numberOfChannels: 1,
            encoderBitRate: 32000,
            encoderSampleRate: 24000,
            encoderPath: "/static/cosmicapp/opus-recorder/encoderWorker.min.js"
            });

        pause.addEventListener( "click", function(){ recorder.pause(); });
        resume.addEventListener( "click", function(){ recorder.resume(); });
        stopButton.addEventListener( "click", function(){ recorder.stop(); });
        start.addEventListener( "click", function()
        { 
            recorder.start().catch(function(e)
            {
                screenLogger('Error encountered:', e.message );
            });
        });

        recorder.onstart = function(e)
        {
            log.innerHTML = '';
            screenLogger('Recorder is started');
            start.disabled = resume.disabled = true;
            pause.disabled = stopButton.disabled = false;
        };

        recorder.onstop = function(e)
        {
            screenLogger('Recorder is stopped');
            start.disabled = false;
            pause.disabled = resume.disabled = stopButton.disabled = true;
        };

        recorder.onpause = function(e)
        {
            screenLogger('Recorder is paused');
            pause.disabled = start.disabled = true;
            resume.disabled = stopButton.disabled = false;
        };

        recorder.onresume = function(e)
        {
            screenLogger('Recorder is resuming');
            start.disabled = resume.disabled = true;
            pause.disabled = stopButton.disabled = false;
        };

        recorder.ondataavailable = function( typedArray )
        {
            //TODO: Need to store the time the audio file is created and pass that to the
            //server so that the recorded time is for the actual note time, not just when
            //they uploaded it.
            var dataBlob = new Blob( [typedArray], { type: 'audio/ogg' } );
            var fileName = new Date().toISOString() + ".opus";
            var url = URL.createObjectURL( dataBlob );

            var audioDiv = document.createElement('div');
            audioDiv.style = 'border: 2px solid lightgrey;';

            var deleteButton = document.createElement('input');
            deleteButton.type = 'button';
            deleteButton.value = 'Delete This';
            $(deleteButton).click(function()
            {
                $(deleteButton).parent().parent().hide(1000, function(){$(this).remove()});
            });

            var audio = document.createElement('audio');
            audio.controls = true;
            audio.src = url;

            var link = document.createElement('a');
            link.href = url;
            link.download = fileName;
            link.innerHTML = 'Download';

            var progress = document.createElement('progress');
            progress.min = 0;
            progress.max = 100;
            progress.value = 0;
            var progressText = document.createTextNode("Progress: ");

            var uploadButton = document.createElement('button');
            var t = document.createTextNode("Upload");
            uploadButton.id = 'uploadButton';
            uploadButton.appendChild(t);
            uploadButton.onclick = function()
            {
                upload(dataBlob, progress, this);  
            };

            var li = document.createElement('li');
            li.appendChild(deleteButton);
            li.appendChild(link);
            li.appendChild(audio);
            li.appendChild(uploadButton);
            li.appendChild(progressText);
            li.appendChild(progress);

            audioDiv.appendChild(li);
            recordingslist.appendChild(audioDiv);
        };
    });
}
</script>
{% endblock mainbody %}

