{% load static %}

<!DOCTYPE html>

<head>
    <title>Cosmic.science {% block extratitle %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/cosmicapp/style.css">
    {% block extrahead %}{% endblock %}
</head>

<body>
<ul class=navBar>
	<li class="dropdown">
	<a href="/" class="dropbtn">Cosmic</a>
	<div class="dropdown-content">
		<a class="topbarButton" href="/processqueue">Queue</a>
		<a class="topbarButton" href="/questions">Questions</a>
		<a class="topbarButton" href="/imageProperties">Image Properties</a>
		<a class="topbarButton" href="/catalogs">Catalogs</a>
		<a class="topbarButton" href="/utility">Site Statistics</a>
	</div>
	</li>

	<li class="dropdown">
	<a class="dropbtn">Tools</a>
	<div class="dropdown-content">
		<a class="topbarButton" href="/observing">Observing Suggestions</a>
		<a class="topbarButton" href="/export/bookmarks">Export Bookmarks</a>
		<a class="topbarButton" href="/calibration">Calibration Library</a>
		<a class="topbarButton" href="/mosaic">Mosaic Images</a>
		<a class="topbarButton" href="/equipment">Equipment Editor</a>
	</div>
	</li>

	<li class="dropdown">
	<a class="dropbtn">Analyze</a>
	<div class="dropdown-content">
		<a class="topbarButton" href="/image/-1/question/">Answer Questions About Images</a>
		<a class="topbarButton" href="/image/gallery/?savedQuery=helpFindPlateSolutions">Help Find Plate Solutions</a>
		<a class="topbarButton" href="/transcribe">Help Transcribe Audio Observing Notes</a>
	</div>
	</li>

	<li class="dropdown">
	<a href="/image/gallery/" class="dropbtn">Browse</a>
	<div class="dropdown-content">
		<a class="topbarButton" href="/map/sky">Sky Map</a>
		<a class="topbarButton" href="/imageProperties/?keyContains=exposureTime">Images By Exposure Time</a>
		<a class="topbarButton" href="/imageProperties/?keyContains=filter|colorBand|colorSpace">Images By Filter</a>
		<a class="topbarButton" href="/imageProperties/?keyContains=width|height">Images By Dimensions</a>
		<a class="topbarButton" href="/imageProperties/?keyContains=binningX|binningY">Images By Binning</a>
		<a class="topbarButton" href="/imageProperties/?keyContains=numAxis|totalNumChannels">Images By Number of Image Planes</a>
		<a class="topbarButton" href="/imageProperties/?keyContains=imageType">Images By Frame Type</a>
		<a class="topbarButton" href="/imageProperties/?keyContains=ccdTemp">Images By CCD Temperature</a>
		<a class="topbarButton" href="/imageProperties/?keyContains=imageIsStacked|numCombinedImages">Stacked Images</a>
		<a class="topbarButton" href="/imageProperties/?keyContains=Corrected|Calibrated">Images With Calibration Applied</a>
		<a class="topbarButton" href="/imageProperties/?keyContains=astrometry|sextractor|image2xy|daofind|starfind">Images By Processing Status</a>
		<a class="topbarButton" href="/imageProperties/?keyContains=&valueContains=unknown">Images With Known Unknowns</a>
	</div>
	</li>

	<li class="dropdown">
	<a href="/learn/" class="dropbtn">Learn</a>
	<div class="dropdown-content">
		<a class="topbarButton" href="/learn/plate_solution/">Plate Solution</a>
	</div>
	</li>

{% if user.is_authenticated %}
  <li class="dropdown" style="float:right;">
    <a href="/user/{{user}}" class="dropbtn">{{user}}</a>
    <div class="dropdown-content" style="right:0;">
      <a class="topbarButton" href="/logout">Logout</a>
    </div>
  </li>
{% else %}
	<li class="dropdown" style="float:right;"><a class="dropbtn" href="/login?next={{request.path}}">Log in / Create account</a></li>
{% endif %}

	<li class="dropdown" style="float:right"><a class="dropbtn" href="/upload">Upload</a>
	<div class="dropdown-content">
        <a class="topbarButton" href="/audioNote/">Audio Note</a>
    </div>
    </li>
	<li class="dropdown" style="float:right"><a class="dropbtn" href="/download">Download</a></li>
	<li class="dropdown" style="float:right"><a class="dropbtn" href="/donate">Donate</a></li>
	<li class="dropdown" style="float:right">
    <a class="dropbtn" href="/about">About</a>
	<div class="dropdown-content">
        <a class="topbarButton" href="/about/processes">Processes</a>
        <a class="topbarButton" href="/about/scoring">Observation Scoring</a>
    </div>
    </li>
</ul>

{% block topSection %}{% endblock %}
{% block mainbody %}{% endblock %}
{% block bottomSection %}{% endblock %}
</body>

