{% load static %}

<!DOCTYPE html>

<head>
    <title>Cosmic.science {% block extratitle %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/cosmicapp/style.css">
    {% block extrahead %}{% endblock %}
</head>

<ul class=navBar>
	<li class="dropdown">
	<a href="/" class="dropbtn">Cosmic</a>
	<div class="dropdown-content">
		<a class="topbarButton" href="/processqueue">Queue</a>
		<a class="topbarButton" href="/questions">Questions</a>
		<a class="topbarButton" href="/imageProperties">Image Properties</a>
		<a class="topbarButton" href="/catalogs">Catalogs</a>
	</div>
	</li>

	<li class="dropdown">
	<a class="dropbtn">Tools</a>
	<div class="dropdown-content">
		<a class="topbarButton" href="/observing">Observing Suggestions</a>
		<a class="topbarButton" href="/export/bookmarks">Export Bookmarks</a>
		<a class="topbarButton" href="/calibration">Calibration Library</a>
		<a class="topbarButton" href="/mosaic">Mosaic Images</a>
		<a class="topbarButton" href="/equipment">Equipment Editor</a>
	</div>
	</li>

	<li class="dropdown">
	<a class="dropbtn">Analyze</a>
	<div class="dropdown-content">
		<a class="topbarButton" href="/image/-1/question/">Answer Questions About Images</a>
		<a class="topbarButton" href="/image/gallery/?savedQuery=helpFindPlateSolutions">Help Find Plate Solutions</a>
	</div>
	</li>

	<li class="dropdown">
	<a class="dropbtn">Browse</a>
	<div class="dropdown-content">
		<a class="topbarButton" href="/image/gallery/">Image Gallery</a>
	</div>
	</li>

	<li class="dropdown">
	<a href="/learn/" class="dropbtn">Learn</a>
	<div class="dropdown-content">
		<a class="topbarButton" href="/learn/plate_solution/">Plate Solution</a>
	</div>
	</li>

{% if user.is_authenticated %}
  <li class="dropdown" style="float:right;">
    <a href="/user/{{user}}" class="dropbtn">{{user}}</a>
    <div class="dropdown-content" style="right:0;">
      <a class="topbarButton" href="/logout">Logout</a>
    </div>
  </li>
{% else %}
	<li class="dropdown" style="float:right;"><a class="dropbtn" href="/login">Log in / Create account</a></li>
{% endif %}

	<li class="dropdown" style="float:right"><a class="dropbtn" href="/upload">Upload</a></li>
	<li class="dropdown" style="float:right"><a class="dropbtn" href="/donate">Donate</a></li>
	<li class="dropdown" style="float:right">
    <a class="dropbtn" href="/about">About</a>
	<div class="dropdown-content">
        <a class="topbarButton" href="/about/processes">Processes</a>
        <a class="topbarButton" href="/about/scoring">Observation Scoring</a>
    </div>
    </li>
</ul>

{% block topSection %}{% endblock %}
{% block mainbody %}{% endblock %}

