{% extends "cosmicapp/processDescriptionTemplate.html" %}
{% load cosmicapp_extras %}

{% block extratitle %} - About calculateUserCostTotals {% endblock extratitle %}

{% block processName %}calculateUserCostTotals{% endblock %}

{% block synopsis %}
A site task exectued by a chron job on the webserver itself which periodically goes through the database and calculates
the cost (for each individual user) to pay for the services (processing time and data storage) provided to that
specific user.  These costs are used as part of the priority score for tasks in the <a href="/processqueue">processing
queue</a> which are still waiting to be executed.
{% endblock %}

{% block description %}
{% endblock %}

{% block arguments %}
{% filter markdownParse %}
* startTimeString - a string containing a date and time to define the beginning of the time window to calculate cost totals for.
* endTimeString - a string containing a date and time to define the end of the time window to calculate cost totals for.
* processInputId - The primary key of the ProcessInput object that describes this particular task.
{% endfilter %}
{% endblock %}


