{% extends "cosmicapp/base.html" %}
{% load static %}
{% load cosmicapp_extras %}

{% block extratitle %} - Calibration library tool {% endblock %}

{% block extrahead %}
{% include "./jquery.html" %}
<script src="/static/cosmicapp/imageTable.js"></script>
<script>
var biasIdList = [], darkIdList = [], flatIdList = [], lightIdList = [];

function handleImageClick(id, galleryName)
{
    var html = '';
    var i;
    var idList;
    var combineType;

    switch(galleryName)
    {
        case 'biasGallery':    idList = biasIdList;    combineType = 'Bias';    break;
        case 'darkGallery':    idList = darkIdList;    combineType = 'Dark';    break;
        case 'flatGallery':    idList = flatIdList;    combineType = 'Flat';    break;
        case 'lightGallery':    idList = lightIdList;    combineType = 'Light';    break;

        default:    alert('ERROR: Gallery name "' + galleryName + '" not recognised.');    return;
    }

    var gallery = window['gallery_' + galleryName];

    var i = idList.indexOf(id);
    if(i == -1)
    {
        gallery.selectImage(id);
        idList[idList.length] = id;
    }
    else
    {
        gallery.unselectImage(id);
        idList.splice(i, 1);
    }

    html += 'Selected ' + idList.length + ' images to combine:<br>';
    for(i = 0; i < idList.length; i++)
    {
        var image = gallery.getImageById(idList[i]);
        html += '<span style="display: inline-block; margin: .1em;">';
        html += '';
        html += '<img src="' + image.thumbUrlSmall + '"><br>';
        html += '<a href="/image/' + idList[i] + '">Image ' + idList[i] + '</a> ';
        html += '</span>';
    }

    if(idList.length >= 2 || (idList.length >= 1 && combineType.toLowerCase() == 'light') )
    {
        html += '<br><input type=button class=button value="Combine ' + combineType + ' Images" ';
        html += 'onclick="combineImageIds(\'' + combineType + '\',\'' + JSON.stringify(idList) + '\')">';
    }

    $('#gallery_' + galleryName + '_top_div').html(html);
};

function combineImageIds(combineType, idList)
{
    var masterBiasId = '-1', masterDarkId = '-1', masterFlatId = '-1';

    if(combineType.toLowerCase() == 'dark')
    {
        masterBiasId = document.getElementsByName('darkMasterBiasId')[0].value;
        if(masterBiasId == "")
        {
            alert('ERROR: You must provide the id number of a master bias image to use for calibrating the dark frames before stacking.');
            return;
        }
    }

    else if(combineType.toLowerCase() == 'flat')
    {
        masterBiasId = document.getElementsByName('flatMasterBiasId')[0].value;
        if(masterBiasId == "")
        {
            alert('ERROR: You must provide the id number of a master bias image to use for calibrating the flat frames before stacking.');
            return;
        }

        masterDarkId = document.getElementsByName('flatMasterDarkId')[0].value;
        if(masterDarkId == "")
        {
            alert('ERROR: You must provide the id number of a master dark image to use for calibrating the flat frames before stacking.');
            return;
        }
    }

    else if(combineType.toLowerCase() == 'light')
    {
        //TODO: The bias flat and dark correction images are actually optional for
        //stacking light frames since the frames might already be calibrated or might not
        //have calibration frames to use with them.  Need to make changes down the
        //processing pipeline to support this method of operation.
        masterBiasId = document.getElementsByName('lightMasterBiasId')[0].value;
        if(masterBiasId == "")
        {
            alert('ERROR: You must provide the id number of a master bias image to use for calibrating the light frames before stacking.');
            return;
        }

        masterDarkId = document.getElementsByName('lightMasterDarkId')[0].value;
        if(masterDarkId == "")
        {
            alert('ERROR: You must provide the id number of a master dark image to use for calibrating the light frames before stacking.');
            return;
        }

        masterFlatId = document.getElementsByName('lightMasterFlatId')[0].value;
        if(masterDarkId == "")
        {
            alert('ERROR: You must provide the id number of a master flat image to use for calibrating the light frames before stacking.');
            return;
        }
    }

    $.ajax({
        url : "/process/combineImageIds/",
        type : "post",
        async: true,
        dataType: 'json',
        data: {
            combineType: combineType,
            idList: idList,
            masterBiasId: masterBiasId,
            masterDarkId: masterDarkId,
            masterFlatId: masterFlatId
        },
        success : function(response)
        {
            alert(response.message);
        },
        error : function(response)
        {
            var response = response.responseJSON;
            alert(response.errorMessage);
        }
    });
};

</script>
{% endblock extrahead %}

{% block mainbody %}

<h2>Calibration library tool</h2>

<p>This page shows calibration images uploaded from a particular user (defaulting to you), and filtered by a particular
observing instrument.  You can then select multiple calibration frames to be combined into master calibration frames
which can then be applied to a series of science frames to produced calibrated images suitable for scientific analysis.</p>

<h3>Bias frames</h3>

{% include "./imageTable.html" with queryParams="imageProperty=imageType=bias:user="|concat:user|safe imageOnclickFunction="handleImageClick" galleryName="biasGallery" includeLinks="false" thumbnailSize="Small" displayType="table" %}

<h4>Master Bias frames</h4>

{% include "./imageTable.html" with queryParams="imageProperty=imageType=masterBias:user="|concat:user|safe galleryName="masterBiasGallery" includeLinks="true" thumbnailSize="Medium" %}

<h3>Dark frames</h3>

Master Bias Image ID (required): <input type=text name=darkMasterBiasId>
<br>

{% include "./imageTable.html" with queryParams="imageProperty=imageType=dark:user="|concat:user|safe imageOnclickFunction="handleImageClick" galleryName="darkGallery" includeLinks="false" thumbnailSize="Small" displayType="table" %}

<h4>Master Dark frames</h4>

{% include "./imageTable.html" with queryParams="imageProperty=imageType=masterDark:user="|concat:user|safe galleryName="masterDarkGallery" includeLinks="true" thumbnailSize="Medium" %}

<h3>Flat frames</h3>

Master Bias Image ID (required): <input type=text name=flatMasterBiasId>
<br>
Master Dark Image ID (required): <input type=text name=flatMasterDarkId>
<br>

{% include "./imageTable.html" with queryParams="imageProperty=imageType=flat:user="|concat:user|safe imageOnclickFunction="handleImageClick" galleryName="flatGallery" includeLinks="false" thumbnailSize="Small" displayType="table" %}

<h4>Master Flat frames</h4>

{% include "./imageTable.html" with queryParams="imageProperty=imageType=masterFlat:user="|concat:user|safe galleryName="masterFlatGallery" includeLinks="true" thumbnailSize="Medium" %}

<h3>Light frames</h3>

Master Bias Image ID (required): <input type=text name=lightMasterBiasId>
<br>
Master Dark Image ID (required): <input type=text name=lightMasterDarkId>
<br>
Master Flat Image ID (required): <input type=text name=lightMasterFlatId>
<br>

{% include "./imageTable.html" with queryParams="imageProperty=imageType=light:imageProperty=astrometryNet=success:imageProperty=flatCorrected=unknown:user="|concat:user|safe imageOnclickFunction="handleImageClick" galleryName="lightGallery" includeLinks="false" thumbnailSize="Medium" %}

<h4>Stacked light frames</h4>

{% include "./imageTable.html" with queryParams="imageProperty=imageType=stackedLight:user="|concat:user|safe galleryName="stackedLightGallery" includeLinks="true" thumbnailSize="Medium" %}

{% endblock mainbody %}

