{% extends "cosmicapp/base.html" %}
{% load static %}
{% load humanize %}

{% block extratitle %} - Catalogs {% endblock %}

{% block mainbody %}

<h2>Catalogs</h2>

<p>This page lists the various astronomical catalogs in use on the Cosmic website.  These catalogs are used to generate
recommended objects for observing lists, to assist in plate solving of submitted images, and to provide additional
information on objects detected in solved plates.  The purpose of this page is to provide attribution to the groups who
produced these catalogs, as well as to answer any questions our users might have about what data is available directly
in our database and what sources it is gathered from.</p>

<h2>Imported Catalogs</h2>

{% for catalog in catalogs %}
    <br>
    <h3>{{catalog.name}}</h3>

    <p><i>{{catalog.fullName}}</i></p>

    <p>Contains {{catalog.numObjects|intcomma}} objects of type: {{catalog.objectTypes}}
    {% if catalog.limMagnitude %} - down to a limiting magnitude of {{catalog.limMagnitude}}{% endif %}</p>

    <p>
    {% if catalog.vizierUrl %}
    Link to catalog entry on VizieR: <a href="{{catalog.vizierUrl}}">{{catalog.vizierID}}</a>&emsp;&emsp;
    {% endif %}
    {% if catalog.url %}<a href="{{catalog.url}}">Web link</a>{% endif %}</p>

    <p>Attribution: <i>{{catalog.attributionShort}}</i></p>

    {% if catalog.attributionLong %}<p><i>{{catalog.attributionLong}}</i></p>{% endif %}

    {% if catalog.cosmicNotes %}<p>Notes specific to the Cosmic website: <i>{{catalog.cosmicNotes}}</i></p>{% endif %}

{% endfor %}

{% endblock %}
