{% extends "cosmicapp/base.html" %}

{% load static %}
{% load cosmicapp_extras %}

{% block extratitle %} - Comments {% endblock extratitle %}

{% block extrahead %}
{% endblock extrahead %}

{% block mainbody %}
<h2>Recent Comments</h2>

{% for comment in comments %}
User: <a href="/user/{{comment.user}}">{{comment.user}}</a>&emsp;Posted {{comment.dateTime|timesince}} ago
&emsp;<a href="{{comment.contextUrl}}#comment_{{comment.id}}">Context</a>
<br>
{{comment|safe}}
<br>
{% endfor %}

{% endblock mainbody %}

