{% load cosmicapp_extras %}
{{prefix|default_if_none:""}}
{% with previousCommentIndentLevel|default:0|add:1 as commentIndentLevel %}
{% with commentIndentLevel as previousCommentIndentLevel %}
{% with commentIndentLevel|multiply:-3 as widthModifier %}
<div style="margin-top: .5em; margin-left: 1em; margin-right: 1em; margin-bottom: .5em;
border: 1px solid grey; width: {% filter add:widthModifier %}{{commentWidthInEM|default:60}}{% endfilter %}em;">
{% if comment.score >= 0 %}
    <font color=blue size=+3><a id="commentToggle_{{comment.id}}" onclick="showHideComment('{{comment.id}}')">-</a></font>
{% else %}
    <font color=blue size=+3><a id="commentToggle_{{comment.id}}" onclick="showHideComment('{{comment.id}}')">+</a></font>
{% endif %}

<div style="display: inline-block; position: relative; top: 7px; left: 5px;">
Posted by <a href="/user/{{comment.user}}">{{comment.user}} ({{comment.user.profile.commentScore}})</a>
{{comment.dateTime|timesince}} ago
<br>
Score {{comment.score}}
{% if comment.moderations.count > 0 %}
(
{% for moderation in comment.moderations.all %}
    <font {% if moderation.user == user %}color=green{% endif %}>{{moderation.modValue}}</font>
{% endfor %}
)
{% endif %}

{% if comment.flags.count > 0 %}
<br>
(
{% for flag in previousFlagsCounts %}
    {{flag.flagValue}}{% if flag.count > 1 %} x{{flag.count}}{% endif %}
{% endfor %}
)
{% endif %}

{% if comment.needsResponses.count > 0 %}
<br>
(
{% for response in previousResponsesCounts %}
    {{response.responseValue}}{% if response.count > 1 %} x{{response.count}}{% endif %}
{% endfor %}
)
{% endif %}

</div>
<br>
<div class=comment id="comment_{{comment.id}}" {% if comment.score < 0 %}hidden{% endif %}>
<div style="background: 
{% if comment.user == highlightCommentsFromUser %}
#bbe;
{% else %}
#eee;
{% endif %}
">{{comment|safe}}</div>
{% if user.is_authenticated %}
<br>
<span id="comment_{{comment.id}}_interactSpanSmall"
onclick="$('#comment_{{comment.id}}_interactSpan').show(200); $(this).hide();">
<a class=functionLink>(Interact)</a>
</span>
<span id="comment_{{comment.id}}_interactSpan" hidden>

{% newComment "comment" comment.id "Reply" %}
<br>
{% if previousFlags.count == 0 %}
<select id="comment_{{comment.id}}_flag" onchange="flagComment(this)">
    <option value="">Flag</option>
    <option value="spam">Spam</option>
    <option value="moderator">Moderator Review</option>
</select>
<span id="comment_{{comment.id}}_flagSpan"></span>
{% endif %}

{% if previousResponses.count == 0 %}
<select id="comment_{{comment.id}}_needsResponse" onchange="commentNeedsResponse(this)">
    <option value="">Needs Response</option>
    <option value="question">Question</option>
    <option value="feedback">Site Feedback</option>
</select>
<span id="comment_{{comment.id}}_needsResponseSpan"></span>
{% endif %}

</span>

{% if user.profile.modPoints > 0 and previousMods.count == 0 %}
<select id="comment_{{comment.id}}_moderate" onchange="moderateComment(this)">
    <option value="">Click to Moderate</option>
    <option value="informative">Informative +1</option>
    <option value="interesting">Interesting +1</option>
    <option value="funny">Funny +1</option>
    <option value="offtopic">Offtopic -1</option>
    <option value="troll">Troll -1</option>
    <option value="spam">Spam -1</option>
    <option value="hide">Do Not Show -10</option>
</select>
<span id="comment_{{comment.id}}_moderateSpan"></span>
{% endif %}

{% if previousFlags.count != 0 %}
    <span id="comment_{{comment.id}}_flagSpan">
    {% for previousFlag in previousFlags %}
    <br>
    Flagged {{previousFlag.flagValue}} on {{previousFlag.dateTime}} ({{previousFlag.dateTime|timesince}} ago)
    {% endfor %}
    </span>
{% endif %}

{% if previousResponses.count != 0 %}
    <span id="comment_{{comment.id}}_responseSpan">
    {% for previousResponse in previousResponses %}
    <br>
    Flagged {{previousResponse.responseValue}} on {{previousResponse.dateTime}} ({{previousResponse.dateTime|timesince}} ago)
    {% endfor %}
    </span>
{% endif %}

{% if user.profile.modPoints == 0 or previousMods.count != 0 %}
    <span id="comment_{{comment.id}}_moderateSpan">
    {% for previousMod in previousMods %}
    <br>
    Moderated {{previousMod.modValue}} on {{previousMod.dateTime}} ({{previousMod.dateTime|timesince}} ago)
    {% endfor %}
    </span>
{% endif %}
{% endif %}

<br>
{% for comment in comment.comments.all %}
    {% displayComment comment %}
{% endfor %}
</div>
<br>
</div>
{% endwith %}
{% endwith %}
{% endwith %}
{{postfix|default_if_none:""}}
