{% extends "cosmicapp/base.html" %}
{% load cosmicapp_extras %}

{% block extratitle %} - Donate {% endblock %}

{% block mainbody %}
<h2>Donate</h2>

<p>
If you find Cosmic useful to you and would like to help support its operation and development, please consider making a
donation to keep this site going.  Your donations not only help pay for the costs so you can continue to make use of
the tools here, but also pay for storing and sharing the collected data so that new discoveries can be made.  Here are
a few things to consider if you are thinking about donating.
</p>

<ul>
    <li><p>
    <b>No advertisements</b> - Cosmic does not show ads on our website.  Period.  We don't show ads to our members, and
    we don't show ads to visitors to the site.  Although this is the most obvious way to generate revenue for a
    website, we believe it is innapropriate to run ads on a site dedicated to the pursuit and study of scientific
    knowledge.  By not running ads we retain independence from our advertisers and don't distract from our core mission
    of furthering scientific discovery.  This, coupled with the fact that ads are nearly ubiquitous on the web, leads us
    to conclude that although it might be easier, it is probably not the right way to fund the site.
    </li></p>

    <li><p>
    <b>Scientifc accuracy</b> - Although there are many other image sharing sites on the web, Cosmic is different.  Our
    driving focus is always on the careful handling of the data we store and on processing it in a way that is
    scientifically rigorous.  Our processing tools and code are all open to inspection and documented so that people
    making use of the data here can understand how it was handled to produce the results on our site.
    </li></p>

    <li><p>
    <b>Open source development</b> - As strong believers in the free software movement, all of the code and
    documentation for our site is kept under free software licenses to the best of our ability.  We beleive that the
    sharing of knowledge, code, and ideas is the core of the scientific process and will do our part to make sure we are
    able to contribute back to the growing body of human understanding, not just with data, but with code as well.
    </li></p>

    <li><p>
    <b>Free to use</b> - To the extent that is is possible, we will keep all features of this site free to use and
    access by anyone.  Although donating members will get some perks, like priority processing of their data, there
    will never be core site functionality that is off limits to anyone, whether they donate or not.  We beleive that
    everyone should be able to make use of the tools we develop, regardless of whether or not they can afford to
    donate.  We want our system to be as easily accessable to amateurs who are just starting out as it is to
    professional astronomers.  The only caveat to this free access policy is for extremely high usage requests like
    downloading the entire database, or specialty access like running custom code directly against our dataset.  For these use
    cases we may require a donation to be made to cover the costs of satisfying these requests, but for normal everyday
    users this will never be an issue.
    </li></p>
</ul>

<p>
If this sounds like something you want to support, please consider making a donation to keep us going.  First and
foremost, we will use your money for the direct, day to day operations of the site itself.  Money left over after these
expenses will be kept in a rainy day fund to cover unforseen events.  After both of these are satisfied we will use the
remaining money to pay for further development of new features and improvements to the existing system.
</p>

<p>
Our goal will always be to keep the site running, so we will not take any payment as developers until this can be
assured.  We do need to eat though, and by using some money to support ourselves, we can devote more time to making
this site better for everyone.  We will always be completely transparent as to how all our money is spent, so you can
see where your money is going.
</p>

{% if user.is_authenticated %}
<h3>Paypal</h3>
<div style="float: right;">{{paypalForm.render}}</div>
<p>
You can support our work by buying site donation credits using the Paypal button on the right (you will be asked how
much you would like to donate).  The amount you donate will be subtracted from your site operating costs and this
difference is what determines the priority of your tasks in the processing queue (among other things).
<br>
<br>
<i>Please note that Paypal charges us a fee of 2.9% plus $0.30 on each transfer.  In order to keep the site cost
accounting fair, this cost is deducted from your donation (as a site cost).  We appreciate your understanding on this matter.</i>
</p>
{% else %}
<p>
To make a donation, please <a href='/login/?next=/donate/'>log in</a> to your account so the donation can be credited to you.
</p>
{% endif %}

{% endblock %}

