{% extends "cosmicapp/base.html" %}
{% load cosmicapp_extras %}

{% block extratitle %} - Equipment Editor {% endblock %}

{% block mainbody %}
{% include "./jquery.html" %}
<script>
var OTAResults = [], cameraResults = [];
var ownedEquipmentResults = [], instrumentConfigurationResults = [];

function attachTo(configurationId, id1, id2 = null)
{
    var i;

    $('.removeLinkButton_' + configurationId).hide();

    // The first time we run this function id2 is null.  We then change the button that
    // was clicked to cancel, and all the other ones to "this" and reset their onclick handlers.
    if(id2 == null)
    {
        $('.attachToButton_' + configurationId).show();
        for(i = 0; i <  $('.attachToButton_' + configurationId).length; i++)
        {
            button = $('.attachToButton_' + configurationId).get(i);
            if(id1 != button.getAttribute('data-id'))
            {
                button.setAttribute('value', 'This');

                onclickString = 'attachTo(' + configurationId + ',' + id1 + ',';
                onclickString += button.getAttribute('data-id') + ')';

                button.setAttribute('onclick', onclickString);
            }
            else
            {
                button.setAttribute('value', 'Cancel');
                button.setAttribute('onclick', 'attachTo(' + configurationId + ',' + id1  + ', -1)');
            }
        }
    }
    else
    {
        if(id2 == -1)
        {
            alert('Canceled');
            $('.removeLinkButton_' + configurationId).show();
            refreshOwnedEquipment();
            return;
        }

        // id2 was not null and not -1 so it is actually the id of the ComponentInstance
        // that we are connecting to, so actually tell the server about the new connection and reload.
        $.ajax({
            url : "/save/instrumentConfigurationLink/",
            type : "post",
            async: true,
            dataType: 'json',
            data: {
                configurationId: configurationId,
                fromId: id1,
                toId: id2
            },
            success : function(response)
            {
                refreshOwnedEquipment();
                alert(response.message);
            },
            error : function(response)
            {
                var response = response.responseJSON;
                alert(response.errorMessage);
            }
        });
        refreshOwnedEquipment();
        $('.removeLinkButton_' + configurationId).show();
    }
};

function removeLink(id)
{
    $.ajax({
        url : "/delete/instrumentConfigurationLink/",
        type : "post",
        async: true,
        dataType: 'json',
        data: {
            id: id
        },
        success : function(response)
        {
            refreshOwnedEquipment();
            alert(response.message);
        },
        error : function(response)
        {
            var response = response.responseJSON;
            alert(response.errorMessage);
        }
    });
};

function removeInstrumentConfiguration(id)
{
    $.ajax({
        url : "/delete/instrumentConfiguration/",
        type : "post",
        async: true,
        dataType: 'json',
        data: {
            id: id
        },
        success : function(response)
        {
            refreshOwnedEquipment();
            alert(response.message);
        },
        error : function(response)
        {
            var response = response.responseJSON;
            alert(response.errorMessage);
        }
    });
};

/*
 * Loops through the ownedEquipmentResults until it finds one whose ComponentInstance id
 * matches the id passed to the function.  The function then returns the index into the
 * ownedEquipmentResults array of the target object, so that all of its properties can be
 * read by the caller.
*/
function getOwnedEquipmentIdByInstanceId(id)
{
    for(i = 0; i < ownedEquipmentResults.length; i++)
        if(ownedEquipmentResults[i].componentInstance.id == id)
            return i

    return null;
};

function saveNewInstrumentConfiguration()
{
    configurationName = document.getElementsByName('instrumentConfigurationName')[0].value;

    if(configurationName == "")
    {
        alert("Error: You must provide a name for the new instrument configuration.");
        return;
    }

    $.ajax({
        url : "/save/newInstrumentConfiguration/",
        type : "post",
        async: true,
        dataType: 'json',
        data: {
            configurationName: configurationName
        },
        success : function(response)
        {
            refreshInstrumentConfigurations();
            alert(response.message);
        },
        error : function(response)
        {
            var response = response.responseJSON;
            alert(response.errorMessage);
        }
    });
};

function refreshOwnedEquipment()
{
    var i;
    var html;

    $.ajax({
        url : "/query/?queryfor=userOwnedEquipment&userId=" + {{request.user.id}},
        type : "get",
        async: true,
        dataType: 'json',
        success : function(response)
        {
            html = ''

            ownedEquipmentResults = response;
            for(i = 0; i < ownedEquipmentResults.length; i++)
            {
                component = ownedEquipmentResults[i].instrumentComponent
                instance = ownedEquipmentResults[i].componentInstance
                str = ownedEquipmentResults[i].componentString

                html += '<tr>'
                html += '<td><input type=button value=Remove onclick="removeEquipment(' +
                i + ')"> ' + str + '</td>';
                html += '</tr>'
            }

            $('#ownedEquipmentTable').html(html);
            if(ownedEquipmentResults.length > 0)
                $('#ownedEquipmentOuterDiv').show();
            else
                $('#ownedEquipmentOuterDiv').hide();

            refreshInstrumentConfigurations();
        }
    });
};

function refreshInstrumentConfigurations()
{
    var i, j, k;
    var html;

    $.ajax({
        url : "/query/?queryfor=userInstrumentConfigurations&userId=" + {{request.user.id}},
        type : "get",
        async: true,
        dataType: 'json',
        success : function(response)
        {
            html = ''

            instrumentConfigurationResults = response;
            for(i = 0; i < instrumentConfigurationResults.length; i++)
            {
                configuration = instrumentConfigurationResults[i].configuration;
                configurationLinks = instrumentConfigurationResults[i].configurationLinks;

                html += '<h3>' + configuration.name;
                html += '&nbsp;<input type=button value="Remove Instrument Configuration" ';
                html += 'onclick="removeInstrumentConfiguration(' + configuration.id + ')">';
                html += '</h3>';
                html += '<p>';
                html += '<table>';
                html += '<tr>';
                html += '<td>';
                html += 'Your equipment that is not used in this configuration:<br><br>';
                var unusedEquipment = [];
                for(j = 0; j < ownedEquipmentResults.length; j++)
                {
                    var equipment = ownedEquipmentResults[j];

                    var isUsed = false;
                    for(k = 0; k < configurationLinks.length; k++)
                    {
                        var link = configurationLinks[k];
                        if(link.attachedFrom_id == equipment.componentInstance.id)
                        {
                            isUsed = true;
                            break;
                        }
                    }

                    if(!isUsed)
                        unusedEquipment[unusedEquipment.length] = equipment;
                }

                for(j = 0; j < unusedEquipment.length; j++)
                {
                    component = unusedEquipment[j].instrumentComponent
                    instance = unusedEquipment[j].componentInstance
                    str = unusedEquipment[j].componentString

                    html += str + " ";

                    html += '<input ' + ' data-id=' + instance.id;
                    html += ' type=button class=attachToButton_' + configuration.id + ' value="Attach To" ';
                    html += 'onclick="attachTo(' + configuration.id + ',' + instance.id + ')">';
                    html += '<br>'
                }
                html += '</td>';

                html += '<td>';
                html += 'Equipment used in this configuration:<br><br>';
                for(k = 0; k < configurationLinks.length; k++)
                {
                    var link = configurationLinks[k];
                    var fromId = getOwnedEquipmentIdByInstanceId(link.attachedFrom_id);
                    var toId = getOwnedEquipmentIdByInstanceId(link.attachedTo_id);
                    var fromComponentString = ownedEquipmentResults[fromId].componentString;
                    var toComponentString = ownedEquipmentResults[toId].componentString;
                    var fromComponentInstance = ownedEquipmentResults[fromId].componentInstance;
                    var toComponentInstance = ownedEquipmentResults[toId].componentInstance;

                    html += '<input ' + ' data-id=' + fromComponentInstance.id;
                    html += ' type=button class=removeLinkButton_' + configuration.id + ' value="Remove Link" ';
                    html += 'onclick="removeLink(' + link.id + ')">&nbsp;&nbsp;';

                    html += fromComponentString;

                    html += '<input ' + ' data-id=' + fromComponentInstance.id;
                    html += ' type=button class=attachToButton_' + configuration.id + ' value="Attach To" ';
                    html += 'onclick="attachTo(' + configuration.id + ',' + fromComponentInstance.id + ')" hidden>';

                    html += ' -> '
                    html += toComponentString;

                    html += '<input ' + ' data-id=' + toComponentInstance.id;
                    html += ' type=button class=attachToButton_' + configuration.id + ' value="Attach To" ';
                    html += 'onclick="attachTo(' + configuration.id + ',' + toComponentInstance.id + ')" hidden>';

                    html += '<br>';
                }
                html += '</td>';
                html += '</tr>';
                html += '</table>';

                html += '</p>';
            };

            $('#instrumentConfigurationsDiv').html(html);

            if(ownedEquipmentResults.length > 1)
                $('#instrumentConfigurationsOuterDiv').show();
            else
                $('#instrumentConfigurationsOuterDiv').hide();
        }
    });
};

function refreshOTA()
{
    var i;
    var html;

    $.ajax({
        url : "/query/?queryfor=ota",
        type : "get",
        async: true,
        dataType: 'json',
        success : function(response)
        {
            html = ''
            html += '<tr>'
            html += '<th></th>'
            html += '<th>Make</th> <th>Model</th> <th>Aperture<br>(mm)</th> <th>Design</th> <th>Focal Length<br>(mm)</th>'
            html += '</tr>'

            OTAResults = response;
            for(i = 0; i < OTAResults.length; i++)
            {
                html += '<tr>'
                html += '<td> <input type=button value="I Own One of These" onclick="ownedEquipment(\'ota\', ' + OTAResults[i].id + ')"> </td>';
                html += '<td>' + OTAResults[i].make + '</td>';
                html += '<td>' + OTAResults[i].model + '</td>';
                html += '<td>' + OTAResults[i].aperture + '</td>';
                html += '<td>' + OTAResults[i].design + '</td>';
                html += '<td>' + OTAResults[i].focalLength + '</td>';
                html += '</tr>'
            };

            $('#otaTable').html(html);
        }
    });
};

function refreshCamera()
{
    var i;
    var html;

    $.ajax({
        url : "/query/?queryfor=camera",
        type : "get",
        async: true,
        dataType: 'json',
        success : function(response)
        {
            html = ''
            html += '<tr>'
            html += '<th></th>'
            html += '<th>Make</th> <th>Model</th> <th>Dim X<br>(pixels)</th> <th>Dim Y<br>(pixels)</th>'
            html += '<th>Pixel Dim X<br>(um/pix)</th> <th>Pixel Dim Y<br>(um/pix)</th>'
            html += '<th>Read Noise</th> <th>E per ADU</th> <th>Exposure Min<br>(s)</th> <th>Exposure Max<br>(s)</th>'
            html += '<th>Cooling Capacity<br>(C)</th>'
            html += '</tr>'

            cameraResults = response;
            for(i = 0; i < cameraResults.length; i++)
            {
                html += '<tr>'
                html += '<td> <input type=button value="I Own One of These" onclick="ownedEquipment(\'camera\', ' + cameraResults[i].id + ')"> </td>';
                html += '<td>' + cameraResults[i].make + '</td>';
                html += '<td>' + cameraResults[i].model + '</td>';
                html += '<td>' + cameraResults[i].dimX + '</td>';
                html += '<td>' + cameraResults[i].dimY + '</td>';
                html += '<td>' + cameraResults[i].pixelDimX + '</td>';
                html += '<td>' + cameraResults[i].pixelDimY + '</td>';
                html += '<td>' + cameraResults[i].readNoise + '</td>';
                html += '<td>' + cameraResults[i].ePerADU + '</td>';
                html += '<td>' + cameraResults[i].exposureMin + '</td>';
                html += '<td>' + cameraResults[i].exposureMax + '</td>';
                html += '<td>' + cameraResults[i].coolingCapacity + '</td>';
                html += '</tr>'
            };

            $('#cameraTable').html(html);
        }
    });
};

function refreshPier()
{
    var i;
    var html;

    $.ajax({
        url : "/query/?queryfor=pier",
        type : "get",
        async: true,
        dataType: 'json',
        success : function(response)
        {
            html = ''
            html += '<tr>'
            html += '<th></th>'
            html += '<th>Make</th> <th>Model</th> <th>Pier Type</th> <th>Max Payload<br>(kg)</th>'
            html += '</tr>'

            pierResults = response;
            for(i = 0; i < pierResults.length; i++)
            {
                html += '<tr>'
                html += '<td> <input type=button value="I Own One of These" onclick="ownedEquipment(\'pier\', ' + pierResults[i].id + ')"> </td>';
                html += '<td>' + pierResults[i].make + '</td>';
                html += '<td>' + pierResults[i].model + '</td>';
                html += '<td>' + pierResults[i].pierType + '</td>';
                html += '<td>' + pierResults[i].maxPayload + '</td>';
                html += '</tr>'
            };

            $('#pierTable').html(html);
        }
    });
};

function refreshMount()
{
    var i;
    var html;

    $.ajax({
        url : "/query/?queryfor=mount",
        type : "get",
        async: true,
        dataType: 'json',
        success : function(response)
        {
            html = ''
            html += '<tr>'
            html += '<th></th>'
            html += '<th>Make</th> <th>Model</th> <th>Mount Type</th> <th>Max Weight<br>(kg)</th>'
            html += '<th>Autoguide<br>Compatible</th> <th>Goto<br>Compatible</th>'
            html += '</tr>'

            mountResults = response;
            for(i = 0; i < mountResults.length; i++)
            {
                html += '<tr>'
                html += '<td> <input type=button value="I Own One of These" onclick="ownedEquipment(\'mount\', ' + mountResults[i].id + ')"> </td>';
                html += '<td>' + mountResults[i].make + '</td>';
                html += '<td>' + mountResults[i].model + '</td>';
                html += '<td>' + mountResults[i].mountType + '</td>';
                html += '<td>' + mountResults[i].maxWeight + '</td>';
                html += '<td>' + mountResults[i].autoguideCompatible + '</td>';
                html += '<td>' + mountResults[i].gotoCompatible + '</td>';
                html += '</tr>'
            };

            $('#mountTable').html(html);
        }
    });
};

function removeEquipment(index)
{
    $.ajax({
        url : "/delete/userOwnedEquipment/",
        type : "post",
        async: true,
        dataType: 'json',
        data: {
            id: ownedEquipmentResults[index].componentInstance.id
        },
        success : function(response)
        {
            refreshOwnedEquipment();
            alert(response.message);
        },
        error : function(response)
        {
            var response = response.responseJSON;
            alert(response.errorMessage);
        }
    });
};

function ownedEquipment(equipmentType, id)
{
    $.ajax({
        url : "/save/userOwnedEquipment/",
        type : "post",
        async: true,
        dataType: 'json',
        data: {
            equipmentType: equipmentType,
            id: id
        },
        success : function(response)
        {
            refreshOwnedEquipment();
            alert(response.message);
        },
        error : function(response)
        {
            var response = response.responseJSON;
            alert(response.errorMessage);
        }
    });
};

function init()
{
    refreshOwnedEquipment();
    refreshOTA();
    refreshCamera();
    refreshPier();
    refreshMount();
};

function showNewInstrumentConfiguration() { $('#newInstrumentConfigurationDiv').show(); };
function showNewOTA() { $('#newOTADiv').show(); };
function showNewCamera() { $('#newCameraDiv').show(); };
function showNewPier() { $('#newPierDiv').show(); };
function showNewMount() { $('#newMountDiv').show(); };

$(document).ready(init);
</script>

<!-- TODO: Need to handle non-logged in users who come to this page.  It should probably just be view only. -->

<h2>Equipment Editor</h2>

<p>
This page lists different kinds of equipment used to make astronomical observations.  You
should make sure that the equipment you use is listed in the tables at the bottom of the
page.  If it is not, then please add an entry for each missing piece.  For each piece of
equipment you own you should click on the "I Own One of These" buttons next to it (click
multiple times if you own more than one of a specific thing).
</p>

<p>
After creating a list of all the hardware you own (or have access to) you can create one
or more "instrument configurations".  An instrument configuration is a description of how your
equipment is physically connected together to form the whole setup you are using for some
observations.  This allows you to build multiple configurations, if you have different
ways to set up your equipment.  When you tag your images, it is these complete instrument
configurations that you will associate with each image.
</p>

<div id=ownedEquipmentOuterDiv hidden>
<h3>Equipment I Own</h3>
<div>
    <table id=ownedEquipmentTable border=2px>
    </table>
</div>
</div>

<div id=instrumentConfigurationsOuterDiv hidden>
<h3>Instrument Configurations</h3>

<input type=button class=button value="New Instrument Configuration" onclick="showNewInstrumentConfiguration()">
<div id=newInstrumentConfigurationDiv hidden>
    <table>
        <tr>
        <td>Configuration Name</td>
        <td><input type=text name=instrumentConfigurationName></td>
        <td>(required) A name for you to keep track of which configuration is which.</td>
        </tr>
    </table>
    <input type=button value=Submit onclick="saveNewInstrumentConfiguration()"><br>
</div>

<div id=instrumentConfigurationsDiv>
</div>
</div>

<h3>Optical Tube Assemblies</h3>
<div>
    <table id=otaTable border=2px>
    </table>

    <p>{{otaMessage}}</p>

    <div id=newOTADiv hidden>
        <br>
        <form method=post action='/equipment/'>
            {% csrf_token %}
            <input type=hidden name=equipmentType value=ota>
            <table>
            <tr><td>Make (company name)</td><td><input type=text name=make></td><td>(required)</td></tr>
            <tr><td>Model (name)</td><td><input type=text name=model></td><td>(required)</td></tr>
            <tr><td>Aperture (in units of mm)</td><td><input type=text name=aperture></td><td>(required)</td></tr>
            <tr><td>Focal Length (in units of mm)</td><td><input type=text name=focalLength></td><td>(required)</td></tr>
            <tr><td>Design (optical design)</td><td><input type=text name=design></td><td>(required)</td></tr>
            </table>
            <!-- TODO: Make this do an onclick javascript to post the form and then call
            upadateOTA() afterward to avoid page reload, etc (and similarly for other equipment). -->
            <input type=submit value=Submit><br>
        </form>
    </div>
    <br>
    <input type=button class=button value="New OTA" onclick="showNewOTA()">

</div>

<h3>Cameras</h3>
    <table id=cameraTable border=2px>
    </table>

    <p>{{cameraMessage}}</p>

    <div id=newCameraDiv hidden>
        <br>
        <form method=post action='/equipment/'>
            {% csrf_token %}
            <input type=hidden name=equipmentType value=Camera>
            <table>
            <tr><td>Make (company name)</td><td><input type=text name=make></td><td>(required)</td></tr>
            <tr><td>Model (name)</td><td><input type=text name=model></td><td>(required)</td></tr>
            <tr><td>Dim X</td><td><input type=text name=dimX></td><td>(required)</td></tr>
            <tr><td>Dim Y</td><td><input type=text name=dimY></td><td>(required)</td></tr>
            <tr><td>Pixel Dim X</td><td><input type=text name=pixelDimX></td><td></td></tr>
            <tr><td>Pixel Dim Y</td><td><input type=text name=pixelDimY></td><td></td></tr>
            <tr><td>Read Noise</td><td><input type=text name=readNoise></td><td></td></tr>
            <tr><td>E Per ADU</td><td><input type=text name=ePerADU></td><td></td></tr>
            <tr><td>Exposure Min</td><td><input type=text name=exposureMin></td><td></td></tr>
            <tr><td>Exposure Max</td><td><input type=text name=exposureMax></td><td></td></tr>
            <tr><td>Cooling Capacity</td><td><input type=text name=coolingCapacity></td><td></td></tr>
            </table>
            <!-- TODO: Make this do an onclick javascript to post the form and then call
            upadateCamera() afterward to avoid page reload, etc (and similarly for other equipment). -->
            <input type=submit value=Submit><br>
        </form>
    </div>
    <br>
    <input type=button class=button value="New Camera" onclick="showNewCamera()">

<h3>Mounts</h3>
    <table id=mountTable border=2px>
    </table>

    <p>{{mountMessage}}</p>

    <div id=newMountDiv hidden>
        <br>
        <form method=post action='/equipment/'>
            {% csrf_token %}
            <input type=hidden name=equipmentType value=Mount>
            <table>
            <tr><td>Make (company name)</td><td><input type=text name=make></td><td>(required)</td></tr>
            <tr><td>Model (name)</td><td><input type=text name=model></td><td>(required)</td></tr>
            <tr><td>Mount Type</td><td><input type=text name=mountType></td><td>(required)</td></tr>
            <tr><td>Max Weight (kg)</td><td><input type=text name=maxWeight></td><td>(required)</td></tr>
            <tr><td>Autoguide Compatible</td>
                <td>Yes: <input type=radio name=autoguideCompatible value=true>&emsp;&emsp;
                No: <input type=radio name=autoguideCompatible value=false>
                </td><td>(required)</td></tr>
            <tr><td>Goto Compatible</td>
                <td>Yes: <input type=radio name=gotoCompatible value=true>&emsp;&emsp;
                No: <input type=radio name=gotoCompatible value=false>
                </td><td>(required)</td></tr>
            </table>
            <!-- TODO: Make this do an onclick javascript to post the form and then call
            upadateMount() afterward to avoid page reload, etc (and similarly for other equipment). -->
            <input type=submit value=Submit><br>
        </form>
    </div>
    <br>
    <input type=button class=button value="New Mount" onclick="showNewMount()">

<h3>Piers / Tripods</h3>
    <table id=pierTable border=2px>
    </table>

    <p>{{pierMessage}}</p>

    <div id=newPierDiv hidden>
        <br>
        <form method=post action='/equipment/'>
            {% csrf_token %}
            <input type=hidden name=equipmentType value=Pier>
            <table>
            <tr><td>Make (company name)</td><td><input type=text name=make></td><td>(required)</td></tr>
            <tr><td>Model (name)</td><td><input type=text name=model></td><td>(required)</td></tr>
            <tr><td>Pier Type</td><td><input type=text name=pierType></td><td>(required)</td></tr>
            <tr><td>Max Payload (kg)</td><td><input type=text name=maxPayload></td><td>(required)</td></tr>
            </table>
            <!-- TODO: Make this do an onclick javascript to post the form and then call
            upadatePier() afterward to avoid page reload, etc (and similarly for other equipment). -->
            <input type=submit value=Submit><br>
        </form>
    </div>
    <br>
    <input type=button class=button value="New Pier" onclick="showNewPier()">

{% endblock %}

