{% extends "cosmicapp/base.html" %}
{% load cosmicapp_extras %}

{% block extratitle %} - Equipment Editor {% endblock %}

{% block mainbody %}
{% include "./jquery.html" %}
<script>
var OTAResults = [], cameraResults = [];

function refreshOTA()
{
    $.ajax({
        url : "/query/?queryfor=ota",
        type : "get",
        async: true,
        dataType: 'json',
        success : function(response)
        {
            html = ''
            html += '<tr> <th>Make</th> <th>Model</th> <th>Aperture<br>(mm)</th> <th>Design</th> <th>Focal Length<br>(mm)</th> </tr>'

            OTAResults = response;
            for(i = 0; i < OTAResults.length; i++)
            {
                html += '<tr>'
                html += '<td>' + OTAResults[i].make + '</td>';
                html += '<td>' + OTAResults[i].model + '</td>';
                html += '<td>' + OTAResults[i].aperture + '</td>';
                html += '<td>' + OTAResults[i].design + '</td>';
                html += '<td>' + OTAResults[i].focalLength + '</td>';
                html += '</tr>'
            };

            $('#otaTable').html(html);
        }
    });
};

function refreshCamera()
{
    $.ajax({
        url : "/query/?queryfor=camera",
        type : "get",
        async: true,
        dataType: 'json',
        success : function(response)
        {
            html = ''
            html += '<tr>'
            html += '<th>Make</th> <th>Model</th> <th>Dim X<br>(pixels)</th> <th>Dim Y<br>(pixels)</th>'
            html += '<th>Pixel Dim X<br>(um/pix)</th> <th>Pixel Dim Y<br>(um/pix)</th>'
            html += '<th>Read Noise</th> <th>E per ADU</th> <th>Exposure Min<br>(s)</th> <th>Exposure Max<br>(s)</th>'
            html += '<th>Cooling Capacity<br>(C)</th>'
            html += '</tr>'

            cameraResults = response;
            for(i = 0; i < cameraResults.length; i++)
            {
                html += '<tr>'
                html += '<td>' + cameraResults[i].make + '</td>';
                html += '<td>' + cameraResults[i].model + '</td>';
                html += '<td>' + cameraResults[i].dimX + '</td>';
                html += '<td>' + cameraResults[i].dimY + '</td>';
                html += '<td>' + cameraResults[i].pixelDimX + '</td>';
                html += '<td>' + cameraResults[i].pixelDimY + '</td>';
                html += '<td>' + cameraResults[i].readNoise + '</td>';
                html += '<td>' + cameraResults[i].ePerADU + '</td>';
                html += '<td>' + cameraResults[i].exposureMin + '</td>';
                html += '<td>' + cameraResults[i].exposureMax + '</td>';
                html += '<td>' + cameraResults[i].coolingCapacity + '</td>';
                html += '</tr>'
            };

            $('#cameraTable').html(html);
        }
    });
};

function init()
{
    refreshOTA();
    refreshCamera();
};

function showNewOTA() { $('#newOTADiv').show(); };
function showNewCamera() { $('#newCameraDiv').show(); };

$(document).ready(init);
</script>

<h2>Equipment Editor</h2>

<p>This page lists different kinds of equipment used to make astronomical observations.  You should make sure that the
equipment you use is listed in the tables below.  If it is not, then please add an entry for each missing piece.  The
last section lists complete instruments.  An "instrument" represents a complete setup: specifying a mount, the telescope optical
path, the camera or eyepiece used, and so forth.  Once all the basic components of your equipment have been entered
into the various tables, you can build a new instrument by assembling the components from the earlier tables.  When you
tag your images, it is these complete instruments that you will associate with each image.</p>

<h3>Optical Tube Assemblies</h3>
<div>
    <table id=otaTable border=2px>
    </table>

    <p>{{otaMessage}}</p>

    <div id=newOTADiv hidden>
        <br>
        <form method=post action='/equipment/'>
            {% csrf_token %}
            <input type=hidden name=equipmentType value=ota>
            <table>
            <tr><td>Make (company name)</td><td><input type=text name=make></td><td>(required)</td></tr>
            <tr><td>Model (name)</td><td><input type=text name=model></td><td>(required)</td></tr>
            <tr><td>Aperture (in units of mm)</td><td><input type=text name=aperture></td><td>(required)</td></tr>
            <tr><td>Focal Length (in units of mm)</td><td><input type=text name=focalLength></td><td>(required)</td></tr>
            <tr><td>Design (optical design)</td><td><input type=text name=design></td><td>(required)</td></tr>
            </table>
            <input type=submit value=Submit><br>
        </form>
    </div>
    <br>
    <input type=button class=button value="New OTA" onclick="showNewOTA()">

</div>

<h3>Eyepieces</h3>

<h3>Cameras</h3>
    <table id=cameraTable border=2px>
    </table>

    <p>{{cameraMessage}}</p>

    <div id=newCameraDiv hidden>
        <br>
        <form method=post action='/equipment/'>
            {% csrf_token %}
            <input type=hidden name=equipmentType value=Camera>
            <table>
            <tr><td>Make (company name)</td><td><input type=text name=make></td><td>(required)</td></tr>
            <tr><td>Model (name)</td><td><input type=text name=model></td><td>(required)</td></tr>
            <tr><td>Dim X</td><td><input type=text name=dimX></td><td>(required)</td></tr>
            <tr><td>Dim Y</td><td><input type=text name=dimY></td><td>(required)</td></tr>
            <tr><td>Pixel Dim X</td><td><input type=text name=pixelDimX></td><td></td></tr>
            <tr><td>Pixel Dim Y</td><td><input type=text name=pixelDimY></td><td></td></tr>
            <tr><td>Read Noise</td><td><input type=text name=readNoise></td><td></td></tr>
            <tr><td>E Per ADU</td><td><input type=text name=ePerADU></td><td></td></tr>
            <tr><td>Exposure Min</td><td><input type=text name=exposureMin></td><td></td></tr>
            <tr><td>Exposure Max</td><td><input type=text name=exposureMax></td><td></td></tr>
            <tr><td>Cooling Capacity</td><td><input type=text name=coolingCapacity></td><td></td></tr>
            </table>
            <!-- TODO: Make this do an onclick javascript to post the form and then call
            upadateCamera() afterward to avoid page reload, etc (and similarly for other equipment). -->
            <input type=submit value=Submit><br>
        </form>
    </div>
    <br>
    <input type=button class=button value="New Camera" onclick="showNewCamera()">

<h3>Mounts</h3>

<h3>Complete Instruments</h3>

{% endblock %}

