{% extends "cosmicapp/base.html" %}
{% load static %}
{% load cosmicapp_extras %}

{% block extratitle %} - Export bookmarks {% endblock %}

{% block extrahead %}
{% include "./jquery.html" %}
<script src="/static/cosmicapp/bookmark.js"></script>
{% endblock extrahead %}

{% block mainbody %}

<script>
var responseArray;

function getCurrentDate()
{
    var d = new Date();
    return d.getFullYear() + '-' + String(d.getMonth()+1).padStart(2, '0') + '-' + String(d.getDate()).padStart(2, '0');
};

function getCurrentTime()
{
    var d = new Date();
    return String(d.getHours()).padStart(2, '0') + ':' + String(d.getMinutes()).padStart(2, '0');
};

function handleStartTimeDropdown(updateStartEndTimes)
{
    var timeString = document.getElementById("startTimeDropdown").value;
    var observingDuration = document.getElementById("observingDurationDropdown").value;
    var explanation

    switch(observingDuration)
    {
        case "0":
            observingDurationString = "0 seconds";
            break;

        case "600":
            observingDurationString = "10 minutes";
            break;

        case "1800":
            observingDurationString = "30 minutes";
            break;

        case "3600":
            observingDurationString = "1 hour";
            break;

        default:
            observingDurationString = (Number(observingDuration)/3600) + " hours";
            break;
    }

    switch(timeString)
    {
        case "rightNow":
            explanation = "Start immediately and observe for " + observingDurationString + ".";
            break;

        case "evening":
            explanation = "Start just after sunset and observe for " + observingDurationString + ".";
            break;

        case "midnight":
            explanation = "Observing at night for " + observingDurationString + " centered around solar midnight.";
            break;

        case "morning":
            explanation = "Observing late in the night for " + observingDurationString + " ending at sunrise.";
            break;

        case "daytimeMorning":
            explanation = "Daytime observing for " + observingDurationString + " starting at sunrise.";
            break;

        case "noon":
            explanation = "Daytime observing for " + observingDurationString + " centered around solar noon.";
            break;

        case "daytimeEvening":
            explanation = "Daytime observing for " + observingDurationString + " starting in the afternoon and ending at sunset.";
            break;

        default:
            explanation = "ERROR: Unknown time string: " + timeString;
            break;
    }

    $('#startTimeExplanation').html("<i>" + explanation + "</i>");
    if(updateStartEndTimes)
    {
        $('#setTimesButtonDiv').hide(200);
        $('#otherOptionsDiv').show(200);

        var inputDate = document.getElementById("inputDateEntry").value;
        var startTime = document.getElementById("startTimeDropdown").value;
        var observingDuration = document.getElementById("observingDurationDropdown").value;
        var observatoryID = document.getElementsByName("observatoryID")[0].value;

        $.ajax({
            type: "POST",
            url: "/bookmark/",
            data: { action: "queryStartEndTime", inputDate: inputDate, startTime: startTime, observingDuration: observingDuration,
                    observatoryID: observatoryID },
            dataType: 'json',
            async: false,
            success: function(responseDict, textStatus, jqXHR)
                {
                    startDate = responseDict.startTime.split(' ')[0];
                    startTime = responseDict.startTime.split(' ')[1];
                    endDate = responseDict.endTime.split(' ')[0];
                    endTime = responseDict.endTime.split(' ')[1];
                    if(startTime.includes('.'))
                        startTime = startTime.substring(0, startTime.indexOf('.'));
                    if(endTime.includes('.'))
                        endTime = endTime.substring(0, endTime.indexOf('.'));
                    $('#startTimeDateEntry').val(startDate)
                    $('#startTimeTimeEntry').val(startTime)
                    $('#endTimeDateEntry').val(endDate)
                    $('#endTimeTimeEntry').val(endTime)
                },
            error: function(response, textStatus, jqXHR)
                {
                    alert(response.responseText);
                }
        });

        updateBookmarkTable();
    }
};

function showSetTimesButton()
{
    $('#setTimesButtonDiv').show(200);
    $('#otherOptionsDiv').hide(200);
    handleStartTimeDropdown(false);
};

function refreshBookmarkTable()
{
    //TODO: Implement this if statement.
    //if(tableModified)
    updateBookmarkTable();
};

function updateBookmarkTable()
{
    var folderName = document.getElementsByName("folderName")[0].value;
    var includeOtherTargets = document.getElementsByName("includeOtherTargets")[0].value;
    var startTime = document.getElementById("startTimeDateEntry").value + " " + document.getElementById("startTimeTimeEntry").value;
    var endTime = document.getElementById("endTimeDateEntry").value + " " + document.getElementById("endTimeTimeEntry").value;
    var minTimeBetween = document.getElementsByName("minTimeBetween")[0].value;
    var maxTimeBetween = document.getElementsByName("maxTimeBetween")[0].value;
    var limitingMag = document.getElementsByName("limitingMag")[0].value;
    var minimumScore = document.getElementsByName("minimumScore")[0].value;
    var observatoryID = document.getElementsByName("observatoryID")[0].value;

    var tableHTML = "<tr>\
                     <th>Include</th>\
                     <th>Score</th>\
                     <th>Type</th>\
                     <th>Identifier</th>\
                     <th>Mag</th>\
                     <th>RA</th>\
                     <th>Dec</th>\
                     <th>Rising Time<br>Transit Time<br>Setting Time</th>\
                     <th>Start time</th>\
                     <th>Num<br>exposures</th>\
                     <th>Exposure<br>time<br>(seconds)</th>\
                     </tr>";

    // Send the request to get all the bookmark items in the selected folder.
    $.ajax({
        type: "POST",
        url: "/bookmark/",
        data: { action: "queryFolderForObserving", folderName: folderName, includeOtherTargets: includeOtherTargets,
            startTime: startTime, endTime: endTime, minTimeBetween: minTimeBetween, maxTimeBetween: maxTimeBetween,
            limitingMag: limitingMag, minimumScore: minimumScore, observatoryID: observatoryID },
        dataType: 'json',
        success: function(response, textStatus, jqXHR)
            {
                responseArray = response;

                for(var i = 0; i < response.length; i++)
                {
                    var r = response[i];

                    //TODO: Include a check to see if the object is never visible and if so, don't check the include checkbox by default.
                    tableHTML += '\n<tr>';
                    tableHTML += '\n<td><input type=checkbox class=includeForObservation id="' + r['divID'] +
                                 '_includeCheckbox" ' + r['defaultSelected'] + '></td>';
                    tableHTML += '\n<td>' + r['score'] + '</td>';
                    tableHTML += '\n<td>' + r['type'] + '</td>';
                    tableHTML += '\n<td>' + r['identifier'] + '</td>';
                    tableHTML += '\n<td>' + r['mag'] + '</td>';
                    tableHTML += '\n<td>' + r['ra'] + '</td>';
                    tableHTML += '\n<td>' + r['dec'] + '</td>';
                    tableHTML += '\n<td>' + r['nextRising'] + '<br>' + r['nextTransit'] + '<br>' + r['nextSetting'] + '</td>';

                    tableHTML += '\n<td>';
                    tableHTML += '<input type=text id="' + r['divID'] + '_startTimeText" value="' + r['startTime'] + '">';
                    tableHTML += '</td>';

                    tableHTML += '\n<td><input type=text id="' + r['divID'] + '_numExposuresText" value="' + r['numExposures'] + '"></td>';
                    tableHTML += '\n<td><input type=text id="' + r['divID'] + '_exposureTimeText" value="' + r['exposureTime'] + '"></td>';
                    tableHTML += '\n</tr>';
                }

                $('#bookmarkTable').html(tableHTML);
            },
        error: function(response, textStatus, jqXHR)
            {
                alert(response.responseText);
            }
    });
};

function submitObservingPlan()
{
    var observingPlan = [];

    for(var i = 0; i < responseArray.length; i++)
    {
        var r = responseArray[i];

        var checkbox = document.getElementById(r['divID'] + '_includeCheckbox');
        if(checkbox.checked)
        {
            temp = Object();
            temp['type'] = r['type'];
            temp['typeInternal'] = r['typeInternal'];
            temp['id'] = r['id'];
            temp['identifier'] = r['identifier'];
            temp['ra'] = r['ra'];
            temp['dec'] = r['dec'];
            temp['nextRising'] = r['nextRising'];
            temp['nextTransit'] = r['nextTransit'];
            temp['nextSetting'] = r['nextSetting'];
            temp['startTime'] = document.getElementById(r['divID'] + '_startTimeText').value
            temp['numExposures'] = document.getElementById(r['divID'] + '_numExposuresText').value
            temp['exposureTime'] = document.getElementById(r['divID'] + '_exposureTimeText').value

            observingPlan[observingPlan.length] = temp;
        }
    }

    var observingPlanInput = document.createElement("input");
    observingPlanInput.setAttribute("type", "hidden");
    observingPlanInput.setAttribute("name", "observingPlan");
    observingPlanInput.setAttribute("value", JSON.stringify(observingPlan));
    document.getElementById("exportForm").appendChild(observingPlanInput);

    $('#exportForm').submit();
};

$(document).ready(function()
{
    $('#inputDateEntry').val(getCurrentDate());

    handleStartTimeDropdown(false);
});
</script>

<h2>Export bookmarks</h2>

<p>
<form id='exportForm' method=POST action="/export/bookmarks/">
{% csrf_token %}

Bookmark folder to export:
<select name=folderName onchange="updateBookmarkTable()">
{% for folder in folders %}
    <option value="{{folder.name}}">{{folder.name}}</option>
{% endfor %}
</select>

<br><br>

File format for export:
<select name=fileFormat>
    <option value="human">Human Readable Textfile</option>
    <option value="oal">Open Astronomy Log (KStars)</option>
</select>

<br><br>

Include other suggested observing targets in plan:
<input type=checkbox name=includeOtherTargets checked>

<br><br>

Observatory:
{% if observatories %}
    <select name=observatoryID onchange="showSetTimesButton()">
        {% for observatory in observatories %}
            <option value="{{observatory.pk}}">{{observatory.name}}</option>
        {% endfor %}
    </select>
{% else %}
    <font color=red>ERROR: You need to set an observing location by creating one or more observatories on your profile
    page.</font>
{% endif %}

<br><br>

<input type="date" name=inputDate id=inputDateEntry onchange="showSetTimesButton()">
(UTC)
<select id="startTimeDropdown" name="startTimeDropdown" onchange="showSetTimesButton()">
    <option value="rightNow">Right Now</option>
    <option value="evening" selected="selected">After Sunset</option>
    <option value="midnight">Midnight</option>
    <option value="morning">Before Sunrise</option>
    <option value="daytimeMorning">Daytime Morning</option>
    <option value="noon">Noon</option>
    <option value="daytimeEvening">Daytime Evening</option>
</select>

<select id="observingDurationDropdown" name="observingDurationDropdown" onchange="showSetTimesButton()">
    <option value="0">0 Seconds</option>
    <option value="600">10 Minutes</option>
    <option value="1800">30 Minutes</option>
    <option value="3600">1 Hour</option>
    <option value="7200" selected="selected">2 Hours</option>
    <option value="14400">4 Hours</option>
    <option value="28800">8 Hours</option>
</select>

<div id="startTimeExplanation" style="display: inline-block"></div>

<br><br>

<div id=setTimesButtonDiv>
<input type=button class=button value="Set Observation Start/End Times" onclick="handleStartTimeDropdown(true)">
Click this button to update the times below to your current choices.
<br><br>
</div>

<div id=otherOptionsDiv hidden>
Date/time of observing session start (UTC):
<input type="date" name=date id=startTimeDateEntry>
<input type="time" name=time id=startTimeTimeEntry>

<br><br>

Date/time of observing session end (UTC):
<input type="date" name=date id=endTimeDateEntry>
<input type="time" name=time id=endTimeTimeEntry>

<br><br>

Minimum time between observations (minutes):
<input type="number" name=minTimeBetween value=1>

<br><br>

Maximum time between observations (minutes):
<input type="number" name=maxTimeBetween value=1>

<br><br>

Limiting magnitude:
<input type="number" name=limitingMag value={{user.profile.limitingMag}}>

<br><br>

Minimum score:
<input type="number" name=minimumScore value=0>

<br><br>

<input type=button class=button value="Refresh Table" onclick="refreshBookmarkTable()">
<input type=button class=button value="Export Bookmarks" onclick="submitObservingPlan()">
</form>
</p>

<table id="bookmarkTable" cellpadding=5px border=2px style="border-collapse: collapse; margin: 1em;">
</table>
</div>

{% endblock mainbody %}

