{% include "./jquery.html" %}

<script>
function ImageGallery(galleryName)
{
    this.name = galleryName;

    this.numRows = 2;
    this.numCols = 4;
    this.includeLinks = {{includeLinks}};
    this.thumbnailSize = "{{thumbnailSize}}"

    this.firstLoadOfGallery = true;
    this.loadingInProgress = false;

    this.paramIdCounter = 0;

    this.lastParamString = '';
    this.offset = 0;

    this.initImageGallery = function()
    {
        $(window).on('resize', this.handleWindowResize)
        this.handleWindowResize();

        this.addQueryParameter('{{queryParams}}');
        this.loadImageGalleryResults();
    };

    this.addQueryParameter = function(paramString)
    {
        var i;
        var html;
        var kv, key, value;

        if(paramString === undefined || paramString == '')
            paramString = 'imageProperty=';

        var params = paramString.split('&');
        for(i = 0; i < params.length; i++)
        {
            html = ''

            this.paramIdCounter++;

            html += '<div id="paramDiv_' + this.paramIdCounter + '" class="imageGalleryParameter ' + this.name + '">';
            if(this.paramIdCounter > 1)
                html += '<i>AND</i>&nbsp;';

            html += '<select class="paramSelect ' + this.name + '" id="paramSelect' + this.paramIdCounter + '">'
            html += '<option value="user">User</option>'
            html += '<option value="id">Image ID</option>'
            html += '<option value="imageProperty">Image Property</option>'
            html += '<option value="questionAnswer">Question Answer</option>'
            html += '</select>&nbsp;'

            kv = params[i].split('=');
            key = kv[0];
            //NOTE: The slice and join here handles when the value portion contains an '=' sign in the original input.
            value = kv.slice(1, kv.length).join('=');

            html += '<input class="paramTextbox ' + this.name + '" type=text id="paramTextbox' + this.paramIdCounter + '" value="' + value + '">';

            if(this.paramIdCounter > 1)
                html += '&nbsp;<input type=button class="button ' + this.name + '" style="margin: 3px" value="Remove" id="removeButton' + this.paramIdCounter + '"><br>'

            html += '</div>'

            $('#imageGalleryQueriesDiv.' + this.name).append(html);

            $('#paramSelect' + this.paramIdCounter + '.' + this.name).val(key);
            $('#removeButton' + this.paramIdCounter + '.' + this.name).click(function()
            {
                $(this).parent().remove();
            });
        }
    };

    this.queryHelp = function()
    {
        var html = '';

        html += '<div class="imageGalleryZoomWindow ' + this.name + '">';
        html += '<div style="padding: 2em; background: white; width: 70%; overflow-y: auto;">'
        html += '<h2>Query Help</h2>'
        html += `
                <p>The image gallery is used on many pages and allows you to select and view a list of images which are
                pulled from the server using a database query.  Changing the query parameters allows you to limit the
                displayed images to a specific subset of the images in the database.</p>

                <h3>Default Query Filter</h3>
                <p>On most pages, when the gallery loads the default query will be to show your own images, starting from
                your most recently uploaded images and going back from there.  On these pages you will see a single filter
                listed, showing 'User' as the filter type and your username in the text box beside it.  Changing the
                username in the field will show images created by that user for future loading operations, but will not
                clear the already loaded images unless you press the 'Clear Results' button first.</p>

                <h3>Additional Filters</h3>
                <p>Clicking the 'Add Query Filter' button will add a second filter to further limit the returned results.
                You can choose from several types of filters using the dropdown box on the left and then enter the text for
                the filter into the text box on the right.</p>

                <h3>Logical Operators: <i>AND</i> and <i>OR</i></h3>
                <p>If multiple filters are selected the returned results must meet <i>all</i> of the conditions specified
                in the filters.  In technical terms this means the filters are combined using the logical <i>AND</i>
                operator.  You can also specify that you want to return all images that meet any one of several different
                conditions by separating the conditions using a pipe character (which looks like | and is found near the
                'Enter' key on most keyboards).  The pipe character represents the logical <i>OR</i> operator.</p>

                <p>Note that when using the | character, any spaces before or after the character will be stripped away so
                'user1|user2' is equivalent to 'user1 | user2'.  Use whichever is more convenient for you.</p>

                <h3>Examples</h3>
                <p>Show all your calibration frames:</p>
                <table border=2px>
                    <tr><th> Filter </th><th> Value </th></tr>
                    <tr><td> User </td><td> yourUserName </td></tr>
                    <tr><td> <i>AND</i> Image Property </td><td> imageType=dark | imageType=bias | imageType=light </td></tr>
                </table>
                 `
        html += '</div>'
        html += '</div>';

        $(document.body).append(html);

        $('.imageGalleryZoomWindow.' + this.name).click(function()
        {
            $(this).remove();
        });
    };

    this.zoomImage = function(id)
    {
        var html = '';

        thumbUrl = $.ajax(
            {url: '/image/' + id + '/thumbnail/full/',
            async: false}
            ).responseText;

        html += '<div class="imageGalleryZoomWindow ' + this.name + '">';
        html += '<img src="' + thumbUrl + '">';
        html += '</div>';

        $(document.body).append(html);

        $('.imageGalleryZoomWindow.' + this.name).click(function()
        {
            $(this).remove();
        });
    };

    this.loadImageGalleryResults = function()
    {
        if(!this.loadingInProgress)
        {
            this.loadingInProgress = true;

            var gallery = document.getElementById("imageGalleryDiv");
            var currentHTML = gallery.innerHTML;
            $('#imageGalleryDiv.' + this.name).append('<div id="imageGalleryLoadingMessage" class="' + this.name + '"><p>Loading...</p><div>');

            var params = document.getElementsByClassName('imageGalleryParameter ' + this.name);
            var paramArray = [];
            for(i = 0; i < params.length; i++)
            {
                var paramId = params[i].getAttribute('id').split('_')[1];
                var key = document.getElementById('paramSelect' + paramId).value;
                var value = document.getElementById('paramTextbox' + paramId).value;
                paramArray[paramArray.length] = key + "=" + value
            }

            var paramString = paramArray.join('&');
            if(paramString != this.lastParamString)
                this.offset = 0;

            this.lastParamString = paramString;

            var parseFunction = this.parseGalleryLoadResponse;
            $.ajax({
                url: '/query/?queryfor=image&' + paramString + '&order=time_desc&limit=' + this.numRows*this.numCols +
                        '&offset=' + this.offset,
                context: this,
                success: parseFunction
                });
        }
    };

    this.parseGalleryLoadResponse = function(xml, statusCode)
    {
        var i;
        var html = ""

        var results = xml.getElementsByTagName('Image')

        $('#newResultsDivider.' + this.name).remove();
        if(!this.firstLoadOfGallery)
        {
            html += '<div id=newResultsDivider class="responsive ' + this.name + '" style="text-align: center; width: 95%; border: 1em solid blue">'
            if(results.length > 0)
                html += 'New Results:</div>'
            else
                html += 'No more results to display.</div>'
        }

        for(i = 0; i < results.length; i++)
        {
            var attr = results[i].attributes;
            var imageId = attr.getNamedItem('id').nodeValue;

            html += '<div class="responsive ' + this.name + '" id="' + imageId + '">'
            html += '<div class="gallery">'

            if(this.includeLinks)
            {
                html += '<a href="/image/' + imageId + '/">'
                html += '<img src="' + attr.getNamedItem('thumbUrl'+this.thumbnailSize).nodeValue + '">';
                html += '</a>';
            }
            else
            {
                html += '<img onclick="{{imageOnclickFunction}}" src="' + attr.getNamedItem('thumbUrl'+this.thumbnailSize).nodeValue + '">';
            }

            var questionLink = '/image/' + imageId + '/question/';
            html += '<div class="desc ' + this.name + '">'
            //TODO: Make these <a> links an image icon instead of the placeholder text link that is here now.
            html += '<a style="cursor: pointer" class="hideLink ' + this.name + '" id="hideButton' + imageId + '">Hide</a>&nbsp;';
            html += '<a href="' + questionLink + '" class="questionLink ' + this.name + '">Ques</a>&nbsp;';
            html += '<a style="cursor: pointer" class="zoomLink ' + this.name + '" onclick="gallery_{{galleryName}}.zoomImage(' + imageId + ')">Zoom</a>';
            html += '</div>';
            html += '</div>';
            html += '</div>';

            this.offset += 1;
        }

        $('#imageGalleryLoadingMessage.' + this.name).remove();
        $('#imageGalleryDiv.' + this.name).append(html);
        if(!this.firstLoadOfGallery)
            $('#newResultsDivider.' + this.name)[0].scrollIntoView({behaviour: 'smooth', block: 'start', inline: 'start'});

        //TODO: These are probably getting added multiple times.  Need to test this and fix if necessary, this method is kind of hacky anyway.
        $(".hideLink." + this.name).click(function()
        {
            $(this).parent().parent().parent().remove();
        });

        $(document).trigger('imageTableLoadEvent_' + this.name);

        this.loadingInProgress = false;
        this.firstLoadOfGallery = false;
    };

    this.clearImageGalleryResults = function()
    {
        this.offset = 0;
        this.lastParamString = '';
        $('.responsive.' + this.name).remove();
    };

    this.handleWindowResize = function()
    {
        //NOTE: These width values should match the ones in style.css  If that changes need to change these too.
        var width = $(window).width();
        if(width > 1000) { this.numCols = 4; this.numRows = 2; }
        else if(width > 700) { this.numCols = 3; this.numRows = 3; }
        else if(width > 400) { this.numCols = 2; this.numRows = 4; }
        else { this.numCols = 1; this.numRows = 8; }
    };

};

$(document).ready(function()
{
    gallery_{{galleryName}} = new ImageGallery('{{galleryName}}');
    gallery_{{galleryName}}.initImageGallery();
});

</script>

<div id=imageGalleryQueryDiv>
    <p>Query Parameters</p>

    <div id=imageGalleryQueriesDiv class="{{galleryName}}"></div>

    <!-- TODO: Add functionality to set the limit and order of the returned results. (and maybe offset?) -->
    <br>
    <input type=button class="button {{galleryName}}" value="Query Help" onclick="gallery_{{galleryName}}.queryHelp()">
    <input type=button class="button {{galleryName}}" value="Add Query Filter" onclick="gallery_{{galleryName}}.addQueryParameter()">
    <input type=button class="button {{galleryName}}" value="Load More" onclick="gallery_{{galleryName}}.loadImageGalleryResults()">
    <input type=button class="button {{galleryName}}" value="Clear Results" onclick="gallery_{{galleryName}}.clearImageGalleryResults()">
</div>

<div id=imageGalleryDiv class="{{galleryName}}"></div>

<div class="clearfix"></div>

<div style="text-align:center;">
    <input id=loadMoreButton type=button class="button {{galleryName}}" value="Load more" onclick="gallery_{{galleryName}}.loadImageGalleryResults()">
</div>

