{% extends "cosmicapp/base.html" %}
{% load static %}
{% load humanize %}
{% load cosmicapp_extras %}

{% block extratitle %} - Image {{id}} {% endblock %}

{% block extrahead %}
<style>
td.numSourceResults
{
    background-color: #69F;
    text-align: center;
}

td.numMatchResults
{
    background-color: #EE4;
    text-align: center;
}
</style>
{% endblock extrahead %}

{% block mainbody %}
<h2>Image {{id}}</h2>

    <table border=2px style="border-collapse: collapse; margin: 1em;">
        <tr>
        <th> Uploaded By <br> (username) </th>
        <th> Date / Time </th>
        <th> Instrument <br> (telescope) </th>
        <th> Observatory <br> (location) </th>
        <th> X Dim <br> (pixels) </th>
        <th> Y Dim <br> (pixels) </th>
        <th> Z Dim <br> (layers) </th>
        <th> Bit Depth <br> (bits / px) </th>
        <th> Frame Type <br> (light/flat/etc) </th>
        </tr>

        <tr>
        <td> <a href="/user/{{image.fileRecord.uploadingUser}}">{{image.fileRecord.uploadingUser}}</a> </td>
        <td> {{image.dateTime}} </td>
        <td> {{image.instrument}} </td>
        <td> {{image.observatory.name}} </td>
        <td> {{image.dimX}} </td>
        <td> {{image.dimY}} </td>
        <td> {{image.dimZ}} </td>
        <td> {{image.bitDepth}} </td>
        <td> {{image.frameType}} </td>
        </tr>
    </table>

<table border=2px style="border-collapse: collapse; margin: 1em;">
<tr>
<th>Channel</th>
<th>Type</th>
<th>Mean</th>
<th>Medain</th>
<th>StdDev</th>
<th>Background<br>Mean</th>
<th>Background<br>Median</th>
<th>Background<br>StdDev</th>
</tr>
{% for channel in image.imagechannelinfo_set.all %}
<tr>
<td>{{channel.index}}</td>
<td>{{channel.channelType}}</td>
<td>{{channel.mean|floatformat:3}}</td>
<td>{{channel.median|floatformat:3}}</td>
<td>{{channel.stdDev|floatformat:3}}</td>
<td>{{channel.bgMean|floatformat:3}}</td>
<td>{{channel.bgMedian|floatformat:3}}</td>
<td>{{channel.bgStdDev|floatformat:3}}</td>
</tr>
{% endfor %}
</table>

<p>This image has {{image.plateSolutions.count}} plate solutions assosciated with it.</p>

{% if image.plateSolutions.count > 0 %}
    <table border=2px style="border-collapse: collapse; margin: 1em;">
        <th>Source<br>of WCS</th>
        <th>Center RA<br>(H:M:S)</th>
        <th>Center Dec<br>(D:M:S)</th>
        <th>Rotation<br>(deg)</th>
        <th>Resolution X<br>(arcsec/px)</th>
        <th>Resolution Y<br>(arcsec/px)</th>
        <th>Area<br>(sq deg)</th>
        <th>Fraction of<br>Whole Sky</th>

    {% for ps in image.plateSolutions.all %}
        <tr>
        <td>{{ps.source}}</td>
        <td>{{ps.centerRA|formatRA}}</td>
        <td>{{ps.centerDec|formatDec}}</td>
        <td>{{ps.rotation|floatformat:2}}</td>
        <td>{{ps.resolutionX|floatformat:2}}</td>
        <td>{{ps.resolutionY|floatformat:2}}</td>
        <td>{{ps.area|floatformat:4}}</td>
        <td>1&nbsp;/&nbsp;{{ps.area|divide:41253|invert|floatformat:0|intcomma}}</td>
        </tr>
    {% endfor %}
    </table>

    <p>This image overlaps with {{overlappingPlates|length}} other images.</p>

    <table border=2px style="border-collapse: collapse; margin: 1em;">
        <tr>
        <th>Image</th>
        <th>Resolution X<br>(arcsec/px)</th>
        <th>Resolution Y<br>(arcsec/px)</th>
        <th>Image Area<br>(sq deg)</th>
        <th>Overlapping Area<br>(sq deg)</th>
        <th>Thumbnail</th>
        </tr>
        <tr>
        <td>This<br>image</td>
        <td>{{image.getBestPlateSolution.resolutionX|floatformat:2}}</td>
        <td>{{image.getBestPlateSolution.resolutionY|floatformat:2}}</td>
        <td>{{imagePlateArea|floatformat:2}}</td>
        <td>{{imagePlateArea|floatformat:2}}</td>
        <td>{{image.getThumbnailSmall|safe}}</td>
        </tr>

        <tr>
        <td colspan=4 height=30></td>
        </tr>

        {% for ps in overlappingPlates %}
            <tr>
            <td><a href="/image/{{ps.plate.image.pk}}/">Image<br>{{ps.plate.image.pk}}</a></td>
            <td>{{ps.plate.resolutionX|floatformat:2}}</td>
            <td>{{ps.plate.resolutionY|floatformat:2}}</td>
            <td>{{ps.plateArea|floatformat:4}}</td>
            <td>{{ps.overlapArea|floatformat:4}}</td>
            <td>{{ps.plate.image.getThumbnailSmall|safe}}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

<br>
    <table border=2px style="border-collapse: collapse; margin: 1em;">
        <tr>
        <th rowspan=2 colspan=2> <a href="/image/{{id}}/sources/">View sources</a></p> </th>
        <th>Sextractor</th>
        <th>Image2xy</th>
        <th>Daofind</th>
        <th>Starfind</th>
        </tr>

        <tr>
        <td class=numSourceResults>{{numSextractorSources}}</td>
        <td class=numSourceResults>{{numImage2xySources}}</td>
        <td class=numSourceResults>{{numDaofindSources}}</td>
        <td class=numSourceResults>{{numStarfindSources}}</td>
        </tr>

        <tr>
        <th>Sextractor</th>
        <td class=numSourceResults>{{numSextractorSources}}</td>
        <td class=numMatchResults></td>
        <td style="background-color: rgb(50,{% percentage numSextractorImage2xyMatches numImage2xySources 50 255 %},50);">{{numSextractorImage2xyMatches}}</td>
        <td style="background-color: rgb(50,{% percentage numSextractorDaofindMatches numDaofindSources 50 255 %},50);">{{numSextractorDaofindMatches}}</td>
        <td style="background-color: rgb(50,{% percentage numSextractorStarfindMatches numStarfindSources 50 255 %},50);">{{numSextractorStarfindMatches}}</td>
        </tr>

        <tr>
        <th>Image2xy</th>
        <td class=numSourceResults>{{numImage2xySources}}</td>
        <td style="background-color: rgb(50,{% percentage numSextractorImage2xyMatches numSextractorSources 50 255 %},50);">{{numSextractorImage2xyMatches}}</td>
        <td class=numMatchResults></td>
        <td style="background-color: rgb(50,{% percentage numImage2xyDaofindMatches numDaofindSources 50 255 %},50);">{{numImage2xyDaofindMatches}}</td>
        <td style="background-color: rgb(50,{% percentage numImage2xyStarfindMatches numStarfindSources 50 255 %},50);">{{numImage2xyStarfindMatches}}</td>
        </tr>

        <tr>
        <th>Daofind</th>
        <td class=numSourceResults>{{numDaofindSources}}</td>
        <td style="background-color: rgb(50,{% percentage numSextractorDaofindMatches numSextractorSources 50 255 %},50);">{{numSextractorDaofindMatches}}</td>
        <td style="background-color: rgb(50,{% percentage numImage2xyDaofindMatches numImage2xySources 50 255 %},50);">{{numImage2xyDaofindMatches}}</td>
        <td class=numMatchResults></td>
        <td style="background-color: rgb(50,{% percentage numDaofindStarfindMatches numStarfindSources 50 255 %},50);">{{numDaofindStarfindMatches}}</td>
        </tr>

        <tr>
        <th>Starfind</th>
        <td class=numSourceResults>{{numStarfindSources}}</td>
        <td style="background-color: rgb(50,{% percentage numSextractorStarfindMatches numSextractorSources 50 255 %},50);">{{numSextractorStarfindMatches}}</td>
        <td style="background-color: rgb(50,{% percentage numImage2xyStarfindMatches numImage2xySources 50 255 %},50);">{{numImage2xyStarfindMatches}}</td>
        <td style="background-color: rgb(50,{% percentage numDaofindStarfindMatches numDaofindSources 50 255 %},50);">{{numDaofindStarfindMatches}}</td>
        <td class=numMatchResults></td>
        </tr>
    </table>

<p>This image has {{numProperties}} property tags assosciatied with it.  <a href="/image/{{id}}/properties/">View properties</a></p>

<p>Answer questions about this image.  <a href="/image/{{id}}/question/">Answer questions</a></p>

<p>Original uploaded filename: <b>{{image.fileRecord.originalFileName}}</b></p>
<p>SHA 256 hash of original file: <b>{{image.fileRecord.fileSha256}}</b></p>

<!-- <h3>Processing<h3> -->
<!-- TODO: Add processing queue jobs for this image. -->

<h3>Image thumbnail</h3>

<p>
{{image.getThumbnailSmall|safe}}
{{image.getThumbnailMedium|safe}}
{{image.getThumbnailLarge|safe}}
</p>

<p>
{{image.getThumbnailFull|safe}}
</p>

{% endblock %}

