{% extends "cosmicapp/base.html" %}
{% load static %}

{% block extratitle %} - Image {{id}} sources viewer {% endblock %}

{% block extrahead %}

    <script src="/static/cosmicapp/math.min.js" type="text/javascript"></script>

    <!-- TODO: Copy these to the webserver. -->
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.9.min.css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.9.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-api-0.12.9.min.js"></script>

{% endblock %}

{% block mainbody %}

{% include "./jquery.html" %}

<table border=2px style="border-collapse: collapse; margin: 1em;">
<tr>
<th></th>
<th>Lock</th>
<th>Sextractor<div id=sextractorLoadingDiv></div></th>
<th>Image2xy<div id=image2xyLoadingDiv></div></th>
<th>Daofind<div id=daofindLoadingDiv></div></th>
<th>Starfind<div id=starfindLoadingDiv></div></th>
<th>Multiple<br>Method<br>Matches<div id=sourceFindMatchesLoadingDiv></div></th>
</tr>

<tr>
<td>Enabled:</td>
<td align=center><input type=checkbox id=methodEnabledLockCheckbox onchange="updateTable(this.id)" checked></td>
<td align=center class='sextractorResults'><input type=checkbox id=sextractorEnabledCheckbox onchange="updateTable(this.id)" checked></td>
<td align=center class='image2xyResults'><input type=checkbox id=image2xyEnabledCheckbox onchange="updateTable(this.id)" checked></td>
<td align=center class='daofindResults'><input type=checkbox id=daofindEnabledCheckbox onchange="updateTable(this.id)" checked></td>
<td align=center class='starfindResults'><input type=checkbox id=starfindEnabledCheckbox onchange="updateTable(this.id)" checked></td>
<td align=center class='sourceFindMatchesResults'><input type=checkbox id=sourceFindMatchesEnabledCheckbox onchange="updateTable(this.id)" checked></td>
</tr>

<tr>
<td>Size:</td>
<td align=center><input type=checkbox id=methodSizeLockCheckbox onchange="updateTable(this.id)" checked></td>
<td class='sextractorResults'><input id="sextractorSizeSlider" type=range min="0" max="100" value="50" onchange="updateTable(this.id)"></td>
<td class='image2xyResults'><input id="image2xySizeSlider" type=range min="0" max="100" value="50" onchange="updateTable(this.id)"></td>
<td class='daofindResults'><input id="daofindSizeSlider" type=range min="0" max="100" value="50" onchange="updateTable(this.id)"></td>
<td class='starfindResults'><input id="starfindSizeSlider" type=range min="0" max="100" value="50" onchange="updateTable(this.id)"></td>
<td class='sourceFindMatchesResults'><input id="sourceFindMatchesSizeSlider" type=range min="0" max="100" value="50" onchange="updateTable(this.id)"></td>
</tr>

<tr>
<td>Size scale:</td>
<td align=center><input type=checkbox id=methodSizeScaleLockCheckbox onchange="updateTable(this.id)" checked></td>
<td class='sextractorResults'><input id="sextractorSizeScaleSlider" type=range min="0" max="100" value="50" onchange="updateTable(this.id)"></td>
<td class='image2xyResults'><input id="image2xySizeScaleSlider" type=range min="0" max="100" value="50" onchange="updateTable(this.id)"></td>
<td class='daofindResults'><input id="daofindSizeScaleSlider" type=range min="0" max="100" value="50" onchange="updateTable(this.id)"></td>
<td class='starfindResults'><input id="starfindSizeScaleSlider" type=range min="0" max="100" value="50" onchange="updateTable(this.id)"></td>
<td class='sourceFindMatchesResults'><input id="sourceFindMatchesSizeScaleSlider" type=range min="0" max="100" value="50" onchange="updateTable(this.id)"></td>
</tr>

<tr>
<td>Label thresh:</td>
<td align=center><input type=checkbox id=methodLabelThresholdLockCheckbox onchange="updateTable(this.id)" checked></td>
<td class='sextractorResults'><input id="sextractorLabelThresholdSlider" type=range min="0" max="100" value="50" onchange="updateTable(this.id)"></td>
<td class='image2xyResults'><input id="image2xyLabelThresholdSlider" type=range min="0" max="100" value="50" onchange="updateTable(this.id)"></td>
<td class='daofindResults'><input id="daofindLabelThresholdSlider" type=range min="0" max="100" value="50" onchange="updateTable(this.id)"></td>
<td class='starfindResults'><input id="starfindLabelThresholdSlider" type=range min="0" max="100" value="50" onchange="updateTable(this.id)"></td>
<td class='sourceFindMatchesResults'><input id="sourceFindMatchesLabelThresholdSlider" type=range min="0" max="100" value="50" onchange="updateTable(this.id)"></td>
</tr>

<tr>
<td>Label size:</td>
<td align=center><input type=checkbox id=methodLabelSizeLockCheckbox onchange="updateTable(this.id)" checked></td>
<td class='sextractorResults'><input id="sextractorLabelSizeSlider" type=range min="0" max="100" value="50" onchange="updateTable(this.id)"></td>
<td class='image2xyResults'><input id="image2xyLabelSizeSlider" type=range min="0" max="100" value="50" onchange="updateTable(this.id)"></td>
<td class='daofindResults'><input id="daofindLabelSizeSlider" type=range min="0" max="100" value="50" onchange="updateTable(this.id)"></td>
<td class='starfindResults'><input id="starfindLabelSizeSlider" type=range min="0" max="100" value="50" onchange="updateTable(this.id)"></td>
<td class='sourceFindMatchesResults'><input id="sourceFindMatchesLabelSizeSlider" type=range min="0" max="100" value="50" onchange="updateTable(this.id)"></td>
</tr>

<tr>
<td>Label:</td>
<td></td>
    <td class='sextractorResults'>
    <input type=checkbox id=sextractorLabelFlux onchange="drawSources()"> Flux<br>
    <input type=checkbox id=sextractorLabelFluxErr onchange="drawSources()"> Flux Err<br>
    <input type=checkbox id=sextractorLabelFlags onchange="drawSources()"> Flags<br>
    <input type=checkbox id=sextractorLabelConfidence onchange="drawSources()" checked> Confidence
    </td>

    <td class='image2xyResults'>
    <input type=checkbox id=image2xyLabelFlux onchange="drawSources()"> Flux<br>
    <input type=checkbox id=image2xyLabelBackground onchange="drawSources()"> Background<br>
    <input type=checkbox id=image2xyLabelConfidence onchange="drawSources()" checked> Confidence
    </td>

    <td class='daofindResults'>
    <input type=checkbox id=daofindLabelMag onchange="drawSources()"> Magnitude<br>
    <input type=checkbox id=daofindLabelPeak onchange="drawSources()"> Peak<br>
    <input type=checkbox id=daofindLabelFlux onchange="drawSources()"> Flux<br>
    <input type=checkbox id=daofindLabelSharpness onchange="drawSources()"> Sharpness<br>
    <input type=checkbox id=daofindLabelSRound onchange="drawSources()"> Sym roundness<br>
    <input type=checkbox id=daofindLabelGRound onchange="drawSources()"> Gauss roundess<br>
    <input type=checkbox id=daofindLabelConfidence onchange="drawSources()" checked> Confidence
    </td>

    <td class='starfindResults'>
    <input type=checkbox id=starfindLabelMag onchange="drawSources()"> Magnitude<br>
    <input type=checkbox id=starfindLabelPeak onchange="drawSources()"> Peak<br>
    <input type=checkbox id=starfindLabelFlux onchange="drawSources()"> Flux<br>
    <input type=checkbox id=starfindLabelFWHM onchange="drawSources()"> FWHM<br>
    <input type=checkbox id=starfindLabelRoundness onchange="drawSources()"> Roundness<br>
    <input type=checkbox id=starfindLabelPA onchange="drawSources()"> PA<br>
    <input type=checkbox id=starfindLabelSharpness onchange="drawSources()"> Sharpness<br>
    <input type=checkbox id=starfindLabelConfidence onchange="drawSources()" checked> Confidence
    </td>

    <td class='sourceFindMatchesResults'>
    <input type=checkbox id=sourceFindMatchesLabelNum onchange="drawSources()" checked> Num Methods<br>
    <input type=checkbox id=sourceFindMatchesLabelConfidence onchange="drawSources()"> Confidence
    </td>
</tr>
</table>

<canvas id="sourcesCanvas" width="{{image.dimX}}" height="{{image.dimY}}" style="border:4px solid #00A030">
Your browser does not support the HTML5 canvas tag.
</canvas>

<div id=bokehPlotDiv>
</div>

<script>
var imageId = {{id}};
var sextractorResults = [], image2xyResults = [], daofindResults = [], starfindResults = [];
var sextractorResultsPromise, image2xyResultsPromise, daofindResultsPromise, starfindResultsPromise;
var sourceFindMatches = [];
var canvas, context;
var img;
var sextractorColor = "#E02010";
var image2xyColor = "#14D3FF";
var daofindColor = "#20E010";
var starfindColor = "#7199E2";
var sourceFindMatchesColor = "#F99740";
var numberOfBins = 10;

var plot;

function drawStroked(c, text, x, y)
{
    oldLineWidth = c.lineWidth;
    oldStrokeStyle = c.strokeStyle;
    oldLineJoin = c.lineJoin;
    oldMiterLimit = c.miterLimit;

    c.lineWidth = 4;
    c.strokeStyle = 'black';
    c.lineJoin="miter"; //Experiment with "bevel" & "round" for the effect you want!
    c.miterLimit=2;

    c.strokeText(text, x, y);
    c.fillText(text, x, y);

    c.lineWidth = oldLineWidth;
    c.strokeStyle = oldStrokeStyle;
    c.lineJoin = oldLineJoin;
    c.miterLimit = oldMiterLimit;
};

function getObjectById(objectList, id)
{
    if(id == null)
        return null;

    for(index = 0; index < objectList.length; index++)
    {
        if(objectList[index].id == id)
            return objectList[index];
    }

    return null;
};

function binData(data, nBins)
{
    var i;

    if(data.length == 0)
        return null;

    // Caluculate the range of the input data.
    min = data[0], max = data[0];
    for(i = 0; i < data.length; i++)
    {
        if(data[i] < min)
            min = data[i];

        if(data[i] > max)
            max = data[i];
    }

    // Create the empty bins
    binSize = (max - min)/nBins;
    bins = [[], []];
    for(i = 0; i < nBins; i++)
    {
        bins[0][i] = min + i*binSize;
        bins[1][i] = 0;
    }

    // Loop over the data and sort it into bins.
    for(i = 0; i < data.length; i++)
    {
        binNumber = math.floor((data[i] - min)/binSize);
        binNumber = math.min(binNumber, nBins-1);
        bins[1][binNumber]++;
    }

    return bins;
};

function addHistogramToPlot(data, nBins, lineColor, legendStr, dashArray)
{
    bins = binData(data, nBins);
    if(bins == null)
        return

    dataSource = new Bokeh.ColumnDataSource({
        data: {
        x: bins[0],
        y: bins[1]
        } });

    l = bins[0].slice(0, bins[0].length);
    r = bins[0].slice(1, bins[0].length);
    r.push(2*bins[0][bins[0].length] - bins[0][bins[0].length]);
    t = bins[1];
    b = 0;

    quad = plot.quad(l, r, b, t, {
        line_color: '#000000',
        fill_color: lineColor,
        fill_alpha: 0.25,
        line_width: 2,
        line_dash: dashArray,
        legend: legendStr
        });

    // Hack to force a window resize event which makes the plot properly draw the axis labels.
    window.dispatchEvent(new Event('resize'));

    /*
    oldXRange = plot.x_range;
    oldYRange = plot.y_range;

    plot.x_range.start = math.min(oldXRange.start, bins[0][0]);
    plot.x_range.end = math.max(oldXRange.end, bins[0][bins[0].length-1]);
    plot.y_range.start = -1;
    plot.y_range.end = 100;   //TODO: Set this to the max value of any of the bin counts in the current dataset or the previous max.
    */

    //plot.legend[0].location = "top_left";
    //plot.legend[0].click_policy="hide";

    return quad;
};

function getSextractorResults()
{
    var i;
    $('#sextractorLoadingDiv').html('<br><br>Loading...');

    sextractorResultsPromise = $.ajax({
        url : "/query/?queryfor=sextractorResult&limit=10000&imageId=" + imageId,
        type : "get",
        async: true,
        success : function(xml)
        {
            fluxAutoValues = [];

            var results = xml.getElementsByTagName('SextractorResult')
            for(i = 0; i < results.length; i++)
            {
                attr = results[i].attributes;
                sextractorResults[i] = new Object({
                    id: Number(attr.getNamedItem('id').nodeValue),
                    confidence: Number(attr.getNamedItem('confidence').nodeValue),
                    x: Number(attr.getNamedItem('pixelX').nodeValue),
                    y: Number(attr.getNamedItem('pixelY').nodeValue),
                    z: Number(attr.getNamedItem('pixelZ').nodeValue),
                    fluxAuto: Number(attr.getNamedItem('fluxAuto').nodeValue),
                    fluxAutoErr: Number(attr.getNamedItem('fluxAutoErr').nodeValue),
                    flags: Number(attr.getNamedItem('flags').nodeValue)
                });

                //TODO:  Add confidence for this and other types to the bokeh histogram plot.
                fluxAutoValues[i] = sextractorResults[i].fluxAuto;
            }

            addHistogramToPlot(fluxAutoValues, numberOfBins, sextractorColor, 'Flux (sextractor)', []);

            drawSources();
            $('#sextractorLoadingDiv').html('');
            Promise.resolve(true);
        }
    });
};

function getImage2xyResults()
{
    var i;

    $('#image2xyLoadingDiv').html('<br><br>Loading...');

    image2xyResultsPromise = $.ajax({
        url : "/query/?queryfor=image2xyResult&limit=10000&imageId=" + imageId,
        type : "get",
        async: true,
        success : function(xml)
        {
            fluxValues = [];
            backgroundValues = [];

            var results = xml.getElementsByTagName('Image2xyResult')
            for(i = 0; i < results.length; i++)
            {
                attr = results[i].attributes;
                image2xyResults[i] = new Object({
                    id: Number(attr.getNamedItem('id').nodeValue),
                    confidence: Number(attr.getNamedItem('confidence').nodeValue),
                    x: Number(attr.getNamedItem('pixelX').nodeValue),
                    y: Number(attr.getNamedItem('pixelY').nodeValue),
                    z: Number(attr.getNamedItem('pixelZ').nodeValue),
                    flux: Number(attr.getNamedItem('flux').nodeValue),
                    background: Number(attr.getNamedItem('background').nodeValue),
                });

                //TODO:  Add confidence for this and other types to the bokeh histogram plot.
                fluxValues[i] = image2xyResults[i].flux;
            }

            addHistogramToPlot(fluxValues, numberOfBins, image2xyColor, 'Flux (image2xy)', []);

            drawSources();
            $('#image2xyLoadingDiv').html('');
            Promise.resolve(true);
        }
    });
};

function getDaofindResults()
{
    var i;

    $('#daofindLoadingDiv').html('<br><br>Loading...');

    daofindResultsPromise = $.ajax({
        url : "/query/?queryfor=daofindResult&limit=10000&imageId=" + imageId,
        type : "get",
        async: true,
        success : function(xml)
        {
            magValues = [];
            fluxValues = [];
            peakValues = [];
            sharpnessValues = [];
            sroundValues = [];
            groundValues = [];

            var results = xml.getElementsByTagName('DaofindResult')
            for(i = 0; i < results.length; i++)
            {
                attr = results[i].attributes;
                daofindResults[i] = new Object({
                    id: Number(attr.getNamedItem('id').nodeValue),
                    confidence: Number(attr.getNamedItem('confidence').nodeValue),
                    x: Number(attr.getNamedItem('pixelX').nodeValue),
                    y: Number(attr.getNamedItem('pixelY').nodeValue),
                    z: Number(attr.getNamedItem('pixelZ').nodeValue),
                    mag: Number(attr.getNamedItem('mag').nodeValue),
                    flux: Number(attr.getNamedItem('flux').nodeValue),
                    peak: Number(attr.getNamedItem('peak').nodeValue),
                    sharpness: Number(attr.getNamedItem('sharpness').nodeValue),
                    sround: Number(attr.getNamedItem('sround').nodeValue),
                    ground: Number(attr.getNamedItem('ground').nodeValue)
                });

                magValues[i] = daofindResults[i].mag;
                fluxValues[i] = daofindResults[i].flux;
                peakValues[i] = daofindResults[i].peak;
                sharpnessValues[i] = daofindResults[i].sharpness;
                sroundValues[i] = daofindResults[i].sround;
                groundValues[i] = daofindResults[i].ground;
            }

            addHistogramToPlot(magValues, numberOfBins, daofindColor, 'Mag (daofind)', []);
            addHistogramToPlot(fluxValues, numberOfBins, daofindColor, 'Flux (daofind)', [1, 3]);
            addHistogramToPlot(peakValues, numberOfBins, daofindColor, 'Peak(daofind)', [1, 3, 3, 5]);
            addHistogramToPlot(sharpnessValues, numberOfBins, daofindColor, 'Sharpness (daofind)', [3, 3]);
            addHistogramToPlot(sroundValues, numberOfBins, daofindColor, 'S Round (daofind)', [3, 6]);
            addHistogramToPlot(groundValues, numberOfBins, daofindColor, 'G Round (daofind)', [6, 6]);

            drawSources();
            $('#daofindLoadingDiv').html('');
            Promise.resolve(true);
        }
    });
};

function getStarfindResults()
{
    var i;

    $('#starfindLoadingDiv').html('<br><br>Loading...');

    starfindResultsPromise = $.ajax({
        url : "/query/?queryfor=starfindResult&limit=10000&imageId=" + imageId,
        type : "get",
        async: true,
        success : function(xml)
        {
            magValues = [];
            peakValues = [];
            fluxValues = [];
            fwhmValues = [];
            roundnessValues = [];
            paValues = [];
            sharpnessValues = [];

            var results = xml.getElementsByTagName('StarfindResult')
            for(i = 0; i < results.length; i++)
            {
                attr = results[i].attributes;
                starfindResults[i] = new Object({
                    id: Number(attr.getNamedItem('id').nodeValue),
                    confidence: Number(attr.getNamedItem('confidence').nodeValue),
                    x: Number(attr.getNamedItem('pixelX').nodeValue),
                    y: Number(attr.getNamedItem('pixelY').nodeValue),
                    z: Number(attr.getNamedItem('pixelZ').nodeValue),
                    mag: Number(attr.getNamedItem('mag').nodeValue),
                    peak: Number(attr.getNamedItem('peak').nodeValue),
                    flux: Number(attr.getNamedItem('flux').nodeValue),
                    fwhm: Number(attr.getNamedItem('fwhm').nodeValue),
                    roundness: Number(attr.getNamedItem('roundness').nodeValue),
                    pa: Number(attr.getNamedItem('pa').nodeValue),
                    sharpness: Number(attr.getNamedItem('sharpness').nodeValue)
                });

                magValues[i] = starfindResults[i].mag;
                peakValues[i] = starfindResults[i].peak;
                fluxValues[i] = starfindResults[i].flux;
                fwhmValues[i] = starfindResults[i].fwhm;
                roundnessValues[i] = starfindResults[i].roundness;
                paValues[i] = starfindResults[i].pa;
                sharpnessValues[i] = starfindResults[i].sharpness;
            }

            addHistogramToPlot(magValues, numberOfBins, starfindColor, 'Mag (starfind)', []);
            addHistogramToPlot(peakValues, numberOfBins, starfindColor, 'Peak (starfind)', [1, 3]);
            addHistogramToPlot(fluxValues, numberOfBins, starfindColor, 'Flux (starfind)', [1, 3, 3, 5]);
            addHistogramToPlot(fwhmValues, numberOfBins, starfindColor, 'FWHM (starfind)', [3, 6]);
            addHistogramToPlot(roundnessValues, numberOfBins, starfindColor, 'Roundness (starfind)', [6, 6]);
            addHistogramToPlot(paValues, numberOfBins, starfindColor, 'PA (starfind)', [2, 2, 5]);
            addHistogramToPlot(sharpnessValues, numberOfBins, starfindColor, 'Sharpness (starfind)', [2, 2, 2, 2, 5]);

            drawSources();
            $('#starfindLoadingDiv').html('');
            Promise.resolve(true);
        }
    });
};

function getSourceFindMatches()
{
    var i;

    $('#sourceFindMatchesLoadingDiv').html('<br><br>Loading...');

    $.ajax({
        url : "/query/?queryfor=sourceFindMatch&limit=10000&imageId=" + imageId,
        type : "get",
        async: true,
        success : function(xml)
        {
            var results = xml.getElementsByTagName('SourceFindMatch')
            for(i = 0; i < results.length; i++)
            {
                attr = results[i].attributes;

                sextractorId = null, image2xyId = null, daofindId = null, starfindId = null;
                if(attr.getNamedItem('sextractorResult') != null)
                    sextractorId = Number(attr.getNamedItem('sextractorResult').nodeValue);

                if(attr.getNamedItem('image2xyResult') != null)
                    image2xyId = Number(attr.getNamedItem('image2xyResult').nodeValue);

                if(attr.getNamedItem('daofindResult') != null)
                    daofindId = Number(attr.getNamedItem('daofindResult').nodeValue);

                if(attr.getNamedItem('starfindResult') != null)
                    starfindId = Number(attr.getNamedItem('starfindResult').nodeValue);

                sourceFindMatches[i] = new Object({
                    id: Number(attr.getNamedItem('id').nodeValue),
                    confidence: Number(attr.getNamedItem('confidence').nodeValue),
                    numMatches: Number(attr.getNamedItem('numMatches').nodeValue),
                    x: Number(attr.getNamedItem('pixelX').nodeValue),
                    y: Number(attr.getNamedItem('pixelY').nodeValue),
                    z: Number(attr.getNamedItem('pixelZ').nodeValue),
                    sextractorResultId: sextractorId,
                    image2xyResultId: image2xyId,
                    daofindResultId: daofindId,
                    starfindResultId: starfindId
                });

                //TODO: Since this code depends on accessing other objects we will need to break it out into a function
                //and call it again every time new objects are added to the lists.
                sourceFindMatches[i].sextractorResult = getObjectById(sextractorResults, sourceFindMatches[i].sextractorResultId);
                sourceFindMatches[i].image2xyResult = getObjectById(image2xyResults, sourceFindMatches[i].image2xyResultId);
                sourceFindMatches[i].daofindResult = getObjectById(daofindResults, sourceFindMatches[i].daofindResultId);
                sourceFindMatches[i].starfindResult = getObjectById(starfindResults, sourceFindMatches[i].starfindResultId);
            }

            drawSources();
            $('#sourceFindMatchesLoadingDiv').html('');
            Promise.resolve(true);
        }
    });
};

function drawSources()
{
    var i;

    context.drawImage(img, 0, 0);
    context.lineWidth = 2;

    context.strokeStyle = sextractorColor;
    context.fillStyle = sextractorColor;

    sizeFactor = $('#sextractorSizeSlider').val();
    sizeScaleFactor = 1 + $('#sextractorSizeScaleSlider').val()/25.0;
    labelThreshold = $('#sextractorLabelThresholdSlider').val()/100.0;
    labelSize= $('#sextractorLabelSizeSlider').val()/5 + 10
    if($('#sextractorEnabledCheckbox').is(':checked'))
    for(i = 0; i < sextractorResults.length; i++)
    {
        context.beginPath();
        context.arc(sextractorResults[i].x, {{image.dimY}} - sextractorResults[i].y,
            sizeFactor*Math.pow(sextractorResults[i].confidence, sizeScaleFactor), 0, 2*Math.PI)
        context.stroke();

        if(sextractorResults[i].confidence > labelThreshold)
        {
            labelArray = [];

            if($('#sextractorLabelFlux').is(':checked'))
                labelArray[labelArray.length] = math.round(sextractorResults[i].fluxAuto, 2);

            if($('#sextractorLabelFluxErr').is(':checked'))
                labelArray[labelArray.length] = math.round(sextractorResults[i].fluxAutoErr, 2);

            if($('#sextractorLabelFlags').is(':checked'))
                labelArray[labelArray.length] = sextractorResults[i].flags;

            if($('#sextractorLabelConfidence').is(':checked'))
                labelArray[labelArray.length] = math.round(sextractorResults[i].confidence, 2);

            labelText = labelArray.join(' ');

            context.font = labelSize + 'px sans-serif'
            drawStroked(context, labelText, sextractorResults[i].x + labelSize/2, {{image.dimY}} - sextractorResults[i].y - labelSize)
        }
    }

    context.strokeStyle = image2xyColor;
    context.fillStyle = image2xyColor;

    sizeFactor = $('#image2xySizeSlider').val();
    sizeScaleFactor = 1.0 + $('#image2xySizeScaleSlider').val()/25.0;
    labelThreshold = $('#image2xyLabelThresholdSlider').val()/100.0;
    labelSize= $('#image2xyLabelSizeSlider').val()/5 + 10
    if($('#image2xyEnabledCheckbox').is(':checked'))
    for(i = 0; i < image2xyResults.length; i++)
    {
        context.beginPath();
        context.arc(image2xyResults[i].x, {{image.dimY}} - image2xyResults[i].y,
            sizeFactor*Math.pow(image2xyResults[i].confidence, sizeScaleFactor), 0, 2*Math.PI)
        context.stroke();

        if(image2xyResults[i].confidence > labelThreshold)
        {
            labelArray = [];

            if($('#image2xyLabelFlux').is(':checked'))
                labelArray[labelArray.length] = math.round(image2xyResults[i].flux, 2);

            if($('#image2xyLabelBackground').is(':checked'))
                labelArray[labelArray.length] = math.round(image2xyResults[i].background, 2);

            if($('#image2xyLabelConfidence').is(':checked'))
                labelArray[labelArray.length] = math.round(image2xyResults[i].confidence, 2);

            labelText = labelArray.join(' ');

            context.font = labelSize + 'px sans-serif'
            drawStroked(context, labelText, image2xyResults[i].x + labelSize/2, {{image.dimY}} - image2xyResults[i].y)
        }
    }

    context.strokeStyle = daofindColor;
    context.fillStyle = daofindColor;

    sizeFactor = $('#daofindSizeSlider').val();
    sizeScaleFactor = 1.0 + $('#daofindSizeScaleSlider').val()/25.0;
    labelThreshold = $('#daofindLabelThresholdSlider').val()/100.0;
    labelSize= $('#daofindLabelSizeSlider').val()/5 + 10
    if($('#daofindEnabledCheckbox').is(':checked'))
    for(i = 0; i < daofindResults.length; i++)
    {
        context.beginPath();
        context.arc(daofindResults[i].x, {{image.dimY}} - daofindResults[i].y,
            sizeFactor*Math.pow(daofindResults[i].confidence, sizeScaleFactor), 0, 2*Math.PI)
        context.stroke();

        if(daofindResults[i].confidence > labelThreshold)
        {
            labelArray = [];

            if($('#daofindLabelMag').is(':checked'))
                labelArray[labelArray.length] = math.round(daofindResults[i].mag, 2);

            if($('#daofindLabelPeak').is(':checked'))
                labelArray[labelArray.length] = math.round(daofindResults[i].peak, 2);

            if($('#daofindLabelFlux').is(':checked'))
                labelArray[labelArray.length] = math.round(daofindResults[i].flux, 2);

            if($('#daofindLabelSharpness').is(':checked'))
                labelArray[labelArray.length] = math.round(daofindResults[i].sharpness, 2);

            if($('#daofindLabelSRound').is(':checked'))
                labelArray[labelArray.length] = math.round(daofindResults[i].sround, 2);

            if($('#daofindLabelGRound').is(':checked'))
                labelArray[labelArray.length] = math.round(daofindResults[i].ground, 2);

            if($('#daofindLabelConfidence').is(':checked'))
                labelArray[labelArray.length] = math.round(daofindResults[i].confidence, 2);

            labelText = labelArray.join(' ');

            context.font = labelSize + 'px sans-serif'
            drawStroked(context, labelText, daofindResults[i].x + labelSize/2, {{image.dimY}} - daofindResults[i].y + labelSize)
        }
    }

    context.strokeStyle = starfindColor;
    context.fillStyle = starfindColor;

    sizeFactor = $('#starfindSizeSlider').val();
    sizeScaleFactor = 1.0 + $('#starfindSizeScaleSlider').val()/25.0;
    labelThreshold = $('#starfindLabelThresholdSlider').val()/100.0;
    labelSize= $('#starfindLabelSizeSlider').val()/5 + 10
    if($('#starfindEnabledCheckbox').is(':checked'))
    for(i = 0; i < starfindResults.length; i++)
    {
        context.beginPath();
        context.arc(starfindResults[i].x, {{image.dimY}} - starfindResults[i].y,
            sizeFactor*Math.pow(starfindResults[i].confidence, sizeScaleFactor), 0, 2*Math.PI)
        context.stroke();

        if(starfindResults[i].confidence > labelThreshold)
        {
            labelArray = [];

            if($('#starfindLabelMag').is(':checked'))
                labelArray[labelArray.length] = math.round(starfindResults[i].mag, 2);

            if($('#starfindLabelPeak').is(':checked'))
                labelArray[labelArray.length] = math.round(starfindResults[i].peak, 2);

            if($('#starfindLabelFlux').is(':checked'))
                labelArray[labelArray.length] = math.round(starfindResults[i].flux, 2);

            if($('#starfindLabelFWHM').is(':checked'))
                labelArray[labelArray.length] = math.round(starfindResults[i].fwhm, 2);

            if($('#starfindLabelRoundness').is(':checked'))
                labelArray[labelArray.length] = math.round(starfindResults[i].roundness, 2);

            if($('#starfindLabelPA').is(':checked'))
                labelArray[labelArray.length] = math.round(starfindResults[i].pa, 2);

            if($('#starfindLabelSharpness').is(':checked'))
                labelArray[labelArray.length] = math.round(starfindResults[i].sharpness, 2);

            if($('#starfindLabelConfidence').is(':checked'))
                labelArray[labelArray.length] = math.round(starfindResults[i].confidence, 2);

            labelText = labelArray.join(' ');

            context.font = labelSize + 'px sans-serif'
            drawStroked(context, labelText, starfindResults[i].x + labelSize/2, {{image.dimY}} - starfindResults[i].y + 2*labelSize)
        }
    }

    context.strokeStyle = sourceFindMatchesColor;
    context.fillStyle = sourceFindMatchesColor;

    sizeFactor = $('#sourceFindMatchesSizeSlider').val();
    sizeScaleFactor = $('#sourceFindMatchesSizeScaleSlider').val()/25.0;
    labelThreshold = $('#sourceFindMatchesLabelThresholdSlider').val()/100.0;
    labelSize= $('#sourceFindMatchesLabelSizeSlider').val()/5 + 10
    if($('#sourceFindMatchesEnabledCheckbox').is(':checked'))
    for(i = 0; i < sourceFindMatches.length; i++)
    {
        context.beginPath();
        context.arc(sourceFindMatches[i].x, {{image.dimY}} - sourceFindMatches[i].y,
            sizeFactor*Math.pow(sourceFindMatches[i].confidence, sizeScaleFactor), 0, 2*Math.PI)
        context.stroke();

        if(sourceFindMatches[i].confidence > labelThreshold)
        {
            labelArray = [];

            if($('#sourceFindMatchesLabelNum').is(':checked'))
                labelArray[labelArray.length] = sourceFindMatches[i].numMatches, 0;

            if($('#sourceFindMatchesLabelConfidence').is(':checked'))
                labelArray[labelArray.length] = math.round(sourceFindMatches[i].confidence, 2);

            labelText = labelArray.join(' ');

            context.font = labelSize + 'px sans-serif'
            context.textAlign = 'end';
            drawStroked(context, labelText, sourceFindMatches[i].x - labelSize/2, {{image.dimY}} - sourceFindMatches[i].y)
            context.textAlign = 'start';
        }
    }
};

function updateTable(id)
{
    var temp;

    switch(id)
    {
        case undefined:
            break;

        case 'sextractorEnabledCheckbox':
        case 'image2xyEnabledCheckbox':
        case 'daofindEnabledCheckbox':
        case 'starfindEnabledCheckbox':
        case 'sourceFindMatchesEnabledCheckbox':
        case 'methodEnabledLockCheckbox':
            if($('#methodEnabledLockCheckbox').is(':checked'))
            {
                if(id != 'methodEnabledLockCheckbox')
                    temp = $('#'+id).is(':checked');
                else
                    temp = $('#sextractorEnabledCheckbox').is(':checked');

                $('#sextractorEnabledCheckbox').prop('checked', temp)
                $('#image2xyEnabledCheckbox').prop('checked', temp)
                $('#daofindEnabledCheckbox').prop('checked', temp)
                $('#starfindEnabledCheckbox').prop('checked', temp)
                $('#sourceFindMatchesEnabledCheckbox').prop('checked', temp)
            }
            break;

        case 'sextractorSizeSlider':
        case 'image2xySizeSlider':
        case 'daofindSizeSlider':
        case 'starfindSizeSlider':
        case 'sourceFindMatchesSizeSlider':
        case 'methodSizeLockCheckbox':
            if($('#methodSizeLockCheckbox').is(':checked'))
            {
                if(id != 'methodSizeLockCheckbox')
                    temp = $('#'+id).prop('value');
                else
                    temp = $('#sextractorSizeSlider').prop('value');

                $('#sextractorSizeSlider').prop('value', temp)
                $('#image2xySizeSlider').prop('value', temp)
                $('#daofindSizeSlider').prop('value', temp)
                $('#starfindSizeSlider').prop('value', temp)
                $('#sourceFindMatchesSizeSlider').prop('value', temp)
            }
            break;

        case 'sextractorSizeScaleSlider':
        case 'image2xySizeScaleSlider':
        case 'daofindSizeScaleSlider':
        case 'starfindSizeScaleSlider':
        case 'sourceFindMatchesSizeScaleSlider':
        case 'methodSizeScaleLockCheckbox':
            if($('#methodSizeScaleLockCheckbox').is(':checked'))
            {
                if(id != 'methodSizeScaleLockCheckbox')
                    temp = $('#'+id).prop('value');
                else
                    temp = $('#sextractorSizeScaleSlider').prop('value');

                $('#sextractorSizeScaleSlider').prop('value', temp)
                $('#image2xySizeScaleSlider').prop('value', temp)
                $('#daofindSizeScaleSlider').prop('value', temp)
                $('#starfindSizeScaleSlider').prop('value', temp)
                $('#sourceFindMatchesSizeScaleSlider').prop('value', temp)
            }
            break;

        case 'sextractorLabelThresholdSlider':
        case 'image2xyLabelThresholdSlider':
        case 'daofindLabelThresholdSlider':
        case 'starfindLabelThresholdSlider':
        case 'sourceFindMatchesLabelThresholdSlider':
        case 'methodLabelThresholdLockCheckbox':
            if($('#methodLabelThresholdLockCheckbox').is(':checked'))
            {
                if(id != 'methodLabelThresholdLockCheckbox')
                    temp = $('#'+id).prop('value');
                else
                    temp = $('#sextractorLabelThresholdSlider').prop('value');

                $('#sextractorLabelThresholdSlider').prop('value', temp)
                $('#image2xyLabelThresholdSlider').prop('value', temp)
                $('#daofindLabelThresholdSlider').prop('value', temp)
                $('#starfindLabelThresholdSlider').prop('value', temp)
                $('#sourceFindMatchesLabelThresholdSlider').prop('value', temp)
            }
            break;

        case 'sextractorLabelSizeSlider':
        case 'image2xyLabelSizeSlider':
        case 'daofindLabelSizeSlider':
        case 'starfindLabelSizeSlider':
        case 'sourceFindMatchesLabelSizeSlider':
        case 'methodLabelSizeLockCheckbox':
            if($('#methodLabelSizeLockCheckbox').is(':checked'))
            {
                if(id != 'methodLabelSizeLockCheckbox')
                    temp = $('#'+id).prop('value');
                else
                    temp = $('#sextractorLabelSizeSlider').prop('value');

                $('#sextractorLabelSizeSlider').prop('value', temp)
                $('#image2xyLabelSizeSlider').prop('value', temp)
                $('#daofindLabelSizeSlider').prop('value', temp)
                $('#starfindLabelSizeSlider').prop('value', temp)
                $('#sourceFindMatchesLabelSizeSlider').prop('value', temp)
            }
            break;
    }

    if($('#sextractorEnabledCheckbox').is(':checked'))
        $('.sextractorResults').css('background-color', sextractorColor);
    else
        $('.sextractorResults').css('background-color', 'transparent');

    if($('#image2xyEnabledCheckbox').is(':checked'))
        $('.image2xyResults').css('background-color', image2xyColor);
    else
        $('.image2xyResults').css('background-color', 'transparent');

    if($('#daofindEnabledCheckbox').is(':checked'))
        $('.daofindResults').css('background-color', daofindColor);
    else
        $('.daofindResults').css('background-color', 'transparent');

    if($('#starfindEnabledCheckbox').is(':checked'))
        $('.starfindResults').css('background-color', starfindColor);
    else
        $('.starfindResults').css('background-color', 'transparent');

    if($('#sourceFindMatchesEnabledCheckbox').is(':checked'))
        $('.sourceFindMatchesResults').css('background-color', sourceFindMatchesColor);
    else
        $('.sourceFindMatchesResults').css('background-color', 'transparent');

    drawSources();
};

window.onload = function()
{
    canvas = document.getElementById("sourcesCanvas");
    context = canvas.getContext("2d");

    var xdr = new Bokeh.DataRange1d({ follow: 'start' });
    var ydr = new Bokeh.DataRange1d({ follow: 'start' });

    plot = new Bokeh.Plotting.figure({
        toolbar_location: 'above',
        toolbar_sticky: false,
        x_range: xdr,
        y_range: ydr,
        plot_width: 600,
        plot_height: 600,
        background_fill_color: "#F2F2F7"
        });

    //TODO: One way to clear this plot would be to delete the innerHtml of this div and re-display the plot from scratch.
    div = document.getElementById("bokehPlotDiv");
    Bokeh.Plotting.show(plot, div);

    //TODO: Use the thumbnail url query rather than this hardcoded value, maybe?
    img = new Image();
    img.src = '{{image.getThumbnailUrlFull|safe}}';

    updateTable();

    getSextractorResults();
    getImage2xyResults();
    getDaofindResults();
    getStarfindResults();
    $.when(sextractorResultsPromise, image2xyResultsPromise, daofindResultsPromise, starfindResultsPromise).done(getSourceFindMatches);

};
</script>

{% endblock %}

