{% include "./jquery.html" %}

<script>
var numRows = {{numRows}}, numCols = {{numCols}};
var includeLinks = {{includeLinks}};
var thumbnailSize = "{{thumbnailSize}}"

var resultsPage = 0;
var loadingInProgress = false;

function zoomImage(id)
{
    thumbUrl = $.ajax(
        {url: '/image/' + id + '/thumbnail/full/',
        async: false}
        ).responseText;

    html  = '<div class="imageGalleryZoomWindow">';
    html += '<img src="' + thumbUrl + '">';
    html += '</div>';

    $(document.body).append(html);

    $('.imageGalleryZoomWindow').click(function()
    {
        $(this).remove();
    });
};

function loadImageGalleryResults()
{
    if(!loadingInProgress)
    {
        loadingInProgress = true;

        gallery = document.getElementById("imageGalleryDiv");
        currentHTML = gallery.innerHTML;
        $('#imageGalleryDiv').append('<div id="imageGalleryLoadingMessage"><p>Loading...</p><div>');

        $.get("/query/?queryfor=image&{{queryKey}}={{queryValue}}&order=time_desc&limit=" + numRows*numCols +
                    "&offset=" + numRows*numCols*resultsPage, function(xml, statusCode)
        {
            html = ""

            results = xml.getElementsByTagName('Image')
            for(i = 0; i < results.length; i++)
            {
                attr = results[i].attributes;
                imageId = attr.getNamedItem('id').nodeValue;

                html += '<div class="responsive" id="' + imageId + '">'
                html += '<div class="gallery">'

                if(includeLinks)
                    html += '<a href="/image/' + imageId + '/">'

                html += '<img src="' + attr.getNamedItem('thumbUrl'+thumbnailSize).nodeValue + '">';

                if(includeLinks)
                    html += '</a>';

                questionLink = '/image/' + imageId + '/question/';
                html += '<div class="desc">'
                //TODO: Make these <a> links an image icon instead of the placeholder text link that is here now.
                html += '<a style="cursor: pointer" class="hideLink" id="hideButton' + imageId + '">Hide</a>&nbsp;'
                html += '<a href="' + questionLink + '" class="questionLink">Ques</a>&nbsp;'
                html += '<a style="cursor: pointer" onclick="zoomImage(' + imageId + ')">Zoom</a>'
                html += '</div>';
                html += '</div>';
                html += '</div>';
            }

            $('#imageGalleryLoadingMessage').remove();
            $('#imageGalleryDiv').append(html);

            $(".hideLink").click(function()
            {
                $(this).parent().parent().parent().remove();
            });

            $(document).trigger('imageTableLoadEvent');

            loadingInProgress = false;
        });

        resultsPage++;
    }
};

$(document).ready(loadImageGalleryResults);

</script>

<div id=imageGalleryDiv></div>

<div class="responsive">
	<div style="text-align:center;">
		<input type=button class=button value="Load more" onclick="loadImageGalleryResults()">
	</div>
</div>

<div class="clearfix"></div>

