{% extends "cosmicapp/base.html" %}
{% load static %}
{% load humanize %}
{% load cosmicapp_extras %}

{% block extratitle %} - Image {{id}} {% endblock %}

{% block extrahead %}
<style>
td.numSourceResults
{
    background-color: #69F;
    text-align: center;
}

td.numMatchResults
{
    background-color: #EE4;
    text-align: center;
}
</style>
{% endblock extrahead %}

{% block mainbody %}
<h2>Image {{id}}</h2>

<a href="{{image.getThumbnailUrlFull|safe}}">
<img style="float; right;" src="{{image.getThumbnailUrlLarge|safe}}"></a>

    <table border=2px style="float: left; border-collapse: collapse; margin: 1em;">
        <tr>
            <td>
            Uploaded by user:
            <a href="/user/{{image.fileRecord.uploadSession.uploadingUser}}">{{image.fileRecord.uploadSession.uploadingUser}}</a>

            <br> Filename: {{image.fileRecord.originalFileName}}
            <br> Sha-256: <a title="Click to copy to clipboard: {{image.fileRecord.fileSha256}}">{{image.fileRecord.fileSha256|sha256summary}}</a>
            <br>
            Taken on: {{image.dateTime|default_if_none:"Unknown date/time"}}
            <br>
            Uploaded:
            <a href="/uploadSession/{{image.fileRecord.uploadSession.id}}">
            {{image.fileRecord.uploadSession.dateTime|default_if_none:"Unknown date/time"}}</a>
            <br>
            <br> Has <a href="/image/{{id}}/properties/">{{image.properties.all.count}} image properties</a>.
            <br> Has <a href="/image/{{id}}/question/">{{image.answers.all.count}} questions answered</a> about it.
            <br>
            <br>
            Using instrument:
            {% if image.instrument %}
                {{image.instrument}}
            {% else %}
                Unknown
            {% endif %}
            <br>
            From observatory:
            {% if image.observatory %}
                {{image.observatory.name}}
            {% else %}
                Unknown
            {% endif %}
            <br>
            <br> Image dimensions: {{image.dimX}}x{{image.dimY}}x{{image.dimZ}}
            <br> Bit depth: {{image.bitDepth}}&nbsp;bits/pixel
            <br>
            Frame type:
            {% if image.frameType %}
                <a href="/image/gallery/?queryParams=imageProperty=imageType={{image.frameType}}">{{image.frameType}}</a>
            {% else %}
                Unknown
            {% endif %}
            <br>
            <br> This image has {{plateSolutions.count}} plate solutions.

            {% for ps in plateSolutions %}
            <br>&emsp;<b>{{ps.source}}:</b>
            <br>&emsp;&emsp;{{ps.centerRA|formatRA}} {{ps.centerDec|formatDec}}
            <br>&emsp;&emsp;{{ps.resolutionX|floatformat:2}}x{{ps.resolutionY|floatformat:2}} arcsec/pixel
            <br>&emsp;&emsp;{{ps.area|floatformat:2}} square deg
            <br>&emsp;&emsp;1 / {{ps.area|divide:41253|invert|floatformat:0|intcomma}} of the whole sky
            {% endfor %}
            </td>

            {% for channel in image.imagechannelinfo_set.all %}
                <tr>
                <td>
                Channel {{channel.index}}: {{channel.channelType}}
                <br> Unique Values: {{channel.uniqueValues}}
                <br> Black Point: {{channel.thumbnailBlackPoint|floatformat:2}}
                <br> White Point: {{channel.thumbnailWhitePoint|floatformat:2}}
                <br> Gamma: {{channel.thumbnailGamma|floatformat:2}}
                <table>
                    <tr><th></th> <th>mean</th> <th>median</th> <th>stdev</th></tr>
                    <tr>
                        <td><b>Image</b></td>
                        <td>{{channel.mean|floatformat:2}}</td>
                        <td>{{channel.median|floatformat:2}}</td>
                        <td>{{channel.stdDev|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td><b>Background</b></td>
                        <td>{{channel.bgMean|floatformat:2}}</td>
                        <td>{{channel.bgMedian|floatformat:2}}</td>
                        <td>{{channel.bgStdDev|floatformat:2}}</td>
                    </tr>

                </table>
                <a href="{{channel.getHistogramUrl}}"><img src="{{channel.getHistogramUrl}}"></a>
                </td>
                </tr>
            {% endfor %}
        </tr>
    </table>

<br>
    <table border=2px style="float: left; border-collapse: collapse; margin: 1em;">
        <tr>
        <th rowspan=2 colspan=2> <a href="/image/{{id}}/sources/">View<br>Sources</a> </th>
        <th>Sextractor</th>
        <th>Image2xy</th>
        <th>Daofind</th>
        <th>Starfind</th>
        </tr>

        <tr>
        <td class=numSourceResults>{{numSextractorSources}}</td>
        <td class=numSourceResults>{{numImage2xySources}}</td>
        <td class=numSourceResults>{{numDaofindSources}}</td>
        <td class=numSourceResults>{{numStarfindSources}}</td>
        </tr>

        <tr>
        <th>Sextractor</th>
        <td class=numSourceResults>{{numSextractorSources}}</td>
        <td class=numMatchResults></td>
        <td style="background-color: rgb(50,{% percentage numSextractorImage2xyMatches numImage2xySources 50 255 %},50);">{{numSextractorImage2xyMatches}}</td>
        <td style="background-color: rgb(50,{% percentage numSextractorDaofindMatches numDaofindSources 50 255 %},50);">{{numSextractorDaofindMatches}}</td>
        <td style="background-color: rgb(50,{% percentage numSextractorStarfindMatches numStarfindSources 50 255 %},50);">{{numSextractorStarfindMatches}}</td>
        </tr>

        <tr>
        <th>Image2xy</th>
        <td class=numSourceResults>{{numImage2xySources}}</td>
        <td style="background-color: rgb(50,{% percentage numSextractorImage2xyMatches numSextractorSources 50 255 %},50);">{{numSextractorImage2xyMatches}}</td>
        <td class=numMatchResults></td>
        <td style="background-color: rgb(50,{% percentage numImage2xyDaofindMatches numDaofindSources 50 255 %},50);">{{numImage2xyDaofindMatches}}</td>
        <td style="background-color: rgb(50,{% percentage numImage2xyStarfindMatches numStarfindSources 50 255 %},50);">{{numImage2xyStarfindMatches}}</td>
        </tr>

        <tr>
        <th>Daofind</th>
        <td class=numSourceResults>{{numDaofindSources}}</td>
        <td style="background-color: rgb(50,{% percentage numSextractorDaofindMatches numSextractorSources 50 255 %},50);">{{numSextractorDaofindMatches}}</td>
        <td style="background-color: rgb(50,{% percentage numImage2xyDaofindMatches numImage2xySources 50 255 %},50);">{{numImage2xyDaofindMatches}}</td>
        <td class=numMatchResults></td>
        <td style="background-color: rgb(50,{% percentage numDaofindStarfindMatches numStarfindSources 50 255 %},50);">{{numDaofindStarfindMatches}}</td>
        </tr>

        <tr>
        <th>Starfind</th>
        <td class=numSourceResults>{{numStarfindSources}}</td>
        <td style="background-color: rgb(50,{% percentage numSextractorStarfindMatches numSextractorSources 50 255 %},50);">{{numSextractorStarfindMatches}}</td>
        <td style="background-color: rgb(50,{% percentage numImage2xyStarfindMatches numImage2xySources 50 255 %},50);">{{numImage2xyStarfindMatches}}</td>
        <td style="background-color: rgb(50,{% percentage numDaofindStarfindMatches numDaofindSources 50 255 %},50);">{{numDaofindStarfindMatches}}</td>
        <td class=numMatchResults></td>
        </tr>
    </table>

{% if image.plateSolutions.count > 0 %}
    <span style="min-width: 300px; max-width: 60%; float: left">
    <p>This image overlaps with {{overlappingPlates|length}} other images.</p>

    <div style="margin: .3em; float: left; display: inline-block;">
    <img src={{image.getThumbnailUrlSmall|safe}}>
    <font size=-1>
    <br> This image.
    <br>
    {{image.getBestPlateSolution.resolutionX|floatformat:2}} x {{image.getBestPlateSolution.resolutionY|floatformat:2}}
    <br>arcsec/pixel
    </font>
    </div>

    {% for ps in overlappingPlates %}
    <div style="margin: .3em; float: left; display: inline-block;">
    <a href="/image/{{ps.plate.image.pk}}/">
    <img src="{{ps.plate.image.getThumbnailUrlSmall|safe}}">
    <font size=-1>
    <br>Image {{ps.plate.image.pk}}</a>
    <br>
    {% filter floatformat:0 %}{% percentage image.getBestPlateSolution.resolutionX ps.plate.resolutionX %}{% endfilter %}% x
    {% filter floatformat:0 %}{% percentage image.getBestPlateSolution.resolutionY ps.plate.resolutionY %}{% endfilter %}%
    <br> Overlap:
    {% filter floatformat:0 %}{% percentage ps.overlapArea imagePlateArea %}{% endfilter %}%
    </font>
    </div>
    {% endfor %}

    </span>
{% endif %}

<!-- <h3>Processing<h3> -->
<!-- TODO: Add processing queue jobs for this image. -->

{% endblock %}

