{% extends "cosmicapp/base.html" %}
{% load static %}

{% block extratitle %} - Image {{id}} properties {% endblock %}

{% block mainbody %}
<h2>Image {{id}} properties</h2>

<form method="POST">
{% csrf_token %}
    <table border="2px">
        <tr>
        <th> Key </th>
        <th width=250px> Value </th>
        <th> Original Key </th>
        <th width=400px> Original Value </th>
        <th> correct? </th>
        <th> Incorrect? </th>
        <th> Comment<br>if<br>incorrect </th>
        </tr>

    {% for property in properties %}
        <tr id="row_{{property.pk}}">
            <td>{{property.key}}</td>
            <td>{{property.value}}</td>
            <td>{{property.header.key}}</td>
            <td>{{property.header.value}}</td>
            <td><input type=checkbox id="correct_{{property.pk}}"></td>
            <td><input type=checkbox id="incorrect_{{property.pk}}"></td>
            <td><input type=text id="comment_{{property.pk}}"></td>
        </tr>
    {% endfor %}
    </table>

{% comment %}This button is disabled until the backend code to support this is written.{% endcomment %}
<p><input type=submit value="Save correct/incorrect/comment" disabled></p>

</form>

{% comment %}TODO: Include a table of ImageHeaderField entries with no recognized ImageProperty assosciated with them.{% endcomment %}

<p>{{image.getThumbnailLarge|safe}}</p>

{% endblock %}


