{% extends "cosmicapp/base.html" %}
{% load static %}
{% load cosmicapp_extras %}

{% block extratitle %} - Image {{id}} properties {% endblock %}

{% block mainbody %}
<h2>Image {{id}} properties</h2>

<form method="POST">
{% csrf_token %}
    <table border="2px">
        <tr>
        <th width=400px> Key=Value </th>
        <th> Original Key </th>
        <th width=400px> Original Value </th>
        <th> Property Create Time </th>
        {% comment %}
        <th> correct? </th>
        <th> Incorrect? </th>
        <th> Comment<br>if<br>incorrect </th>
        {% endcomment %}
        </tr>

    {% for property in properties %}
        <tr id="row_{{property.pk}}">
        <td><a href="/imageProperties/?keyContains={{property.key}}">{{property.key}}</a>=<a href="/image/gallery/?queryParams=imageProperty={{property.key|doubleEscape:':'|urlencode}}={{property.value|doubleEscape:':'|urlencode}}">{{property.value}}</a></td>
            <td>{{property.header.key}}</td>
            <td>{{property.header.value}}</td>
            <td>{{property.createDateTime}}</td>
            {% comment %}
            <td><input type=checkbox id="correct_{{property.pk}}"></td>
            <td><input type=checkbox id="incorrect_{{property.pk}}"></td>
            <td><input type=text id="comment_{{property.pk}}"></td>
            {% endcomment %}
        </tr>
    {% endfor %}
    </table>

{% comment %}This button is disabled until the backend code to support this is written.{% endcomment %}
<p><input type=submit value="Save correct/incorrect/comment" disabled></p>

</form>

<h2>Raw header data</h2>

<p>{{fitsHeaderString|linebreaks}}</p>

{% endblock %}


