{% extends "cosmicapp/base.html" %}

{% block extratitle %} - Home {% endblock %}

{% block mainbody %}
<h2>Welcome to Cosmic.</h2>

<h3>What is Cosmic</h3>
<p>
Cosmic is an image sharing site for images and data created by amateur astronomers.  Unlike other image sharing sites,
Cosmic focuses on the scientific application of the images shared here.  When you upload an image we will automatically
run many different types of analysis on it as well as attempting to plate solve the image using different methods to
determine where it is on the sky.  Once we know where the image is we will compare what it contains to known astronomical
objects.  Finally, we will extract any data we can about the position and brightness of all the visible objects and
archive this data for use by scientists and other amateur astronomers.
</p>

<p>
Since our focus is on the gathering of scientific data, not only will we store your images we will also archive your calibration
data such as dark and flat frames taken along side your science frames.  Ideally you would upload all your calibration
data along with your uncalibrated science frames so that researchers are free to combine this in the way necessary for
their research.  Additionally you will be asked to specify as much information as you can about your telescope and
other equipment in case this information is necessary for research.  Lastly you will be asked to upload any observer
notes you collected when you took the images.  These notes are essential for understanding what you were trying to
observe, if there were problems with your equipment, and what the conditions were like when you were observing.
</p>

<p>
Once you have uploaded some imagery for us to analyze, we can determine the properties of your telescope, your camera,
and your observing site.  Knowing these things we will then be able to suggest a personalized list of future
observations for you to make.  The suggested observations will be chosen to be within the capabilities of you and your
equipment and will also be scientifically interesting targets.  Over time, as you gain experience, we will suggest more
and more difficult targets to observe, along with the information and resources you need rise to these challenges.
</p>
{% endblock %}

