{% extends "cosmicapp/base.html" %}
{% load cosmicapp_extras %}

{% block extratitle %} - Image mosaicing tool {% endblock %}

{% block mainbody %}

<head>
  <script src="/static/cosmicapp/math.min.js" type="text/javascript"></script>
</head>

<input id="thumbnailSizeInput" type=text value=full>

<div class="mosaicDesktop" id="desktopDiv">
    <canvas class="mosaicCanvas" id="desktop">
        Your browser does not support the HTML 5 Canvas element.  Please update to a version that does.
    </canvas>
</div>

{% include "./jquery.html" %}

<script>
var canvas = document.getElementById('desktop');
var context = canvas.getContext('2d');

var selectedImages = [];
var zoom = 1.00;     //temporary
var offsetX = 0, offsetY = 0;
var lmbPressed = false, mmbPressed = false, rmbPressed = false;
var lmbOffsetXStart, lmbOffsetYStart, lmbPageXStart, lmbPageYStart;
var rmbOffsetXStart, rmbOffsetYStart, rmbPageXStart, rmbPageYStart;
var mouseX = 0, mouseY = 0;
var mouseCanvasX = 0, mouseCanvasY = 0;
var mousePageX = 0, mousePageY = 0;

function setMatrixTransform(m)
{
	this.setTransform(
		m.subset(math.index(0, 0)),
		m.subset(math.index(0, 1)),
		m.subset(math.index(0, 2)),
		m.subset(math.index(1, 0)),
		m.subset(math.index(1, 1)),
		m.subset(math.index(1, 2))
		)
}

context.setMatrixTransform = setMatrixTransform;

function addImageToDesktop(id)
{
    selectedImages[selectedImages.length] = new Object({
        id: id,
        image: new Image()
        });

    i = selectedImages.length-1;

	selectedImages[i].transformMatrix = math.eye(3);

    context.setTransform(
        zoom * Math.cos(selectedImages[i].rotation),
        zoom * Math.sin(selectedImages[i].rotation),
        zoom * -Math.sin(selectedImages[i].rotation),
        zoom * Math.cos(selectedImages[i].rotation),
        zoom*(offsetX + selectedImages[i].posX),
        zoom*(offsetY + selectedImages[i].posY)
    );

    selectedImages[i].posX = 1000 * (i % 4);
    selectedImages[i].posY = 1000 * Math.floor(i / 4);
    selectedImages[i].rotation = .2*i;

    $.ajax({
        url : "/query/?queryfor=image&id=" + id,
        type : "get",
        async: false,
        success : function(xml)
        {
            results = xml.getElementsByTagName('Image')
            attr = results[0].attributes;
            selectedImages[i].width = attr.getNamedItem('dimX').nodeValue;
            selectedImages[i].height = attr.getNamedItem('dimY').nodeValue;
        }
    });

    sizeString = document.getElementById("thumbnailSizeInput").value

    thumbUrl = $.ajax(
        {url: '/image/' + id + '/thumbnail/' + sizeString + '/',
        async: false}
        ).responseText;

    selectedImages[i].image.src = thumbUrl;
    selectedImages[i].rotationX = 0;//selectedImages[i].width/2;
    selectedImages[i].rotationY = 0;//selectedImages[i].width/2;
    selectedImages[i].image.onload = drawCanvas;
};

function removeImageFromDesktop(id)
{
    arrayIndex = getImageObjectArrayIndexById(id);

    if(arrayIndex == -1)
        return;

    selectedImages.splice(arrayIndex, 1);

    drawCanvas();
};

function drawCanvas()
{
    canvas.width = canvas.offsetWidth;
    canvas.height = canvas.offsetHeight;
//    context.clearRect(0, 0, canvas.width, canvas.height);

    for(i = 0; i < selectedImages.length; i++)
    {
        context.setTransform(
            zoom,
            0,
            0,
            zoom,
            zoom*(offsetX + selectedImages[i].posX),
            zoom*(offsetY + selectedImages[i].posY)
            );

        context.rotate(selectedImages[i].rotation);

        context.drawImage(
            selectedImages[i].image,
            -selectedImages[i].rotationX,
            -selectedImages[i].rotationY,
            selectedImages[i].width,
            selectedImages[i].height
            );
    }

    for(i = 0; i < selectedImages.length; i++)
    {
		context.setMatrixTransform(selectedImages[i].transformMatrix);

        context.drawImage(
            selectedImages[i].image, 0, 0,
            selectedImages[i].width, selectedImages[i].height
            );
    }

    for(i = 0; i < selectedImages.length; i++)
    {
        context.setTransform(
            zoom * Math.cos(selectedImages[i].rotation),
            zoom * Math.sin(selectedImages[i].rotation),
            zoom * -Math.sin(selectedImages[i].rotation),
            zoom * Math.cos(selectedImages[i].rotation),
            zoom*(offsetX + selectedImages[i].posX),
            zoom*(offsetY + selectedImages[i].posY)
            );

		context.fillStyle = 'hsla(' + (61 * i) % 360 + ', 100%, 70%, 0.7)'; 
		context.fillRect(0, 0, selectedImages[i].width, selectedImages[i].height);
    }


    context.font = '24px sans-serif';
    context.fillStyle = 'blue';
	context.setTransform(1, 0, 0, 1, 0, 0);
	context.fillText(
		Math.round(mouseX) + ", " +
		Math.round(mouseY) + ", " +
		Math.round(offsetX) + ", " +
		Math.round(offsetY) + ", " +
		Math.round(100*zoom)/100
	, 10, 34);
    context.fillStyle = 'green';
    context.setTransform(1, 0, 0, 1, 0, 24);
    context.fillText(
		Math.round(lmbOffsetXStart) + ", " +
		Math.round(lmbOffsetYStart) + ", " +
		Math.round(lmbPageXStart) + ", " +
		Math.round(lmbPageYStart)
	, 10, 34);
    context.fillStyle = 'red';
    context.setTransform(1, 0, 0, 1, 0, 48);
    context.fillText(
		Math.round(rmbOffsetXStart) + ", " +
		Math.round(rmbOffsetYStart) + ", " +
		Math.round(rmbPageXStart) + ", " +
		Math.round(rmbPageYStart)
	, 10, 34);

    context.fillStyle = 'teal';

    for(i = 0; i < selectedImages.length; i++)
    {
		context.setTransform(1, 0, 0, 1, 0, (i+3)*24);
		context.fillText(
			Math.round(selectedImages[i].posX) + ", " +
			Math.round(selectedImages[i].posY) + ", " +
			Math.round(selectedImages[i].rotationX) + ", " +
			Math.round(selectedImages[i].rotationY) + ", " +
			Math.round(180*selectedImages[i].rotation/Math.PI) +
			selectedImages[i].transformMatrix
		, 10, 34);
	}

};

function handleMouseButtonDown(event)
{
    if(event.which == 1)
    {
        lmbPressed = true;
        lmbOffsetXStart = offsetX;
        lmbOffsetYStart = offsetY;
        lmbPageXStart = event.pageX;
        lmbPageYStart = event.pageY;
    }
    else if(event.which == 2)
    {
        mmbPressed = true;
    }
    else if(event.which == 3)
    {
        rmbPressed = true;
        rmbOffsetXStart = offsetX;
        rmbOffsetYStart = offsetY;
        rmbPageXStart = event.pageX;
        rmbPageYStart = event.pageY;
    }

    return false;
};

function handleMouseMove(event)
{
    // Flag to prevent calling the draw function multiple times.
    drawAlreadyDone = false;

    if(lmbPressed)
    {console.log(zoom);
        offsetX = lmbOffsetXStart + (event.pageX - lmbPageXStart)/zoom;
        offsetY = lmbOffsetYStart + (event.pageY - lmbPageYStart)/zoom;
        drawCanvas();
        drawAlreadyDone = True;
    }

    if(rmbPressed)
    {console.log(zoom);
        offsetX = rmbOffsetXStart + (event.pageX - rmbPageXStart)/zoom;
        offsetY = rmbOffsetYStart + (event.pageY - rmbPageYStart)/zoom;
        drawCanvas();
        drawAlreadyDone = True;
    }

    rect = canvas.getBoundingClientRect();
    console.log(rect.left, rect.right, rect.top, rect.bottom, event.clientX, event.clientY);
    if(event.clientX >= rect.left && event.clientX <= rect.right && event.clientY >= rect.top && event.clientY <= rect.bottom)
    {
        mouseX = (event.clientX - rect.left)/zoom - offsetX;
        mouseY = (event.clientY - rect.top)/zoom - offsetY;

        if(!drawAlreadyDone)
            drawCanvas();

        return false;
    }
    else
    {
        return true;
    }
};

function handleMouseButtonUp(event)
{
    if(event.which == 1)
        lmbPressed = false;
    else if(event.which == 2)
        mmbPressed = false;
    else if(event.which == 3)
        rmbPressed = false;

    return false;
};

function handleMouseWheel(event)
{
    if(event.originalEvent.wheelDelta > 0 || event.originalEvent.detail < 0)
        zoom *= 1.1;
    else
        zoom /= 1.1;

    drawCanvas();
    return false;
};

function getImageObjectArrayIndexById(id)
{
   arrayIndex = -1;
    for(i = 0; i < selectedImages.length; i++)
    {
        if(selectedImages[i].id == id)
        {
            arrayIndex = i;
            break;
        }
    }

    return arrayIndex;
};

function onImageTableLoad()
{
    // Remove the question links from all the newly loaded elements to prevent the user from accidentally clicking one
    // and leaving the page.
    $('.questionLink').remove();

    $('img').off('click').on('click', function()
    {
        clickedId = $(this).parent().parent().attr('id');
        hideButtonId = '#hideButton' + clickedId

        arrayIndex = getImageObjectArrayIndexById(clickedId);
        if(arrayIndex == -1)
        {
            addImageToDesktop(clickedId);
            $(this).parent().parent().css('background', '#1040a0');
            $(hideButtonId).hide();
        }
        else
        {
            removeImageFromDesktop(clickedId);
            $(this).parent().parent().css('background', 'none');
            $(hideButtonId).show();
        }
    });
};

$(document).ready(function()
{
    $('body').on('contextmenu', 'canvas', function(e){ return false; });
    $('#desktop').mousedown(handleMouseButtonDown);
    /* NOTE: 'move' and 'up' are bound to window instead of #desktop to handle drags out of the canvas boundary. */
    $(window).mousemove(handleMouseMove);
    $(window).mouseup(handleMouseButtonUp);
    $('#desktop').bind('mousewheel DOMMouseScroll', handleMouseWheel);

    $(document).on('imageTableLoadEvent', onImageTableLoad)
    $(window).on('resize', drawCanvas)
});

</script>

<p style="text-align: center">
<a href="#">Desktop</a>
&nbsp;&nbsp;
<a href="#imageGalleryDiv">Images</a>
<p>

{% with "user="|concat:user as queryParams %}
{% include "./imageTable.html" with includeLinks="false" thumbnailSize="Medium" %}
{% endwith %}

{% endblock %}
