{% extends "cosmicapp/base.html" %}
{% load cosmicapp_extras %}

{% block extratitle %} - Image mosaicing tool {% endblock %}

{% block mainbody %}

<head>
  <script src="/static/cosmicapp/math.min.js" type="text/javascript"></script>
</head>

Thumbnail size: <input id="thumbnailSizeInput" type=text value=full>
Image opacity: <input id="imageOpacitySlider" type=range min="0" max="100" value="50" onchange="drawCanvas()">

<div class="mosaicDesktop" id="desktopDiv">
    <canvas class="mosaicCanvas" id="desktop">
        Your browser does not support the HTML 5 Canvas element.  Please update to a version that does.
    </canvas>
</div>

{% include "./jquery.html" %}

<script>
var undoStack = [], redoStack = [];

function UndoObject(uAction, rAction, uData, rData)
{
    this.undoAction = uAction;
    this.redoAction = rAction;
    this.undoData = uData;
    this.redoData = rData;
};

function executeUndoableAction(undoObject)
{
    undoObject.redoAction;
    redoStack = [];
    undoStack.push(undoObject);
};

function performUndo()
{
    if(undoStack.length > 0)
    {
        action = undoStack.pop();
        action.undoAction();
        redoStack.push(action);
    }
};

function performRedo()
{
    if(redoStack.length > 0)
    {
        action = redoStack.pop();
        action.redoAction();
        undoStack.push(action);
    }
};
</script>

<script>
var canvas = document.getElementById('desktop');
var context = canvas.getContext('2d');

var selectedImages = [];
var zoomMatrix = math.matrix([
	[ Math.sqrt(2),       0 ,         0 ],
	[   0,           Math.sqrt(2) ,   0 ],
	[   0,                0 ,         1 ]
]);
var canvasMatrix = math.eye(3);

var tempMatrix = math.eye(3);

var mode = '';
var lmbPageX, lmbPageY;
var rmbPageX, rmbPageY;
var imageToTranslate, translationStartingMatrix;
var ctrlKeyPressed = false, shiftKeyPressed = false;

// Coordinate systems:
// Image - relative to each image origin
// Workspace - independent of image
// Canvas - the view window on the page
// Page - the mouse coords on the page 
// screen
/*
var mouseCanvasVector = math.matrix([[0,0,1]]);
var mouseWorkspaceVector = math.matrix([[0,0,1]]);
*/
var mouseCanvasVector = math.matrix([[0],[0],[1]]);
var mouseWorkspaceVector = math.matrix([[0],[0],[1]]);
var mouseCanvasX = 0, mouseCanvasY = 0;
var mouseWorkspaceX = 0, mouseWorkspaceY = 0;

context.setMatrixTransform = function(m)
{
	this.setTransform(
		m.subset(math.index(0, 0)),
		m.subset(math.index(1, 0)),
		m.subset(math.index(0, 1)),
		m.subset(math.index(1, 1)),
		m.subset(math.index(0, 2)),
		m.subset(math.index(1, 2))
		);
}

function addImageToDesktop(id)
{
    i = selectedImages.length;

    selectedImages[i] = new Object({
        id: id,
        image: new Image()
        });

    selectedImages[i].highlightColor = (77 * i) % 360;

    $.ajax({
        url : "/query/?queryfor=image&id=" + id,
        type : "get",
        async: false,
        success : function(xml)
        {
            results = xml.getElementsByTagName('Image')
            attr = results[0].attributes;
            selectedImages[i].width = Number(attr.getNamedItem('dimX').nodeValue);
            selectedImages[i].height = Number(attr.getNamedItem('dimY').nodeValue);
        }
    });

	selectedImages[i].transformMatrix = math.eye(3);

	if (i == 1)
	{
		// second image is offset at rotated by 15 deg
		selectedImages[i].transformMatrix = math.matrix([
			[	(Math.sqrt(3) + 1)/(2*Math.sqrt(2)) ,
				(Math.sqrt(3) - 1)/(2*Math.sqrt(2)) ,
				Math.floor(selectedImages[i].width/16) ] ,
			[	(1 - Math.sqrt(3))/(2*Math.sqrt(2)) ,
				(Math.sqrt(3) + 1)/(2*Math.sqrt(2)) ,
				Math.floor(selectedImages[i].height/16) ] ,
			[ 0, 0, 1 ]]);
	} else if (i > 1) {
		// if two or more images are on the screen, assume they are aligned, and
		// position the next image to follow the alignment 
		selectedImages[i].transformMatrix = math.multiply(
				selectedImages[i-1].transformMatrix,
				math.multiply(
					selectedImages[i-1].transformMatrix,
					math.inv(selectedImages[i-2].transformMatrix)
				)
			);
	}

    selectedImages[i].originX = selectedImages[i].width/2;
    selectedImages[i].originY = selectedImages[i].height/2;

    sizeString = document.getElementById("thumbnailSizeInput").value

    thumbUrl = $.ajax(
        {url: '/image/' + id + '/thumbnail/' + sizeString + '/',
        async: false}
        ).responseText;

    selectedImages[i].image.src = thumbUrl;
    selectedImages[i].image.onload = drawCanvas;
};

function removeImageFromDesktop(id)
{
    arrayIndex = getSelectedImagesIndexById(id);
    if(arrayIndex == -1)
        return;

    selectedImages.splice(arrayIndex, 1);
    drawCanvas();
};

function drawCanvas()
{
    canvas.width = canvas.offsetWidth;
    canvas.height = canvas.offsetHeight;

    mousedOverImageIndex = getSelectedImagesIndexByMousePosition();

    for(i = 0; i < selectedImages.length; i++)
    {
		context.setMatrixTransform(
			math.multiply(
				canvasMatrix,
				selectedImages[i].transformMatrix
			)
		);

        if(mode == 'translate' || mode == 'rotate')
        {
            if(i == imageIndexToTranslate)
            {
                context.globalAlpha = 0.3;
                borderAlpha = 1.0;
            }
            else
            {
                context.globalAlpha = $('#imageOpacitySlider').val()/100.0;
                borderAlpha = 0.3;
            }
        }
        else
        {
            context.globalAlpha = $('#imageOpacitySlider').val()/100.0;
            if(i == mousedOverImageIndex)
                borderAlpha = 1.0;
            else
                borderAlpha = 0.3;
        }

        context.drawImage(
            selectedImages[i].image,
            -selectedImages[i].originX, -selectedImages[i].originY,
            selectedImages[i].width, selectedImages[i].height
        );

        context.globalAlpha = 1.0;

        context.beginPath();
        context.lineWidth = 4;
		context.strokeStyle = 'hsla(' + selectedImages[i].highlightColor + ', 100%, 50%, ' + borderAlpha + ')';
		context.rect(-(2+selectedImages[i].originX), -(2+selectedImages[i].originY), selectedImages[i].width+4, selectedImages[i].height+4);
        context.stroke();

        if(ctrlKeyPressed || mode == 'rotate')
        {
            context.beginPath();
            context.moveTo(-20, 0);
            context.lineTo(20, 0);
            context.stroke();

            context.beginPath();
            context.moveTo(0, -20);
            context.lineTo(0, 20);
            context.stroke();
        }
    }

    context.font = '24px sans-serif';

	var offset = -24;

    context.fillStyle = 'blue';
	context.setTransform(1, 0, 0, 1, 0, offset += 24);
	context.fillText(
		mouseCanvasVector.format(3)
		 + " , " + 
		mouseWorkspaceVector.format(3)
		 + " , " + 
		tempMatrix.format(3)
		, 10, 34);

    context.fillStyle = 'green';
    context.setTransform(1, 0, 0, 1, 0, offset += 24);
	testMatrix = math.matrix([
		[ "a", "b", "c" ],
		[ "d", "e", "f" ],
		[ "g", "h", "i" ]
	]);
	testVector = math.matrix([1,2,3]);
	testReplacement = math.subset(testMatrix,math.index([0,1,2],2),testVector);
	testVector = math.multiply(
				math.subtract(
					math.eye(3) ,
					zoomMatrix
				) ,
				mouseCanvasVector);
	context.fillText(
		testVector.subset(math.index([0,1]))
		, 10, 34);

    context.fillStyle = 'red';
    context.setTransform(1, 0, 0, 1, 0, offset += 24);
	context.fillText(canvasMatrix.format(3), 10, 34);

    context.fillStyle = 'teal';

    for(i = 0; i < selectedImages.length; i++)
    {
		context.setTransform(1, 0, 0, 1, 0, offset += 24);
		context.fillText(selectedImages[i].transformMatrix.format(3), 10, 34);
	}

};

function getMouseCoordinates(event)
{
    rect = canvas.getBoundingClientRect();

	mouseCanvasVector = math.matrix([
		event.clientX - rect.left ,
		event.clientY - rect.top ,
		1
	]);

	mouseWorkspaceVector = math.multiply(
		math.inv(canvasMatrix),
		mouseCanvasVector
	);
}

function handleMouseButtonDown(event)
{
    if(mode == '' && event.which == 1 && !ctrlKeyPressed)
    {
        i = getSelectedImagesIndexByMousePosition();
        if(i != -1)
        {
            mode = 'translate';
            lmbPageX = event.pageX;
            lmbPageY = event.pageY;

            imageIndexToTranslate = i;
            imageToTranslate = selectedImages[i];
            translationStartingMatrix = imageToTranslate.transformMatrix;
            drawCanvas();
        }
    }
    else if(mode == '' && event.which == 2 && !ctrlKeyPressed)
    {
        i = getSelectedImagesIndexByMousePosition();
        if(i != -1)
        {
            tempImage = selectedImages[i];
            selectedImages.splice(i, 1);
            selectedImages.splice(0, 0, tempImage);
            drawCanvas();
        }
    }
    else if(mode == '' && event.which == 3 && !ctrlKeyPressed)
    {
        mode = 'pan';
        rmbPageX  = event.pageX;
        rmbPageY  = event.pageY;
    }
    else if(mode == '' && event.which == 1 && ctrlKeyPressed)
    {
        i = getSelectedImagesIndexByMousePosition();
        if(i != -1)
        {
            mode = 'rotate';
            lmbPageX = event.offsetX;
            lmbPageY = event.offsetY;

            //TODO: Consider renaming these from 'translate' to 'rotate' or remove this comment.
            imageIndexToTranslate = i;
            imageToTranslate = selectedImages[i];
            translationStartingMatrix = imageToTranslate.transformMatrix;
            drawCanvas();
        }
    }

    return false;
};

function handleMouseMove(event)
{
    rect = canvas.getBoundingClientRect();

	getMouseCoordinates(event);

    // Flag to prevent calling the draw function multiple times.
    drawAlreadyDone = false;

    if(mode == 'translate')
    {
        translationMatrix = math.matrix([
            [1, 0, (event.pageX - lmbPageX)/canvasMatrix.subset(math.index(0, 0))],
            [0, 1, (event.pageY - lmbPageY)/canvasMatrix.subset(math.index(1, 1))],
            [0, 0, 1]
        ]);

        imageToTranslate.transformMatrix = math.multiply(imageToTranslate.transformMatrix, translationMatrix);

        lmbPageX  = event.pageX;
        lmbPageY  = event.pageY;

        drawCanvas();
        drawAlreadyDone = true;
    }

    if(mode == 'pan')
    {
        translationMatrix = math.matrix([
            [1, 0, (event.pageX - rmbPageX)/canvasMatrix.subset(math.index(0, 0))],
            [0, 1, (event.pageY - rmbPageY)/canvasMatrix.subset(math.index(1, 1))],
            [0, 0, 1]
        ]);

        canvasMatrix = math.multiply(canvasMatrix, translationMatrix);

        rmbPageX  = event.pageX;
        rmbPageY  = event.pageY;

        drawCanvas();
        drawAlreadyDone = true;
    }

    if(mode == 'rotate')
    {
        originVector = math.multiply(
            math.multiply(
                canvasMatrix,
                imageToTranslate.transformMatrix
            ),
            math.matrix([0, 0, 1])
        );

        oldMouseVector = math.matrix([lmbPageX, lmbPageY, 1]);
        newMouseVector = math.matrix([event.offsetX, event.offsetY, 1]);

        oldVector = math.subtract(oldMouseVector, originVector);
        newVector = math.subtract(newMouseVector, originVector);

        oldDx = oldVector.subset(math.index(0));
        oldDy = oldVector.subset(math.index(1));
        newDx = newVector.subset(math.index(0));
        newDy = newVector.subset(math.index(1));

        oldTheta = math.atan2(oldDy, oldDx);
        newTheta = math.atan2(newDy, newDx);
        theta = newTheta - oldTheta;

        rotationMatrix = math.matrix([
            [math.cos(theta), -math.sin(theta), 0],
            [math.sin(theta),  math.cos(theta), 0],
            [0, 0, 1]
        ]);

        imageToTranslate.transformMatrix = math.multiply(imageToTranslate.transformMatrix, rotationMatrix);

        lmbPageX  = event.offsetX;
        lmbPageY  = event.offsetY;

        drawCanvas();
        drawAlreadyDone = true;
    }

    if(event.clientX >= rect.left && event.clientX <= rect.right && event.clientY >= rect.top && event.clientY <= rect.bottom)
    {
        // Update the canvas to redraw new mouse coords and handle any highlighting of moused over images, etc.
        if(!drawAlreadyDone)
            drawCanvas();

        return false;
    }
    else
    {
        return true;
    }
};

function handleMouseButtonUp(event)
{
    if(mode == 'translate' && event.which == 1)
    {
        mode = '';

        undoObject = new UndoObject(
            function()
            {
                this.undoData.image.transformMatrix = this.undoData.matrix;
                drawCanvas();
            },
            function()
            {
                this.redoData.image.transformMatrix = this.redoData.matrix;
                drawCanvas();
            },
            {
                image: imageToTranslate,
                matrix: translationStartingMatrix
            },
            {
                image: imageToTranslate,
                matrix: imageToTranslate.transformMatrix
            }
        );

        executeUndoableAction(undoObject);
    }

    if(mode == 'pan' && event.which == 3)
        mode = '';

    if(mode == 'rotate' && event.which == 1)
    {
        mode = '';

        undoObject = new UndoObject(
            function()
            {
                this.undoData.image.transformMatrix = this.undoData.matrix;
                drawCanvas();
            },
            function()
            {
                this.redoData.image.transformMatrix = this.redoData.matrix;
                drawCanvas();
            },
            {
                image: imageToTranslate,
                matrix: translationStartingMatrix
            },
            {
                image: imageToTranslate,
                matrix: imageToTranslate.transformMatrix
            }
        );

        executeUndoableAction(undoObject);
    }

    drawCanvas();
    return true;
};

function handleMouseWheel(event)
{
	getMouseCoordinates(event);
    if(event.originalEvent.wheelDelta > 0 || event.originalEvent.detail < 0)
        zoomScalingMatrix = zoomMatrix;
    else
        zoomScalingMatrix = math.inv(zoomMatrix);

    tempMatrix = math.subset(
        zoomScalingMatrix,
        math.index([0,1],2),
        math.multiply(
            math.subtract(math.eye(3), zoomScalingMatrix ) ,
            mouseCanvasVector
        ).subset(math.index([0,1])),
    );

    canvasMatrix = math.multiply(tempMatrix, canvasMatrix);

    drawCanvas();
    return false;
};

function handleKeyDown(event)
{
    // ctrl key
    if(event.which == 17)
    {
        ctrlKeyPressed = true;
        drawCanvas();
    }

    // shift key
    if(event.which == 16)
        shiftKeyPressed = true;

    // z key
    if(event.which == 90)
    {
        if(ctrlKeyPressed && !shiftKeyPressed)
            performUndo();

        if(ctrlKeyPressed && shiftKeyPressed)
            performRedo();
    }
};

function handleKeyUp(event)
{
    // ctrl key
    if(event.which == 17)
    {
        ctrlKeyPressed = false;
        drawCanvas();
    }

    // shift key
    if(event.which == 16)
        shiftKeyPressed = false;

};

function getSelectedImagesIndexById(id)
{
    arrayIndex = -1;
    for(i = 0; i < selectedImages.length; i++)
    {
        if(selectedImages[i].id == id)
        {
            arrayIndex = i;
            break;
        }
    }

    return arrayIndex;
};

function getSelectedImagesIndexByMousePosition()
{
    arrayIndex = -1;
    for(i = selectedImages.length-1; i >= 0; i--)
    {
        mouseImageVector = math.multiply(
            math.inv(
                math.multiply(
                    canvasMatrix,
                    selectedImages[i].transformMatrix
                ),
            ),
            mouseCanvasVector
        );

        x = mouseImageVector.subset(math.index(0));
        y = mouseImageVector.subset(math.index(1));
        im = selectedImages[i];
        if(x >= -im.originX && y >= -im.originY && x <= im.width-im.originX && y <= im.height-im.originY)
        {
            arrayIndex = i;
            break;
        }
    }

    return arrayIndex;
};

function onImageTableLoad()
{
    // Remove the question links from all the newly loaded elements to prevent the user from accidentally clicking one
    // and leaving the page.
    $('.questionLink').remove();

    $('img').off('click').on('click', function()
    {
        clickedId = $(this).parent().parent().attr('id');
        hideButtonId = '#hideButton' + clickedId

        arrayIndex = getSelectedImagesIndexById(clickedId);
        if(arrayIndex == -1)
        {
            addImageToDesktop(clickedId);
            $(this).parent().parent().css('background', '#1040a0');
            $(hideButtonId).hide();
        }
        else
        {
            removeImageFromDesktop(clickedId);
            $(this).parent().parent().css('background', 'none');
            $(hideButtonId).show();
        }
    });
};

$(document).ready(function()
{
    $('body').on('contextmenu', 'canvas', function(e){ return false; });
    $('#desktop').mousedown(handleMouseButtonDown);
    /* NOTE: 'move' and 'up' are bound to window instead of #desktop to handle drags out of the canvas boundary. */
    $(window).mousemove(handleMouseMove);
    $(window).mouseup(handleMouseButtonUp);
    $('#desktop').bind('mousewheel DOMMouseScroll', handleMouseWheel);
    $(document).keydown(handleKeyDown);
    $(document).keyup(handleKeyUp);

    $(document).on('imageTableLoadEvent', onImageTableLoad)
    $(window).on('resize', drawCanvas)

    canvasMatrix = math.add(canvasMatrix, [ [0, 0, canvas.offsetWidth/2], [0, 0, canvas.offsetHeight/2], [0, 0, 0] ]);
});

</script>

<p style="text-align: center">
<a href="#">Desktop</a>
&nbsp;&nbsp;
<a href="#imageGalleryDiv">Images</a>
<p>

{% with "user="|concat:user as queryParams %}
{% include "./imageTable.html" with includeLinks="false" thumbnailSize="Medium" %}
{% endwith %}

{% endblock %}
