{% extends "cosmicapp/base.html" %}
{% load cosmicapp_extras %}

{% block extratitle %} - Object Info {% endblock extratitle %}

{% block extrahead %}
{% include "./jquery.html" %}
<script src="/static/cosmicapp/comment.js"></script>
{% if user.is_authenticated %}<script src="/static/cosmicapp/bookmark.js"></script>{% endif %}
{% endblock extrahead %}

{% block topSection %}
<a href="/catalog/{{method}}/{{obj.id|add:-1}}">&lt; {{method}} {{obj.id|add:-1}}</a>&emsp;&emsp;
<a href="/catalog/{{method}}/{{obj.id|add:1}}">{{method}} {{obj.id|add:1}} &gt;</a>

<br>
<br>
{% bookmark obj.getBookmarkTypeString obj.pk "Unsorted Bookmarks" "" "" %}
Bookmark this object.

<br>
<br>
<a href="/upload/?object={{obj.getDisplayName|urlencode}}&objectRA={{obj.getSkyCoords.0}}&objectDec={{obj.getSkyCoords.1}}&image={{obj.image.pk}}">
Upload images of this object</a>

<h2>Object Info</h2>

<div class=commentFloatRight>
{% with 40 as commentWidthInEM %}
{% newComment method obj.id "Comment on this object:" %}

{% displayCommentsFor obj "Comments for this object:" %}
{% endwith %}
</div>
{% endblock %}

{% block mainbody %}{% endblock %}

{% block bottomSection %}
{% if obj.getLinks %}
    <h3>External Links</h3>
    <p>
    {% for link in obj.getLinks %}
        <a href="{{link.0}}">{{link.1}}</a><br>
    {% endfor %}
    </p>
{% endif %}
<br>
{% endblock bottomSection %}
