{% extends "cosmicapp/base.html" %}
{% load cosmicapp_extras %}

{% block extratitle %} - Object Info {% endblock extratitle %}

{% block extrahead %}
{% include "./jquery.html" %}
<script src="/static/cosmicapp/comment.js"></script>
{% endblock extrahead %}

{% block topSection %}
<a href="/catalog/{{method}}/{{obj.id|add:-1}}">&lt;{{method}} {{obj.id|add:-1}}</a>&emsp;&emsp;
<a href="/catalog/{{method}}/{{obj.id|add:1}}">{{method}} {{obj.id|add:1}} &gt;</a>

<h2>Object Info</h2>
{% endblock %}

{% block mainbody %}{% endblock %}

{% block bottomSection %}
<br>
{% newComment method obj.id "Comment on this object:" %}

{% displayCommentsFor obj "Comments for this object:" %}
{% endblock bottomSection %}
