{% extends "cosmicapp/objectinfobase.html" %}
{% load static %}
{% load cosmicapp_extras %}

{% block mainbody %}

<h3>Sextractor Result</h3>
Image: <a href="/image/{{obj.image_id}}">{{obj.image_id}}</a><br>
Image Coordinates (x, y): ({{obj.pixelX|floatformat:2}}, {{obj.pixelY|floatformat:2}})<br>
Confidence: {{obj.confidence}}<br>

<h3>Flags</h3>
Hot Pixel: {{obj.flagHotPixel}}<br>
Bad Line: {{obj.flagBadLine}}<br>
Bad Column: {{obj.flagBadColumn}}<br>
Edge: {{obj.flagEdge}}<br>

<h3>Algorithm Specific Results</h3>
Flux Auto (error): {{obj.fluxAuto}} ({{obj.fluxAutoErr}})<br>
Sextractor Flags: {{obj.flags}}<br>

<h3>Bounding Box</h3>
x1: {{obj.boxXMin}}&emsp;y1: {{obj.boxYMin}}<br>
x2: {{obj.boxXMax}}&emsp;y2: {{obj.boxYMax}}<br>

{% endblock mainbody %}
