{% extends "cosmicapp/base.html" %}
{% load cosmicapp_extras %}

{% block extratitle %} - Object Info {% endblock extratitle %}

{% block extrahead %}
{% include "./jquery.html" %}
<script src="/static/cosmicapp/comment.js"></script>
<script src="/static/cosmicapp/raDec.js"></script>
{% if user.is_authenticated %}<script src="/static/cosmicapp/bookmark.js"></script>{% endif %}
{% endblock extrahead %}

{% block topSection %}
<a href="/catalog/{{method}}/{{obj.id|add:-1}}">&lt; {{method}} {{obj.id|add:-1}}</a>&emsp;&emsp;
<a href="/catalog/{{method}}/{{obj.id|add:1}}">{{method}} {{obj.id|add:1}} &gt;</a>

<br>
<br>
{% bookmark obj.getBookmarkTypeString obj.pk "Unsorted Bookmarks" "" "" %}
Bookmark this object.

<br>
<br>
<a href="/upload/?object={{obj.getDisplayName|urlencode}}&objectRA={{obj.getSkyCoords.0}}&objectDec={{obj.getSkyCoords.1}}&image={{obj.image.pk}}">
Upload images of this object</a>

<h2>Object Info</h2>

<div class=commentFloatRight>
{% with 40 as commentWidthInEM %}
{% newComment method obj.id "Comment on this object:" %}

{% displayCommentsFor obj "Comments for this object:" %}
{% endwith %}
</div>
{% endblock %}

{% block mainbody %}{% endblock %}

{% block bottomSection %}

{% if obj.ra and obj.dec %}
    <br><a href="/map/sky/?zoom=8&lat={{obj.dec}}&lon={{obj.ra}}&mlat={{obj.dec}}&mlon={{obj.ra}}">View this object on the sky map</a>
{% endif %}

{% if obj.getLinks %}
    <h3>External Links</h3>
    <p>
    {% for link in obj.getLinks %}
        <a href="{{link.0}}">{{link.1}}</a><br>
    {% endfor %}
    </p>
{% endif %}
<br>

<h3>Images Containing This Object</h3>
<p>
{% if coveringImages %}
    {% if numCoveringImages > 50 %}
        Showing the first 50 of {{numCoveringImages}} images.
    {% else %}
        Showing {{numCoveringImages}} images.
    {% endif %}
    </p>

    {% for image in coveringImages %}
        <div style="margin: .3em; float: left; display: inline-block;">
        <font size=-1>
        <a href="/image/{{image.pk}}/">
        {% comment %}TODO: Draw this thumbnail on a canvas with a reticle centered on the star.{% endcomment %}
        <img src="{{image.getThumbnailUrlSmall|safe}}">
        </a>
        <br>{{image.getBestPlateSolution.resolutionX|floatformat:2}} x {{image.getBestPlateSolution.resolutionY|floatformat:2}}
        <br>arcsec/pixel
        <br><a href="/image/{{image.pk}}/sources/">(sources)</a>
        </font>
        </div>
    {% endfor %}
{% endif %}

<div class=clearfix></div>

{% endblock bottomSection %}
