{% extends "cosmicapp/base.html" %}
{% load cosmicapp_extras %}

{% block extratitle %} - Details for observatory {{observatory.name}} {% endblock %}

{% block mainbody %}
<h2>Observatory {{observatory.pk}}</h2>

<p>
Name: {{observatory.name}}<br>
Lat: {{observatory.lat}}<br>
Lon: {{observatory.lon}}<br>
Elevation: {{observatory.elevation}}<br>
Created by user: <a href="/user/{{observatory.user}}/">{{observatory.user}}</a>
</p>

{% if observatory.user == user %}
<form action="/observatory/{{observatory.pk}}/" method="POST">
{% csrf_token %}
<input type=hidden name=makedefault value=true>
<input type=submit class=button value="Make this my default observatory">
</form>
{% endif %}

{% endblock mainbody %}

