{% extends "cosmicapp/base.html" %}
{% load static %}
{% load cosmicapp_extras %}

{% block extratitle %} - Observing list tool {% endblock %}

{% block extrahead %}
{% endblock extrahead %}

{% block mainbody %}
{% include "./jquery.html" %}

<h2>Observing suggestions for tonight</h2>

<p>
        <form method=get>
            <table cellpadding=5>
            <tr>
            <td>Lat:</td>
            <td><input type=text name=lat value={{lat}}></td>
            <td>(Latitude in degrees with North as positive and South as negative)</td>
            </tr>

            <tr>
            <td>Lon:</td>
            <td><input type=text name=lon value={{lon}}></td>
            <td>(Longitude in degrees with East as positive and West as negative)</td>
            </tr>

            <tr>
            <td>Ele:</td>
            <td><input type=text name=ele value={{ele}}></td>
            <td>(Elevation above sea level in meters)</td>
            </tr>

            <tr>
            <td>Mag:</td>
            <td><input type=text name=limitingMag value={{limitingMag}}></td>
            <td>(Limiting magnitude - the magnitude of the dimmest object to show in the results)</td>
            </tr>

            <tr>
            <td>Window<br>size:</td>
            <td><input type=text name=windowSize value={{windowSize}}></td>
            <td>(The maximum angle, in degrees, from zenith that an object can be: max 90)</td>
            </tr>

            <tr>
            <td>Results<br>limit:</td>
            <td><input type=text name=limit value={{limit}}></td>
            <td>(The maximum number of objects to display in each table: max 500)</td>
            </tr>

            {% if user.is_authenticated and promptProfileEdit %}
                <tr>
                <td colspan=3 style="color: red;">
                Note: Guesses were made about your observing location.  Consider updating the default observing
                location in <a href="/user/{{user.username}}">your profile</a> so we can correctly set these values.
                <br>
                The following fields are missing from your profile:
                <ul>
                    {% for missingField in profileMissingFields %}
                        <li>{{missingField}}</li>
                    {% endfor %}
                </ul>
                </td>
                </tr>
            {% endif %}
            </table>
        <br>
        <td><input type=submit></td>
        </form>
</p>

<h3>Now</h3>

<p>Your current zenith is at:&emsp;{{zenithNowRA}}&emsp;{{zenithNowDec}}</p>

<a href="#asteroidDiv">Jump to Asteroid Results</a><br>
<a href="#exoplanetDiv">Jump to Exoplanet Results</a><br>
<a href="#variablesDiv">Jump to Variable Star Results</a><br>
<a href="#messierDiv">Jump to Messier Object Results</a><br>
<a href="#dsoDiv">Jump to Deep Sky Object Results</a><br>

<div id=asteroidDiv style="display: inline-block; margin: 2em;">
    <p>There are {{asteroids|length}} asteroids within {{windowSize}} degrees of your zenith.</p>

    <table cellpadding=5px border=2px style="border-collapse: collapse; margin: 1em;">
    <tr><th>Name</th> <th>RA</th> <th>Dec</th> <th>Mag</th></tr>
        {% for asteroid in asteroids %}
            <tr>
            <td>{{asteroid.record.name}}</td>
            <td>{{asteroid.ephem.ra|formatRA}}</td>
            <td>{{asteroid.ephem.dec|formatDec}}</td>
            <td>{{asteroid.ephem.mag|floatformat:2}}</td>
            <tr>
        {% endfor %}
    </table>
</div>

<div id=exoplanetDiv style="display: inline-block; margin: 2em;">
    <p>There are {{exoplanets|length}} exoplanets within {{windowSize}} degrees of your zenith.</p>

    <table cellpadding=5px border=2px style="border-collapse: collapse; margin: 1em;">
    <tr><th>Planet<br>Name</th> <th>RA</th> <th>Dec</th> <th>Star<br>Mag V</th></tr>
        {% for exoplanet in exoplanets %}
            <tr>
            <td>{{exoplanet.identifier}}</td>
            <td>{{exoplanet.ra|formatRA}}</td>
            <td>{{exoplanet.dec|formatDec}}</td>
            <td>{{exoplanet.magV|floatformat:2}}</td>
            <tr>
        {% endfor %}
    </table>
</div>

<div id=variablesDiv style="display: inline-block; margin: 2em;">
<p>There are {{variableStars|length}} variable stars within {{windowSize}} degrees of your zenith.</p>

    <table cellpadding=5px border=2px style="border-collapse: collapse; margin: 1em;">
    <tr><th>Name</th> <th>RA</th> <th>Dec</th> <th>Mag<br>max</th> <th>Mag<br>min</th>
    <th>Period</th> <th>Type</th> <th>Type2</th> <th>Spectral<br>type</th></tr>
        {% for variableStar in variableStars %}
            <tr>
            <td>{{variableStar.identifier}}</td>
            <td>{{variableStar.ra|formatRA}}</td>
            <td>{{variableStar.dec|formatDec}}</td>
            <td>{{variableStar.magMax|floatformat:2}}</td>
            <td>{{variableStar.magMin|floatformat:2}}</td>
            <td>{{variableStar.period|floatformat:2}}</td>
            <td>{{variableStar.variableType}}</td>
            <td>{{variableStar.variableType2}}</td>
            <td>{{variableStar.spectralType}}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id=messierDiv style="display: inline-block; margin: 2em;">
    <p>There are {{messierObjects|length}} Messier objects within {{windowSize}} degrees of your zenith.</p>

    <table cellpadding=5px border=2px style="border-collapse: collapse; margin: 1em;">
    <tr><th>Name</th> <th>RA</th> <th>Dec</th> <th>Object<br>type</th> <th>Mag V</th></tr>
        {% for messierObject in messierObjects %}
            <tr>
            <td>{{messierObject.identifier}}</td>
            <td>{{messierObject.ra|formatRA}}</td>
            <td>{{messierObject.dec|formatDec}}</td>
            <td>{{messierObject.objectType}}</td>
            <td>{{messierObject.magV|floatformat:2}}</td>
            <tr>
        {% endfor %}
    </table>
</div>

<div id=dsoDiv style="display: inline-block; margin: 2em;">
    <p>There are {{extendedSources|length}} deep sky objects within {{windowSize}} degrees of your zenith.</p>

    <table cellpadding=5px border=2px style="border-collapse: collapse; margin: 1em;">
    <tr><th>Name</th> <th>RA</th> <th>Dec</th> <th>Mag K</th> <th>Radius<br>(arcsec)</th> <th>W/H<br>ratio</th></tr>
        {% for extendedSource in extendedSources %}
            <tr>
            <td>{{extendedSource.identifier}}</td>
            <td>{{extendedSource.ra|formatRA}}</td>
            <td>{{extendedSource.dec|formatDec}}</td>
            <td>{{extendedSource.isophotalKMag|floatformat:2}}</td>
            <td>{{extendedSource.isophotalKSemiMajor|floatformat:2}}</td>
            <td>{{extendedSource.isophotalKMinorMajor|floatformat:2}}</td>
            <tr>
        {% endfor %}
    </table>
</div>

{% endblock mainbody %}

