{% extends "cosmicapp/base.html" %}
{% load static %}

{% block extratitle %} - Observing list tool {% endblock %}

{% block extrahead %}
{% endblock extrahead %}

{% block mainbody %}
{% include "./jquery.html" %}

<h2>Observing suggestions for tonight</h2>

<p>
    <ul>
        <form method=get>
            <table cellpadding=5>
            <tr>
            <td>Lat:</td>
            <td><input type=text name=lat value={{lat}}></td>
            <td>(Latitude in degrees with North as positive and South as negative)</td>
            </tr>

            <tr>
            <td>Lon:</td>
            <td><input type=text name=lon value={{lon}}></td>
            <td>(Longitude in degrees with East as positive and West as negative)</td>
            </tr>

            <tr>
            <td>Ele:</td>
            <td><input type=text name=ele value={{ele}}></td>
            <td>(Elevation above sea level in meters)</td>
            </tr>

            <tr>
            <td>Mag:</td>
            <td><input type=text name=limitingMag value={{limitingMag}}></td>
            <td>(Limiting magnitude - the magnitude of the dimmest object to show in the results)</td>
            </tr>

            <tr>
            <td>Window<br>size:</td>
            <td><input type=text name=windowSize value={{windowSize}}></td>
            <td>(The maximum angle from zenith that an object can be)</td>
            </tr>
            </table>
        <br>
        <td><input type=submit></td>
        </form>
    </ul>
</p>

<h3>Now</h3>

<p>Your current zenith is at:&emsp;{{zenithNowRA}}&emsp;{{zenithNowDec}}</p>

<a href="#asteroidDiv">Jump to Asteroid Results</a><br>
<a href="#dsoDiv">Jump to Deep Sky Object Results</a><br>
<a href="#variablesDiv">Jump to Variable Star Results</a><br>

<div id=asteroidDiv style="display: inline-block; margin: 2em;">
    <p>There are {{asteroids|length}} asteroids within +/- {{windowSize}} degrees of your zenith.</p>

    <table border=2px style="border-collapse: collapse; margin: 1em;">
    <tr><th>Name</th> <th>RA</th> <th>Dec</th> <th>Mag</th></tr>
        {% for asteroid in asteroids %}
            <tr>
            <td>{{asteroid.record.name}}</td>
            <td>{{asteroid.ephem.ra|floatformat:3}}</td>
            <td>{{asteroid.ephem.dec|floatformat:3}}</td>
            <td>{{asteroid.ephem.mag|floatformat:2}}</td>
            <tr>
        {% endfor %}
    </table>
</div>

<div id=dsoDiv style="display: inline-block; margin: 2em;">
    <p>There are {{extendedSources|length}} deep sky objects within +/- {{windowSize}} degrees of your zenith.</p>

    <table border=2px style="border-collapse: collapse; margin: 1em;">
    <tr><th>Name</th> <th>RA</th> <th>Dec</th> <th>Mag</th> <th>Width</th> <th>W/H<br>ratio</th></tr>
        {% for extendedSource in extendedSources %}
            <tr>
            <td>{{extendedSource.identifier}}</td>
            <td>{{extendedSource.ra|floatformat:3}}</td>
            <td>{{extendedSource.dec|floatformat:3}}</td>
            <td>{{extendedSource.isophotalKMag|floatformat:2}}</td>
            <td>{{extendedSource.isophotalKSemiMajor|floatformat:2}}</td>
            <td>{{extendedSource.isophotalKMinorMajor|floatformat:2}}</td>
            <tr>
        {% endfor %}
    </table>
</div>

<div id=variablesDiv style="display: inline-block; margin: 2em;">
<p>There are {{variableStars|length}} variable stars within +/- {{windowSize}} degrees of your zenith.</p>

    <table border=2px style="border-collapse: collapse; margin: 1em;">
    <tr><th>Name</th> <th>RA</th> <th>Dec</th> <th>Mag<br>max</th> <th>Mag<br>min</th>
    <th>Period</th> <th>Type</th> <th>Type2</th> <th>Spectral<br>type</th></tr>
        {% for variableStar in variableStars %}
            <tr>
            <td>{{variableStar.identifier}}</td>
            <td>{{variableStar.ra|floatformat:3}}</td>
            <td>{{variableStar.dec|floatformat:3}}</td>
            <td>{{variableStar.magMax|floatformat:2}}</td>
            <td>{{variableStar.magMin|floatformat:2}}</td>
            <td>{{variableStar.period|floatformat:2}}</td>
            <td>{{variableStar.variableType}}</td>
            <td>{{variableStar.variableType2}}</td>
            <td>{{variableStar.spectralType}}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock mainbody %}

