{% extends "cosmicapp/base.html" %}

{% load static %}
{% load cosmicapp_extras %}

{% block extrahead %}
{% endblock extrahead %}

{% block mainbody %}
<h2>Process task description for '<i>{% block processName %}undefined processName{% endblock %}</i>'</h2>

<h3>Synopsis</h3>

<p>
{% block synopsis %}undefined synopsis{% endblock %}
</p>

<h3>Description</h3>

<p>
{% block description %}undefined description{% endblock %}
</p>

<h3>Arguments</h3>

<p>
<i>Note: These arguments are chosen and passed to this task internally by the Cosmic
website itself.  They are documented here for completeness, however a user of the site
should not ever need to worry about them.</i>
</p>

{% block arguments %}<p>Arguments not documented yet.</p>{% endblock %}

<p>
</p>

{% endblock mainbody %}
