{% extends "cosmicapp/base.html" %}
{% load cosmicapp_extras %}

{% block extratitle %} - Process queue {% endblock %}

{% block mainbody %}
<h2>Process Queue</h2>
<p>This page shows the jobs currently waiting to be executed by the site.  When an image is uploaded it needs to be
processed by a series of programs which calculate statistics about the image, combine it with calibration frames,
locate stars in the image, and many other things.  Each of these individual operations constitutes a single process
which gets put into this queue until the server has time to execute it.</p>

    <table border="2px">
    <tr>
        <th> User<br><br> <a href="/about/processes/">Process</a> </th>
        <th> Submitted <br><br> (time) </th>
        <th> Started <br><br> (time) </th>
        <th> Finished <br><br> (time) </th>
        <th> Priority <br><br> (value)</th>
        <th> Est CPU <br>(actual)<br> (s) </th>
        <th> Est Bw <br><br>(size)</th>
        <th> Est Storage <br><br>(size)</th>
        <th> Est IO <br><br>(size)</th>
        <th> Completed <br><br> (T/F/Err) </th>
    </tr>

    {% for processInput in processInputsUncompleted %}
    <tr bgcolor="#ee3">
        <td>
            <a href="/user/{{processInput.requestor}}/">{{processInput.requestor}}</a>
            <br><br>
            <a href="/about/processes/{{processInput.process}}">{{processInput.process}}</a>
        </td>
        <td> {{processInput.submittedDateTime|formatTime|safe}} </td>
        <td> {{processInput.startedDateTime|formatTime|safe}} </td>
        <td> {{processInput.processOutput.all.0.finishedDateTime|formatTime|safe}} </td>
        <td> {{processInput.priority}} </td>
        <td> {{processInput.estCostCPU|floatformat:2}} s </td>
        <td> {{processInput.estCostBandwidth|filesizeformat}} </td>
        <td> {{processInput.estCostStorage|filesizeformat}} </td>
        <td> {{processInput.estCostIO|filesizeformat}} </td>
        <td> {{processInput.completed}} </td> </tr>
    {% endfor %}

    {% for processInput in processInputsCompleted %}
    {% if processInput.completed == "success" or processInput.completed == "success." %}
        <tr bgcolor="lightgreen">
    {% else %}
        <tr bgcolor="#e22">
    {% endif %}
        <td>
            <a href="/user/{{processInput.requestor}}/">{{processInput.requestor}}</a>
            <br><br>
            <a href="/about/processes/{{processInput.process}}">{{processInput.process}}</a>
        </td>
        <td> {{processInput.submittedDateTime|formatTime|safe}} </td>
        <td> {{processInput.startedDateTime|formatTime|safe}} </td>
        <td> {{processInput.processOutput.all.0.finishedDateTime|formatTime|safe}} </td>
        <td> {{processInput.priority}} </td>
        <td> {{processInput.estCostCPU|floatformat:2}} s <br>
        ({{processInput.processOutput.all.0.actualCostCPU|floatformat:2}} s) </td>
        <td> {{processInput.estCostBandwidth|filesizeformat}} </td>
        <td> {{processInput.estCostStorage|filesizeformat}} </td>
        <td> {{processInput.estCostIO|filesizeformat}} </td>
        <td> {{processInput.completed}}
        {% if processInput.processOutput.all.0 %}
            <br><a href="/processoutput/{{processInput.processOutput.all.0.pk}}/">Output {{processInput.processOutput.all.0.pk}}</a>
        {% endif %}
        </td>
    </tr>
    {% endfor %}

    </table>

{% endblock %}

