{% extends "cosmicapp/base.html" %}
{% load static %}

{% block extratitle %} - Image {{id}} - Questions {% endblock %}

{% block mainbody %}
<script>


imageID = {{id}};

function getNextQuestion()
{
    table = document.getElementById("imageQuestionTable");
    table.innerHTML = "<tr><td>Loading question...</td></tr>";

    request = new XMLHttpRequest();

    request.onreadystatechange = function()
    {
        if(this.readyState == 4 && this.status == 200)
        {
            xml = this.responseXML;
            html = "";

            questions = xml.getElementsByTagName('Question');
            if(questions.length > 0)
            {
                question = questions[0]
            }
            else
            {
                nextImage = xml.getElementsByTagName('NextImage');
                if(nextImage.length > 0)
                {
                    attr = nextImage[0].attributes;
                    html = '<tr><td>No more questions for this image.  ';
                    html += '<a href="/image/' + attr.getNamedItem('id').nodeValue + '/question/">Next of your images</a><br><br>';
                    html += 'Or answer questions on a <a href="/image/-1/question/">random</a> image.</td></tr>';
                    table.innerHTML = html
                }
                else
                {
                    table.innerHTML = '<tr><td>No more questions for this image.</td></tr>';
                }

                return
            }

            attr = question.attributes;

            html += '<tr><td><h3>' + attr.getNamedItem('titleText').nodeValue + '</h3></td></tr>\n';
            html += '<tr><td><b>' + attr.getNamedItem('text').nodeValue + '</b></td></tr>\n';
            html += '<tr><td>' + attr.getNamedItem('descriptionText').nodeValue + '</td></tr>\n';
            // TODO This form should really onsubmit through a javascript function but I can't get it to work with the CSRF protection.
            html += '<tr><td><form method=post id=answerForm onsubmit="/image/' + imageID + '/question/">';
            html += attr.getNamedItem('responsesHTML').nodeValue;
            html += '<br><br><input type=submit class=button value=Submit>\n';
            html += '</form></td></tr>\n';

            table.innerHTML = html
        }
    }

    request.open("GET", "/image/" + imageID + "/getquestion/", true);
    request.send()
};

window.onload = getNextQuestion;

</script>

<h2>Image {{id}} questions</h2>

<table>
<td>
    <div id=imageThumbnailDiv class=imageQuestionDisplay>
        <img src="{{image.getThumbnailUrlLarge|safe}}">
    </div>
</td>

<td valign=top>
    <div id=imageQuestionDiv class=imageQuestionQuestions>
        <table id="imageQuestionTable">
            <td>blah</td>
        </table>
    </div>
</td>

{% endblock %}

