{% extends "cosmicapp/base.html" %}

{% load static %}
{% load cosmicapp_extras %}

{% block extratitle %} - Skeleton {% endblock extratitle %}

{% block extrahead %}
{% comment %}
{% include "./jquery.html" %}
{% if user.is_authenticated %}<script src="/static/cosmicapp/bookmark.js"></script>{% endif %}
<script src="/static/cosmicapp/imageTable.js"></script>
<script src="/static/cosmicapp/raDec.js"></script>
<script src="/static/cosmicapp/math.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/cosmicapp/bokeh-0.12.9.min.css">
<script src="/static/cosmicapp/bokeh-0.12.9.min.js"></script>
<script src="/static/cosmicapp/bokeh-api-0.12.9.min.js"></script>
{% endcomment %}
{% endblock extrahead %}

{% block mainbody %}
{% endblock mainbody %}
