{% extends "cosmicapp/base.html" %}

{% block mainbody %}
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<input type="file" name="myfiles" multiple=""><br><br>
<button type="submit">Upload</button>
</form>

{% if upload_successful %}
<p>File upload successfull.</p>

    <table border="2px">
    <tr> <th>File name</th> <th>Size (bytes)</th> <th>sha256sum</th> </tr>
    {% for record in records %}
        <tr> <td>{{record.originalFileName}}</td> <td>{{record.uploadSize}}</td> <td>{{record.fileSha256}}</td> </tr>
    {% endfor %}
    </table>

{% endif %}

{% endblock %}
