{% extends "cosmicapp/base.html" %}

{% load static %}
{% load cosmicapp_extras %}

{% block extratitle %} - Upload session {{uploadSession.id}} {% endblock extratitle %}

{% block extrahead %}
{% include "./jquery.html" %}
<script src="/static/cosmicapp/comment.js"></script>
{% endblock extrahead %}

{% block mainbody %}
<a href="/uploadSession/{{uploadSession.id|add:-1}}">&lt;Upload session
{{uploadSession.id|add:-1}}</a>&emsp;&emsp;
<a href="/uploadSession/{{uploadSession.id|add:1}}">Upload session {{uploadSession.id|add:1}} &gt;</a>

<h3>Upload session {{uploadSession.id}}</h3>

<div style="float: right; border: 1px solid black; margin: 1em; padding: .5em;">
{% newComment "uploadSession" uploadSession.id "Comment on this upload session" %}

{% with uploadSession.uploadingUser as highlightCommentsFromUser %}
{% with "Comments made by the user who uploaded these files<br>will be highlighted with a blue background." as extraCommentText %}
{% displayCommentsFor uploadSession "Comments for this upload session:" %}
{% endwith %}
{% endwith %}
</div>

<p>
Uploaded by user: <a href="/user/{{uploadSession.uploadingUser}}/">{{uploadSession.uploadingUser}}</a><br>
Uploaded on: {{uploadSession.dateTime}}<br><br>
Upload consisted of {{uploadSession.uploadedFileRecords.count}} files:<br>

{% for uploadedFileRecord in uploadSession.uploadedFileRecords.all %}
    &emsp;{{uploadedFileRecord.originalFileName}} - {{uploadedFileRecord.uploadSize|filesizeformat}} -
    {% for image in uploadedFileRecord.image.all %}
        <a href="/image/{{image.id}}/">Image {{image.id}}</a>
    {% endfor %}
    - SHA256: {{uploadedFileRecord.fileSha256}}<br>
{% endfor %}
</p>

Images uploaded during this upload session:

{% with "uploadSessionId="|concat:uploadSession.id as queryParams %}
{% include "./imageTable.html" with galleryName="userGallery" includeLinks="true" thumbnailSize="Medium" %}
{% endwith %}

{% endblock mainbody %}

