{% extends "cosmicapp/base.html" %}
{% load cosmicapp_extras %}

{% block extratitle %} - Upload files {{foruser.username}} {% endblock %}

{% block extrahead %}
{% include "./jquery.html" %}
<script src="/static/cosmicapp/search.js"></script>
{% endblock extrahead %}

{% block mainbody %}
<h2>Upload</h2>

<p>This page is for uploading images and observing notes to be shared on Cosmic.  <i>Please only upload images of the sky
and calibration images.</i>  For uploading pictures of yourself or your equipment you can do that on your <a
href="/user/{{user}}">user
page</a>.</p>

<p>Please keep in mind that Cosmic is NOT a website for sharing arbitrary files, ONLY ASTRONOMICAL IMAGES,
CALIBRATION IMAGES, AND OBSERVER NOTES WILL BE KEPT &ndash; ALL OTHER FILES WILL BE DELETED.</p>

<p>The following image file types are supported:

<b>
{% for filetype in supportedImageTypes %}
    &nbsp;&nbsp;&nbsp;{{filetype}}
{% endfor %}
</b></p>

<p>Once your images have been successfully uploaded they will be added to the processing queue where they will be plate
solved, source extracted, and so forth.</p>

<p>
You can upload multiple files at once, and if you do a record is kept of all the files
that were uploaded at the same time.  We recommend using this to upload files grouped by
the location you took them from, or if you sometimes use different equipment you should
upload them grouped by that, etc.  This will make it easy to add this information later on
by adding the appropriate tags to all the files at once.  Do not bother manually grouping
them by time, since the file headers almost always include this anyway.
</p>

<p>
Below is a form allowing you to tell us what you were observing, where you observed it
from, and what instrument you used to observe it from.  It is recommended that you set as
much of this information as you can right when the file is uploaded.  Not only does this
prevent you from forgetting to enter it later, it also makes it more likely we will find
a plate solution for the uploaded images since we only have to search certain portions of
the sky.  The easiest way to do this is to upload the images right when you are observing,
or just after, grouping all the images for a given target (or within a few degrees of it)
into a single upload.
</p>

<div id=searchResultsDiv style="float:right; margin: 1em; padding: .5em; width: 500px; border: 2px solid lightgrey;" hidden>
</div>

<div style="margin: 1em; padding: .5em; width: 525px; border: 2px solid lightgrey;">
<form method="get" action="/upload/">
Object Name: <input id=object type=text name=object value="{{object}}">&emsp;<a class=functionLink onclick="searchForObject()">(Search)</a>
<br>Object RA: <input id=objectRA type=text name=objectRA value="{{objectRA}}">
<br>Object Dec: <input id=objectDec type=text name=objectDec value="{{objectDec}}">
<br>Overlapping image ID Number: <input type=text name=image value="{{image}}">
<br>Plate scale (arcsec/pixel): <input type=text name=plateScale value="{{plateScale}}">
<br>Observing location:
<select name=observatoryID>
    <option value="">Select observatory</option>

    {% if defaultObservatory %}
        <option value="{{defaultObservatory.pk}}" {% if defaultObservatory.pk == observatoryID %}selected="selected"{% endif %}>{{defaultObservatory.name}}
        ({{defaultObservatory.lat|floatformat:3}}
        {{defaultObservatory.lon|floatformat:3}})</option>
    {% endif %}

    {% for otherObservatory in otherObservatories %}
        <option value="{{otherObservatory.pk}}" {% if otherObservatory.pk == observatoryID %}selected="selected"{% endif %}>{{otherObservatory.name}}
        ({{otherObservatory.lat|floatformat:3}}
        {{otherObservatory.lon|floatformat:3}})</option>
    {% endfor %}
</select>

<br>Instrument Used:
<select name=instrumentID>
    <option value="">Select instrument</option>

    {% if defaultInstrument %}
        <option value="{{defaultInstrument.pk}}" {% if defaultInstrument.pk == instrumentID %}selected="selected"{% endif %}>{{defaultInstrument.name}}
        </option>
    {% endif %}

    {% for otherInstrument in otherInstruments %}
        <option value="{{otherInstrument.pk}}" {% if otherInstrument.pk == instrumentID %}selected="selected"{% endif %}>{{otherInstrument.name}}
        </option>
    {% endfor %}
</select>

<br>Processing Priority:
<input type=radio name=priority value=normal checked disabled> Normal&emsp;
<input type=radio name=priority value=low disabled> Low&emsp;

<br><input type=submit value="Update: Click before uploading if setting any of these manually.">
</form>
</div>

<!-- TODO: Add a progress indicator. -->
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<input type="file" name="myfiles" multiple=""><br><br>
<button type="submit" class=button>Upload</button>
</form>

{% if upload_successful %}
<p>File upload successfull. A new upload session record has been created to group these
files together for later use.  If you would like to set common properties of the uploaded
files in this group, click <a href="/uploadSession/{{uploadSession.id}}">here</a>.</p>


    <table border="2px">
    <tr> <th>File name</th> <th>Size (bytes)</th> <th>sha256sum</th> </tr>
    {% for record in records %}
        <tr> <td>{{record.originalFileName}}</td> <td>{{record.uploadSize|filesizeformat}}</td> <td>{{record.fileSha256}}</td> </tr>
    {% endfor %}
    </table>

{% endif %}

{% endblock %}
