{% extends "cosmicapp/base.html" %}
{% load cosmicapp_extras %}

{% block extratitle %} - Details for user {{foruser.username}} {% endblock %}

{% block mainbody %}
<h2>User profile for {{foruser.username}}</h2>

{% if user.username == foruser.username and edit == 'true' %}
    <form action="/user/{{user.username}}/" method="POST">
        {% csrf_token %}
        {{foruserForm.as_p}}
        <input type="submit" value="Save Profile">
    </form>
{% else %}
    <ul>
        <p>Birth Date: {{foruser.profile.birthDate}}</p>
        <p>Limiting Magnitude: {{foruser.profile.limitingMag}}</p>

        {% if foruser.profile.defaultObservatory %}
            <p>
            Default Observatory:
            <a href="/observatory/{{foruser.profile.defaultObservatory.pk}}">
            {{foruser.profile.defaultObservatory.name}}
            (Lat: {{foruser.profile.defaultObservatory.lat}}
            Lon: {{foruser.profile.defaultObservatory.lon}}
            Elevation: {{foruser.profile.defaultObservatory.elevation}} m)
            </a>
            {% if user.username == foruser.username %}
                &emsp;&emsp;
                <form action="/observatory/{{foruser.profile.defaultObservatory.pk}}/" method="POST">
                {% csrf_token %}
                <input type=hidden name=makedefault value=clear>
                <input type=submit class=button value="Unset as default">
                </form>
            {% endif %}
            </p>
        {% else %}
            <p>
            Default Observatory: None set
            {% if user.username == foruser.username %}, create one below and go to its page to choose it as a default{% endif %}
            </p>
        {% endif %}

        <p>
        Other Observatories:
        {% if user.username == foruser.username %}(<a href="/observatory/new">add observatory</a>){% endif %}
        <br>
        {% for otherObservatory in otherObservatories %}
            <a href="/observatory/{{otherObservatory.pk}}">
            {{otherObservatory.name}}
            (Lat: {{otherObservatory.lat}}
            Lon: {{otherObservatory.lon}}
            Elevation: {{otherObservatory.elevation}} m)
            </a>
            <br>
        {% endfor %}
        </p>

        <p><a href="/user/{{foruser}}/bookmarks/">Bookmarks for user: {{foruser}}</a></p>
    </ul>

    {% comment %}
    TODO: Consider changing the initial edit url from a post like this to a simple get request, so it can easily be
    linked to from other parts of the site with a simple 'a href' link.  Use a url something like /user/BLAH/edit.  The
    actual form submission on the edit page should be left as a post request, just the request to load the form itself
    should be changed.
    {% endcomment %}
    {% if user.username == foruser.username %}
        <form action="/user/{{user.username}}/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="edit" value="true">
            <input type="submit" class=button value="Edit Profile">
        </form>
    {% endif %}
{% endif %}

<p>
Other useful queries:<br>

Images for this user with failed astrometry.net plate solutions:
<a href="/image/gallery/?queryParams=user={{foruser}}:imageProperty=astrometryNet=failure">Query</a><br>

Images for this user with successful astrometry.net plate solutions:
<a href="/image/gallery/?queryParams=user={{foruser}}:imageProperty=astrometryNet=success">Query</a><br>

</p>

{% with "user="|concat:foruser as queryParams %}
{% include "./imageTable.html" with galleryName="userGallery" includeLinks="true" thumbnailSize="Medium" %}
{% endwith %}

{% endblock %}

