{% extends "cosmicapp/base.html" %}
{% load cosmicapp_extras %}

{% block extratitle %} - Details for user {{foruser.username}} {% endblock %}

{% block mainbody %}
<h2>User profile for {{foruser.username}}</h2>

{% if user.username == foruser.username and edit == 'true' %}
    <form action="/user/{{user.username}}/" method="POST">
        {% csrf_token %}
        {{foruserForm.as_p}}
        <input type="submit" value="Save Profile">
    </form>
{% else %}
    <ul>
        <li>Home Lat: {{foruser.profile.homeLat}}</li>
        <li>Home Lon: {{foruser.profile.homeLon}}</li>
        <li>Elevation (m): {{foruser.profile.elevation}}</li>
        <li>Birth Date: {{foruser.profile.birthDate}}</li>
    </ul>

    {% comment %}
    TODO: Consider changing the initial edit url from a post like this to a simple get request, so it can easily be
    linked to from other parts of the site with a simple 'a href' link.  Use a url something like /user/BLAH/edit.  The
    actual form submission on the edit page should be left as a post request, just the request to load the form itself
    should be changed.
    {% endcomment %}
    {% if user.username == foruser.username %}
        <form action="/user/{{user.username}}/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="edit" value="true">
            <input type="submit" class=button value="Edit Profile">
        </form>
    {% endif %}
{% endif %}

{% with "user="|concat:foruser as queryParams %}
{% include "./imageTable.html" with galleryName="userGallery" includeLinks="true" thumbnailSize="Medium" %}
{% endwith %}

{% endblock %}

