{% extends "cosmicapp/base.html" %}
{% load cosmicapp_extras %}

{% block extratitle %} - Details for user {{foruser.username}} {% endblock %}

{% block extrahead %}
{% include "./jquery.html" %}
<script src="/static/cosmicapp/imageTable.js"></script>
{% endblock extrahead %}

{% block mainbody %}
<h2>User profile for {{foruser.username}}</h2>

<table>
<tr>
<td style="vertical-align:top">

{% if user.username == foruser.username and edit == 'true' %}
    <form action="/user/{{user.username}}/" method="POST">
        {% csrf_token %}
        {{foruserForm.as_p}}
        <input type="submit" value="Save Profile">
    </form>
{% else %}
    <ul>
        <p>User Joined: {{foruser.date_joined}}</p>
        <p>Last Login: {{foruser.last_login}}</p>
        <p>Birth Date: {{foruser.profile.birthDate}}</p>
        <p>
        Estimated Cost to Run Site: <a href="/user/{{foruser}}/cost/">${{foruser.profile.totalCost|default_if_none:0|floatformat:2}}</a>
        <br>Total Donations Given: {{foruser.profile.totalDonations|default_if_none:0|floatformat:2}}
        <br>Cost balance: {{foruser.profile.totalDonations|default_if_none:0|subtract:foruser.profile.totalCost|floatformat:2}}
        </p>
        <p>Limiting Magnitude: {{foruser.profile.limitingMag}}</p>

        {% if foruser.profile.defaultObservatory %}
            <p>
            Default Observatory:
            <span style="display: inline-block;">
            <a href="/observatory/{{foruser.profile.defaultObservatory.pk}}">
            {{foruser.profile.defaultObservatory.name}}<br>
            Lat: {{foruser.profile.defaultObservatory.lat|floatformat:1}}
            Lon: {{foruser.profile.defaultObservatory.lon|floatformat:1}}<br>
            Elevation: {{foruser.profile.defaultObservatory.elevation|floatformat:1}} m
            </a>
            </span>
            {% if user.username == foruser.username %}
                &emsp;&emsp;
                <form action="/observatory/{{foruser.profile.defaultObservatory.pk}}/" method="POST">
                {% csrf_token %}
                <input type=hidden name=makedefault value=clear>
                <input type=submit class=button value="Unset as default">
                </form>
            {% endif %}
            </p>
        {% else %}
            <p>
            Default Observatory:
            <span style="display: inline-block;">
            None set
            {% if user.username == foruser.username %}, create one below and go to<br>its page to choose it as a default.{% endif %}
            </span>
            </p>
        {% endif %}

        <p>
        Other Observatories:
        {% if user.username == foruser.username %}(<a href="/observatory/new">add observatory</a>){% endif %}
        <br>
        {% for otherObservatory in otherObservatories %}
            <a href="/observatory/{{otherObservatory.pk}}">
            {{otherObservatory.name}}
            (Lat: {{otherObservatory.lat}}
            Lon: {{otherObservatory.lon}}
            Elevation: {{otherObservatory.elevation}} m)
            </a>
            <br>
        {% endfor %}
        </p>

        <p><a href="/user/{{foruser}}/bookmarks/">Bookmarks for user: {{foruser}}</a></p>
    </ul>

    {% comment %}
    TODO: Consider changing the initial edit url from a post like this to a simple get request, so it can easily be
    linked to from other parts of the site with a simple 'a href' link.  Use a url something like /user/BLAH/edit.  The
    actual form submission on the edit page should be left as a post request, just the request to load the form itself
    should be changed.
    {% endcomment %}
    {% if user.username == foruser.username %}
        <form action="/user/{{user.username}}/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="edit" value="true">
            <input type="submit" class=button value="Edit Profile">
        </form>
    {% endif %}
{% endif %}

<p>
</td>
<td>
{% if edit != 'true' %}
{% if uploadSessions %}
    {% if user == foruser %}
        Your recent upload sessions:
    {% else %}
        Upload sessions for this user:
    {% endif %}

    <br><br>

    {% for uploadSession in uploadSessions %}
        <a href="/uploadSession/{{uploadSession.id}}">{{uploadSession.dateTime}}&emsp;{{uploadSession.uploadedFileRecords.count}} files</a><br>
    {% endfor %}
{% else %}
    {% if user == foruser %}
        You have not yet uploaded any images or observing notes.<br>
        You can upload these on the <a href="/upload/">upload</a> page.
    {% else %}
        This user has not yet uploaded<br>any images or observing notes.
    {% endif %}
{% endif %}

{% if downloadSessions %}
    <br><br>
    {% if user == foruser %}
        Your recent download sessions:
    {% else %}
        Download sessions for this user:
    {% endif %}

    <br><br>

    {% for downloadSession in downloadSessions %}
        <a
        href="/downloadSession/{{downloadSession.id}}">{{downloadSession.dateTime}}&emsp;{{downloadSession.fileRecords.count}} files</a><br>
    {% endfor %}
{% else %}
    {% if user == foruser %}
        <br><br>You have not yet created any download sessions.<br>
        You can create these on the <a href="/download/">download</a> page.
    {% else %}
        <br><br>This user has not created any download sessions.
    {% endif %}
{% endif %}

{% if audioNotes %}
    <br><br>
    {% if user == foruser %}
        Your recent audio notes:
    {% else %}
        Audio notes for this user:
    {% endif %}

    <br><br>

    {% for audioNote in audioNotes %}
        <a href="/audioNote/{{audioNote.id}}">{{audioNote.dateTime}} {% comment %}({{audioNote.length}} s){% endcomment %}
        ({{audioNote.transcriptions.all.count}} transcriptions)</a><br>
    {% endfor %}
{% else %}
    {% if user == foruser %}
        <br><br>You have not yet uploaded any audio notes.<br>
        You can create these on the <a href="/audioNote/">Audio Note</a> page.
    {% else %}
        <br><br>This user has not created any audio notes.
    {% endif %}
{% endif %}
{% endif %}
</td>
</tr>
</table>

{% if edit != 'true' %}
Other useful queries:<br>

Images for this user with failed astrometry.net plate solutions:
<a href="/image/gallery/?queryParams=user={{foruser}}:imageProperty=astrometryNet=failure">Query</a><br>

Images for this user with successful astrometry.net plate solutions:
<a href="/image/gallery/?queryParams=user={{foruser}}:imageProperty=astrometryNet=success">Query</a><br>

</p>

Your uploaded images:<br>
{% with "user="|concat:foruser as queryParams %}
{% include "./imageTable.html" with galleryName="userGallery" includeLinks="true" thumbnailSize="Medium" %}
{% endwith %}
{% endif %}

{% endblock %}

