:root {
	--color-bg: #ffffff;                /* Main background color of the page itself. */
	--color-bg-alt: #e5f1ec;            /* Not currently used. */
	--color-bg-button: #4b9682;         /* Background color of normal buttons. */
	--color-bg-menu: #4b9682;           /* Background color of the top menu on every page. */
	--color-bg-menu-alt: #000000;       /* Background color of the buttons in the top menu when hovered over. */
	--color-txt: #000000;               /* The default color of text on the site. */
	--color-txt-alt: #000000;           /* Not currently used. */
	--color-txt-button: #ffffff;        /* Text color on normal buttons. */
	--color-txt-menu: #ffffff;          /* Text color of the buttons in the top menu. */
	--color-border-button: #4b9682;     /* Color of the outer border on normal buttons. */
}

html * {
	font-family: verdana;
}

p { 
   text-align: justify;
   margin: auto;
   padding-left: 1em;
   padding-right: 1em;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
}

body {
    background: var(--color-bg);
    color: var(--color-txt);
	margin: 0;
	padding: 0;
}

h1 {
}

h2 {
}


ul.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-bg-menu);
}

li.dropdown {
    float: left;
}

.topbarButton, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 0.75em 0.875em;
    text-decoration: none;
    color: var(--color-txt-menu);
}

.topbarButton:hover, .dropdown:hover .dropbtn {
    background-color: var(--color-bg-menu-alt);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0em 0em 1em 0.5em rgba(0,0,0,0.2);
    z-index: 1;
    background-color: var(--color-bg-menu);
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: var(--color-bg-menu-alt);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.button {
    display: inline-block;
    text-align: center;
    padding: 0.75em 0.875em;
    text-decoration: none;
	cursor: pointer;
    border: 0.175em solid var(--color-border-button); /* TODO: This is the same color as bg on day view, should kill
                                                         border entirely unless on night view. */
	border-radius: 0.75em;
	color: var(--color-txt-button);
	background-color: var(--color-bg-button);
}

div.gallery {
    box-shadow: 0em 0em 0.5em 0em rgba(0,0,0,0.2);
}

div.gallery:hover {
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 1em;
    text-align: center;
}

* {
    box-sizing: border-box;
}

/* NOTE: If the .responsive width changes here or in the @media entries below, need to change the handleWindowResize()
 * function in imageTable.html to account for the new values. */
.responsive {
    float: left;
    width: 24.99999%;
	padding: 1em;
}

@media only screen and (max-width: 1000px){
    .responsive {
        width: 33.33333%;
		padding: 0.50em;
    }
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
		padding: 0.25em;
    }
}

@media only screen and (max-width: 400px){
    .responsive {
        width: 100%;
		padding: 0em;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

div.imageQuestionDisplay {
    margin: 10px;
    display: inline;
    float: left;
}

div.imageQuestionQuestions {
    margin: 10px;
    min-width: 250px;
    border: 2px solid green;
}

#imageQuestionTable td {
    padding-bottom: 10px;
}

.imageGalleryZoomWindow {
    background: #202020d0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.imageGalleryZoomWindow img, .imageGalleryZoomWindow div {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;
    max-height: 95%
}

.mosaicDesktop {
    position: relative;
    width: 95%;
    height: 80vh;
    margin: auto;
    padding: 10px 0px;
}

.mosaicCanvas {
    position: relative;
    background: #eeeeee;
    width: 100%;
    height: 100%;
}

.bookmark {
    display: inline
}

.functionLink {
    cursor:pointer;
    color:blue;
    text-decoration:underline;
}

div.comment {
    padding-left: 0.5em;
    margin: 1em;
}
